[2018-01-22 18:46] lurodrig opened #1 "Missing --namespace parameter in the create secret"
Hello there,

It looks like in the [Setting up secrets to access the Oracle Container Registry](https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/installation.md#setting-up-secrets-to-access-the-oracle-container-registry)  the `--namespace` parameter is missed in the `kubectl create secret` command. I guess that it should be something like:

[code]

Hope it helps,

Luis

[2018-01-22 19:05] #1 closed, assigned to nobody

[2018-01-25 22:02] bryantidd opened #13 "Order of entries in weblogic-operator.yaml"
It may have just been a timing issue in my deploys, but the deployment would fail with the config map and secret at the bottom of the yaml file, but when I moved them to the top instead, it deployed successfully every time (6 deployed 5 deletes).

[2018-01-25 22:07] bryantidd opened #14 "Validation for create-domain-job.sh request"
The scripts success relies on the namespace for the domain existing and the secret for the weblogic credentials existing, as well as the persistent volume for the hostpath (with proper permissions).

It would be helpful to provide a few checks for the existence of these resources and exiting the script with an error message describing the failure. A little validation goes a long way.

[2018-01-26 09:51] antonionappi88 opened #16 "Pull image store/oracle/weblogic:12.2.1.3"
Hello there,

In the documentation you suggest for all the images to pull manually the images on the minions to avoid wrong credential or secret in wrong namespace.

But I let Kubernetes to pull the images for me in the case of the weblogic-operator(no problem) and I wanted to do the same for the job that will generate the domain.
But in the yaml generated ( **domain-job.yaml**) by the script **cr

[2018-01-26 10:25] antonionappi88 opened #17 "Docker Registry Creation : docker-server parameter"
Hello,

 I added the imagePullSecret variable in the domain-job-template.yaml file [issue ](https://github.com/oracle/weblogic-kubernetes-operator/issues/16) but was not enough.

I had also recreate the registry secret specifying in the **--docker-server** parameter the URL  **index.docker.io/v1/** instead of **docker.com**.  In this way Kubernetes was able to pull the image itself.

Cheers,
Anton

[2018-01-26 14:25] #14 closed, assigned to markxnelson

[2018-01-26 17:12] antonionappi88 opened #19 "Domain Custom Resource Definition"
Hello,
I installed a Kubernetes Cluster on OCI  and added a NFS  volume to all worker.

But I have problem to run a  WebLogic domain.

Basically the script `create-domain-job` and `kubectl get domain --all-namespaces` return me this :

`the server doesn't have a resource type "domain"`

I was not able to find any CustomResourceDefinition resource. (the kubectl get crd returns nothing).

Can be tha

[2018-01-26 17:18] markxnelson opened #20 "This is just a demo issue, please ignore"

[2018-01-26 19:01] #20 closed, assigned to nobody

[2018-01-26 21:46] #16 closed, assigned to nobody

[2018-01-26 21:46] #17 closed, assigned to markxnelson

[2018-01-26 23:31] mgianatagh opened #23 "create-domain-job: status checks of PV can occur too quickly"
It has been observed that the status checks of the persistent volume (e.g. state bound) can occur before the volume has time to get into that state, thus causing the script to fail.  Use a similar loop as the create-weblogic-operator script to poll for the expected status and fail after 10 tries.

[2018-01-27 22:52] rjeberhard opened #25 "Design retry on failure mechanism"
We're discussing how to improve the retry / failure processing for the operator.  In the current code base, we read domain resources when the operator starts and respond to watch events on these resources.  If the activity for any given domain fails (from start-up or watch event), there is no follow-up retry activity.  We do have retry behavior for each individual k8s request, so the overall activ

[2018-01-28 12:18] cmolinah opened #26 "docker pull for early access users"
I'm installing following this guide: https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/installation.md

It is said:

After that, it is recommended to pull the Docker image but there is no reference por early access users.

I tried to login in quay.io but I didn't found any Docker image.

[2018-01-28 15:00] markxnelson opened #27 "Create prometheus annotations on pods"
We need to add a parameter that tells the operator that it should add these annotations to pods that it creates when we are using the prometheus integration and WLS Exporter:

[code]

[2018-01-28 18:04] #26 closed, assigned to nobody

[2018-01-29 14:49] #23 closed, assigned to nobody

[2018-01-29 14:50] #13 closed, assigned to markxnelson, mgianatagh

[2018-01-29 19:45] rjeberhard opened #30 "JCE Unlimited Strength Jurisdiction Policy Files"
We received the following request in a comment on a separate issue:

@RisingPhorce

We'll have to do some research...  I assume we can't distribute these policy files because I think there are import restrictions in certain countries.

[2018-01-30 01:44] bryantidd opened #31 "Error when using CoreOS Tectonic - HealthCheckHelper.java"
I have received the following error from the pod running the operator:
{"exception":"","headers":{},"code":"","method":"verifyK8sVersion","level":"INFO","thread":1,"timeInMillis":1517275411833,"message":"Verifying Kubernetes minimum version","body":"","class":"oracle.kubernetes.operator.helpers.HealthCheckHelper","timestamp":"01-30-2018T01:23:31.833+0000"}
{"exception":"\njava.lang.NumberFormatExc

[2018-01-30 02:06] bryantidd opened #32 "Thoughts on supporting dynamic persistent volumes"
I have made edits to the input and template yaml files and the create shell scripts to support my own custom provisioner and storage class (AWS EFS based).

I added the following values to the inputs:
`#`expecting dynamic or static
persistenceVolumeType: dynamic
`#`expecting size - for dynamic 1Mi is sufficient
persistenceVolumeSize: 1Mi

I added the following to shell scripts:
`#` To check for va

[2018-01-31 09:47] gstrzalka opened #34 "Issues within kubernetes/internal/generate-security-policy.sh"
While installing operator (./create-weblogic-operator.sh -i create-operator-inputs.yaml) got following issues:
1. *if* test in line 47:

looks like wrong comparison operator is used:
`if [ "$1" == "-o" ] ; then`
following seems to be more correct:
`if [ "$1" = "-o" ] ; then`

2. I found no mention of shell version to be used with scripts, on my ubuntu 16.04 I have dash version 0.5.8-2.1ubuntu2 con

[2018-02-01 10:25] antonionappi88 opened #36 "verifyK8sVersion fails with java.lang.ArrayIndexOutOfBoundsException exception"
Hello,
I was running the source code of the Operator in Eclipse and I noticed that if was failing on the function **verifyK8sVersion** in **HealthCheckHelper.java** .
That's because the gitVersion of my server is not just **v1.7.9** but **v1.7.9+coreos.0**. (As you can see from the kubectl command below).

[code]

I fix it adding this piece of code :

[code]
It works with both case.

Cheers,
Anton

[2018-02-01 12:48] gstrzalka opened #37 "Domain deletion procedure issue"
In _shutdown-domain.md_ shutdown command:
`kubectl delete domain DOMAINUID`
should be extended with `-n NAMESPACE`, i.e.:
`kubectl delete domain DOMAINUID -n NAMESPACE`

After domain is stopped (AdminServer and ManagedServers) there is traefik Deployment (and related pod) left active/running. Please consider adding similar to following to shutdown procedure:
`kubectl delete deployment domain1-clus

[2018-02-01 15:41] markxnelson opened #41 "Provide an easy way to remove a domain"
Provide a script that will remove a domain and all of the associated resources, e.g. load balancer, ingress.

Should not actually delete the domain directory, etc. on the PV.  Just remove the domain from the cluster.

[2018-02-01 15:42] markxnelson opened #42 "Provide an option to overwrite an existing domain"
Currently, the create domain job will give an error and stop if there is any data already in the PV where it wants to create the domain.  We should provide an "override" option which will delete & replace instead of failing.

[2018-02-01 15:42] markxnelson opened #43 "Update scripts to better support NFS instead of HostPath PV"

[2018-02-01 16:20] #37 closed, assigned to markxnelson

[2018-02-01 16:21] #36 closed, assigned to markxnelson

[2018-02-01 17:00] venkat50 opened #44 "create-weblogic-operator.sh fails to complete successfully"
Snippet of the output...

Checking if the persistent volume elk-pv-weblogic-operator already exists
The persistent volume elk-pv-weblogic-operator already exists and will not be re-created
Checking if the persistent volume claim elk-pvc already exists
No resources found.
Creating the persistent volume claim elk-pvc
persistentvolumeclaim "elk-pvc" created
Checking if the persistent volume elk-pv-we

[2018-02-01 17:05] #44 closed, assigned to nobody

[2018-02-01 18:01] cmolinah opened #45 "generate-security-policy.sh execution throws -o: unexpected operator"
when executing ./create-weblogic-operator.sh -i create-operator-inputs.yaml the following errors are thrown:

`Import command completed:  1 entries successfully imported, 0 entries failed or cancelled
MAC verified OK
Generating /home/molina/WLSoperator/weblogic-kubernetes-operator/kubernetes/weblogic-operator.yaml
Running the rbac customization script
/home/molina/WLSoperator/weblogic-kubernetes-o

[2018-02-02 10:27] amyles opened #49 "docker login required for build/installation"
In https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/installation.md there should be a comment to run "docker login" before the docker build command so the images can be pulled from the docker store.

[2018-02-02 10:40] amyles opened #50 "Where to upload operator.tar to?"
From https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/installation.md

Which kubernetes server is the operator.tar uploaded to? Is it the kubernetes master or worker? If multiple masters and workers exist then is the tar uploaded to all nodes?

[2018-02-02 13:22] cmolinah opened #51 "Error pulling weblogic:12.2.1.3 before creating a domain"
I'm following this guide to create a domain: https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/creating-domain.md (I have also checked the associated video in youtube).

I'm having troubles with step "Pull the WebLogic Server image"

I executed:

[code]

Is the documentation correct?

[2018-02-02 14:13] #51 closed, assigned to markxnelson

[2018-02-02 14:29] antonionappi88 opened #54 "Pod killed does not restart"
Hello,
I've a WebLogic domain running. I delete a pod manually ( can be the admin or any of the managed servers) with
[code]

and I notice that the pod does not come back. Is it expected that the weblogic operator does not react in this case?
I checked the weblogic config and the definition of the server deleted is still there so if the weblogic-operator takes care of keeping the domain updated, i

[2018-02-02 14:39] markxnelson opened #55 "Update doc to explain the need to clone the repo"
From Venkat.
The documentation does not make it clear that you need to clone the repo to get all the scripts, etc.

[2018-02-02 14:43] markxnelson opened #56 "provide better guidance on when to use root"
From Hadi,
In the documentation, try to make it a bit clearer when you have to use root or sudo and when to use a normal user.

[2018-02-02 14:49] markxnelson opened #57 "Need to surface image in domain inputs"
MARK will add details later.

domain-custom-resource.yaml:  image: "store/oracle/weblogic:12.2.1.3"

[2018-02-02 14:55] markxnelson opened #58 "Add more detail to the doc for operator inputs"
From Christophe.
Also strengthen the explanation of where to put the docker image after building it - which nodes, etc.
e.g. how to refer to a locally built image vs one from a repo.
which parameters do you actually need to set.
SANs - master or worker nodes, etc.
etc.

[2018-02-02 14:59] markxnelson opened #59 "doc update"
From Grzegorz
Need doc update for the PV removal - needs namespace on PVC.

[2018-02-02 14:59] markxnelson opened #60 "Allow starting zero managed servers"
Ryan knows what to do :)

from Grzegorz

[2018-02-02 16:00] #45 closed, assigned to markxnelson

[2018-02-02 16:01] #42 closed, assigned to markxnelson

[2018-02-02 16:04] #49 closed, assigned to markxnelson

[2018-02-02 17:30] antonionappi88 opened #63 "WebLogic Admin Console not available"
Hello,
in the documentation in the architecture section says :

From the kubernetes :
[code]
It seems that is missing.

[2018-02-02 18:28] markxnelson opened #64 "fix premature merge of -o issue"

[2018-02-02 19:17] #63 closed, assigned to nobody

[2018-02-02 20:05] #64 closed, assigned to markxnelson

[2018-02-02 21:17] rosepan opened #66 "Update README.md to delete PVC in a namespace."
In the section "Removing a domain" in the README.md:
-------------------
To permanently remove a domain from a Kubernetes cluster, first shut down the domain using the instructions provided above in the section titled “Shutting down a domain”, then remove the persistent volume claim and the persistent volume using these commands:

kubectl delete pvc PVC-NAME
kubectl delete pv PV-NAME
-------------

[2018-02-02 22:07] rosepan opened #67 "Need to delete domain job before re-running create-domain-job.sh"
In order to re-run create-domain-job.sh to re-create a domain, we need to shutdown the domain, remove the domain (including the removing of the domain directory) as mentioned in the doc README.md.

However, the doc does not mention the removal of the domain job.

If the domain job exists and we re-run the create-domain-job.sh, the shell script deletes the job first, re-create it next. This is corr

[2018-02-03 16:10] bryantidd opened #68 "adminserver starts but socket error stops operator from working - Close Me after reading"
So I create a domain with domainUid = wi, domainName = widoamin.

Last lines of wi-adminserver log:
<Feb 2, 2018 8:20:39 PM GMT> <INFO> <widomain> <adminserver> <Starting WebLogic server with command line: /usr/java/jdk1.8.0_151/bin/java -Dweblogic.Name=adminserver -Dbea.home=/u01/oracle/wlserver/.. -Djava.security.policy=/u01/oracle/wlserver/server/lib/weblogic.policy -Djava.library.path=::/u01/o

[2018-02-03 18:51] bryantidd opened #69 "adminserver environment and setup scripts - BLOCKER"
It looks like it tries to use a directory to mount the secret to for the weblogic credentials based on /var/run/secrets-$DomainUid, instead of the secretsMountPath from create-domain-job-inputs.yaml.

Also, the domain creation script in the configmap seems to leave the domain name as base_doamin, even after writing the domain. when I exec to the adminserver pod and check the env it lists the DOMAI

[2018-02-05 16:25] antonionappi88 opened #70 "Connection problem with WLST script."
Hello,
I'm not able to connect to the Admin using a wlst script. On the kubernetes side it is correctly configured :

[code]

I tried from my pc  and I have this :

[code]
or

[code]
Tcpdump on my pc and on the OCI servers seems fine (there are packets exchange and also the telnet is working). The curl on the http port works as well:

```curl --user weblogic:welcome1 -H X-Requested-By:MyClient -H

[2018-02-06 22:56] bryantidd commented on #68
Update, I removed all traces of weblogic-operator and domain namespaces, and elasticsearch, kibana, etc.
Started over and changed all the image pull policies to Always so I get latest images every time.

I finally got my adminserver po to come up and even though it gets some readiness errors, it did come up to running fast enough to complete...and the operator to start the managed server.

Will co

[2018-02-07 16:24] #50 closed

[2018-02-07 16:24] #68 closed

[2018-02-07 16:25] #31 closed

[2018-02-07 17:10] antonionappi88 opened #73 "Problem with minor gitversion"
I recreate the cluster from scratch and I had again this problem
[code]

The problem is coming from the fact that the minor version is not just a number :
[code]

And
[code]

I'm fixing it.

[2018-02-07 18:12] moreaut commented on #69
I'm not finding any code in the weblogic operator git repository that sets the pod's DOMAIN_NAME environment variable to base_domain.  I'm guessing this is coming from the weblogic docker image itself - i.e. store/oracle/weblogic:12.2.1.3

[2018-02-07 18:21] moreaut commented on #69
On secretsMountPath, there's a comment in https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/creating-domain.md that says that it should not be modified:

secretsMountPath | Path for mounting secrets.  This parameter should not be modified. |

On the other hand, when I tested it, I noticed that it MUST be set to /var/run/secrets-<domainUID>

I don't see much benefit in letting

[2018-02-07 18:38] #73 closed

[2018-02-07 18:38] rjeberhard commented on #73
Merged pull request

[2018-02-07 19:03] rjeberhard commented on #19
We've pushed a PR to the terraform-kubernetes-installer project to resolve the issue.

[2018-02-07 19:03] #19 closed

[2018-02-07 20:27] LorenKonkus commented on #32
Thanks for the suggestion - we'll investigate adding this.

[2018-02-07 22:00] bryantidd commented on #69
If you decide to force the secrets mount path based on convention (/var/run/secrets-${domainUID}), then I would suggest taking the secretsMountPath out of the yaml...since when ever you need it you could compute it.

In my version of the yaml file it just reads:
# Path for mounting secrets
secretsMountPath: /var/run/secrets-domain1 - so if you don't use domain1 for your domainID you're kind of out

[2018-02-07 22:12] antonionappi88 commented on #19
Yes I saw that it was added just to :

[code]

but it should be added at :

[code]
because actually it is the one used by the API.

[2018-02-07 22:35] rjeberhard commented on #19
Oh, no!  That's too bad.  We had reproduced the error here and it went away with this change, so I'm not sure how the disconnect happened.  Let me follow-up.

[2018-02-07 22:35] bryantidd commented on #69
DOMAIN_NAME is set to base_domain in the create domain process from the wls.jar domain template I think. It usually gets set to the real name when you read and write the domain from the file system. For some reason the environment variable doesn’t seem to get set though. Maybe someone else can verify what I am seeing by running env in a domain and rerun env after sourcing the setDomainEnv.sh file.

[2018-02-07 22:37] bryantidd opened #76 "Questions I'm thinking about on the WebLogic Operator"
One concern is the necessity to have a unique domainUID...is this required only among those resources managed by a particular weblogic-operator?

How will HA work for the operator? Is it just down to the replication set, etc.?

What are the primary resources that must be considered when tuning the operator and it's required resources for relative load levels?

How many namespaces and domains shoul

[2018-02-08 03:50] moreaut commented on #69
I'm working on a fix for the DOMAIN_NAME issue.

Basically, the wls image supports several environment variables (e.g. DOMAIN_NAME) that the container can override.  I need to fix the weblogic operator to set these environment variables on
the pod it creates for the wls server.  The variables are: DOMAIN_NAME, DOMAIN_HOME, ADMIN_NAME (the name of the admin server), and ADMIN_PORT.

[2018-02-08 03:52] moreaut commented on #69
I'm going to work on a fix for the secretsMountPath problem too.

I'm going to choose a fixed file or computable name in the pod for the secrets for the domain
credential, and I'm going to remove support for secretsMountPath from create-domain-job-inputs.yaml.

[2018-02-08 13:41] bryantidd commented on #69
Sounds like a good plan. Thanks.

[2018-02-08 14:12] markxnelson commented on #76
hi @bryantidd
The domainUID is meant to be unique in the world.  We plan to use it when we start supporting HA across clouds, etc., where we would have different instances of the operator collaborating to do things like propagating config changes from active to passive copies of the domain.
It is still early days in thinking through all of the HA/DR scenarios, but we have some ideas.
We don't have

[2018-02-08 15:31] markxnelson commented on #76
Also should support cloud ingress providers - maybe expose a parameter for ingress annotation and create the ingress for the cloud provider's ingress instead of traefik/etc.

[2018-02-08 19:25] markxnelson commented on #34
@gstrzalka can you confirm the fix is working for you? can we close this now? thanks

[2018-02-08 19:33] #67 closed, assigned to nobody

[2018-02-08 19:35] markxnelson commented on #59
already fixed

[2018-02-08 19:35] #59 closed

[2018-02-08 19:36] #66 closed, assigned to nobody

[2018-02-08 20:07] mriccell opened #78 "Remove "Write me .." statements from README.md"
In https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/installation.md we still have statements such as "Write me", "Tom is adding a debug on/off parameter ".  Please remove.

[2018-02-08 21:38] gstrzalka commented on #34
Is ok, closing this one

[2018-02-08 21:38] #34 closed

[2018-02-09 00:20] kaslin opened #79 "Dockerfile Operator Snapshot"
In the Dockerfile, where is the following file supposed to come from?

COPY target/weblogic-kubernetes-operator-0.1.0-alpha-SNAPSHOT.jar /operator/weblogic-kubernetes-operator.jar

This file does not appear to be included in the repository.

[2018-02-09 00:24] kaslin opened #80 "Installation Instructions mvn"
The installation instructions begin by telling you to run:
mvn clean install
But do not explain why you would need Apache Maven, or even that that is what this command is calling. Why would this be needed?

[2018-02-09 00:25] kaslin opened #81 "Installation Instructions Dockerfile"
The installation instructions give the command:
docker build -t weblogic-kubernetes-operator:developer --no-cache=true .
But do not explicitly state that it is expected to be run from the weblogic-kubernetes-operator directory.  This should be clearly stated at the beginning of the instructions.

[2018-02-09 00:59] markxnelson commented on #81
Thank you, I will update that.

[2018-02-09 01:00] markxnelson commented on #79
You need to build first, this is documented in the installation.md file.

[2018-02-09 01:00] markxnelson commented on #80
Thank you, I will update that.

[2018-02-09 08:30] trobert57 opened #85 ""image" parameter in create-operator-inputs.yaml"
For me it was unclear how to name the image parameter in the configuration file. The default points to container-registry.oracle.com. I had built my image within the kubernetes master. I could not find out how to use that. After pushing that image into my local docker-registry, the create-weblogic-operator.sh script finished successfully.

[2018-02-09 13:43] #55 closed

[2018-02-09 13:50] #80 closed

[2018-02-09 13:50] #81 closed

[2018-02-09 13:53] rjeberhard commented on #85
Hi, Thomas.  Thanks for the report.  We had a "chicken-and-egg" problem in that we couldn't get permission to push the image from the master build to container-registry until after the project was fully public.  So, in the meantime, you have to build the image locally and push or load it to your registry of choice.  We'll take another look at the documentation to clarify this.

[2018-02-09 16:33] vanajamukkara commented on #60
The other option to have zero managed servers is by changing replicas in clusterStarup in domain-custom-resource.yaml.
But after changing the replicas to 0 for a cluster in clusterStartup in domain-custom-resource.yaml, it still leaves one managed server pod running instead of bringing down all the managed servers.

[2018-02-09 17:02] kaslin commented on #79
I ran this, from installation.md:

docker build -t weblogic-kubernetes-operator:developer --no-cache=true .

And got it failed with this output:

Step 5/8 : COPY target/weblogic-kubernetes-operator-0.1.0-alpha-SNAPSHOT.jar /operator/weblogic-kubernetes-operator.jar
COPY failed: stat /var/lib/docker/tmp/docker-builder223468053/target/weblogic-kubernetes-operator-0.1.0-alpha-SNAPSHOT.jar: no such fi

[2018-02-09 18:17] trobert57 opened #87 "create-domain-job.sh doesn't start any servers"
Running ./create-domain-job.sh -i create-domain-job-inputs.yaml runs successfully, but doesn't start any wls server. How can I find out, what is going wrong?
My domain namespace is wls1domain (the one that the operator should manage).
kubectl get pods -n wls1domain
NAME                                         READY     STATUS    RESTARTS   AGE
domain1-cluster-1-traefik-6b75757549-w49wr   1/1

[2018-02-09 18:47] #85 closed

[2018-02-09 19:00] trobert57 commented on #87
I would assume, the error is in HealthCheckHelper.java:251.
The current code is:
        String minor_string = info.getMinor();
        // It will check if it is a number.
        // If not it will remove the last part of the string in order to have just a number
        while( ! minor_string.chars().allMatch( Character::isDigit )) {
          minor_string = minor_string.substring(0, minor_string.

[2018-02-09 19:01] #78 closed

[2018-02-09 21:36] markxnelson commented on #87
looks like @rjeberhard has already fixed this.

[2018-02-09 21:43] markxnelson commented on #79
Do you have JDK 1.8 installed?

[2018-02-09 21:49] markxnelson commented on #79
It works fine for me with JDK 1.8 and Maven installed, also on a Mac:

[code]

[2018-02-09 21:51] rjeberhard commented on #87
Yes, I had to fix this as part of porting over our integration tests.

[2018-02-09 21:51] #87 closed

[2018-02-09 22:22] kaslin commented on #79
I have jdk, but not maven. Wasn't aware I needed either of those. I only installed jdk because it had a pop up saying it needed it. These pre-reqs should be stated clearly.

[2018-02-09 23:04] markxnelson commented on #79
I added those requirements to the documentation.  Apologies for the inconvenience.  The intention was to publish the image and just let people pull it from a registry, but we are still working through the process to do that, so for now, and probably for the next few weeks, we need people to build the image themselves.  When we changed the documentation from pulling the image to building it, I miss

[2018-02-09 23:13] kaslin opened #89 "Oracle Container Registry Access"
The installation step:
./create-weblogic-operator.sh –i /path/to/create-operator-inputs.yaml

Is failing due to a missing authentication for the Oracle Container Registry.  "Registering for access to the Oracle Container Registry" is mentioned as a step in the Installation section of the readme, but not is not mentioned in installation.md.  Is this a step the installation guide is missing?

  4m

[2018-02-09 23:14] kaslin commented on #79
You added information about Maven, but JDK is still mentioned nowhere in either README.md or installation.md.

[2018-02-09 23:18] markxnelson commented on #89
You are right the documentation is not clear enough. I will update it. You need to set the image in the inputs file to match the one you just built.

[2018-02-09 23:19] markxnelson commented on #79
It is in the PR: https://github.com/oracle/weblogic-kubernetes-operator/pull/88/files

[2018-02-10 00:55] kaslin commented on #89
How am I supposed to refer to the locally built image?

Even though docker image ls shows this:
REPOSITORY                     TAG                 IMAGE ID            CREATED             SIZE
weblogic-kubernetes-operator   developer           47e8937b3f35        2 hours ago         302MB

Neither the image id nor repository name seems to work:
  4m		1m		5	kubelet, k8s-worker-ad1-0.k8sworkerad1.k8s

[2018-02-10 01:05] kaslin commented on #89
I put it on my master. Which is silly now that you mention it, but it wasn't clear in the instructions.

[2018-02-10 01:05] markxnelson commented on #89
If you have more than one worker, or you built it somewhere else, then you need to get that docker image onto all of the workers.

You can either retag it and push it to a repo like docker.io or quay.io, or you can `docker save weblogic-kubernetes-operator:developer > k.tar` then scp it and `docker load <k.tar` on the workers

[2018-02-10 01:07] markxnelson commented on #89
have a look at the developer instructions too if you get a chance, i think some of the answers are probably there, but we probably need to move them into the user instructions too.  as i said in the other issue, as soon as we get the oracle approval to publish the docker image into container registry, none of this manual building stuff will be needed any more. sorry for the inconvenience.  we had

[2018-02-10 01:12] kaslin commented on #89
I understand the need to put it on the Kubernetes workers. But without thinking through it and just following the instructions,
"Next, upload your image to your Kubernetes server as follows:"
and
"# on the Kubernetes server"
Sound like they are referring to the master.

[2018-02-10 01:23] markxnelson commented on #89
I added a PR to update the doc to say each worker

[2018-02-11 21:37] #79 closed

[2018-02-11 23:32] #89 closed

[2018-02-12 16:33] antonionappi88 opened #93 "AdminServer is not starting"
Hello,
The AdminServer fails with:

[code]

This because the secret with the credential is mounted in the /var/run/secrets-{DOMAIN-UID} ( PodHelper.java line 149) and in the template of the job there is :

[code]
Before the template was parameterize but [here](https://github.com/oracle/weblogic-kubernetes-operator/pull/91/files) it changed.

[2018-02-12 17:01] rjeberhard commented on #93
Hi, @antonionappi88.  Yeah, we've started to have some changes come through that are cleaning-up the inconsistent naming of some items.  Can you please delete the admin and managed server Pods?  If you do, then when the operator recreates them they will be consistent.

The rest of the name update work will go into a branch and we'll give a better heads-up about the impending changes.

[2018-02-13 13:37] antonionappi88 commented on #93
Hi @rjeberhard. Thanks for your reply. I tried to kill the pods with `kubectl delete pod` but the operator did not restart any of them but  after cleaning all the kube resources the domain is up and running.

[2018-02-13 14:55] moreaut commented on #69
Both issues are fixed:

1) the DOMAIN_NAME, DOMAIN_HOME, ADMIN_NAME and ADMIN_PORT env vars are properly set in the weblogic server pods.

2) the ADMIN_USERNAME and ADMIN_PASSWWORD env vars are set to empty strings in the weblogic server pods.

3) secretsVolumeMount has been removed from create-operator-inputs.yaml.  The secrets are mounted in the domain job and weblogic server pods under the fixe

[2018-02-13 14:55] #69 closed

[2018-02-13 15:12] rjeberhard commented on #93
Great!  The "deleted pod not restarted" is issue-54, which you opened earlier.  Thanks for all of the useful feedback.  I'll work on that issue today.

[2018-02-13 15:12] #93 closed

[2018-02-14 12:36] markxnelson opened #99 "Failed to create service account weblogic-operator"
Create operator script fails with this message:

hecking to see if the service account weblogic-operator already exists
Error: unknown shorthand flag: 'n' in -n
Usage:
  kubectl get [(-o|--output=)json|yaml|wide|go-template=...|go-template-file=...|jsonpath=...|jsonpath-file=...] (TYPE [NAME | -l label] | TYPE/NAME ...) [flags] [flags]

Examples:
# List all pods in ps output

[2018-02-14 12:41] amyles commented on #99
Hi
I'm using this version of kubectl:

[2018-02-14 12:52] amyles commented on #99
Also:

[2018-02-14 12:53] amyles commented on #99
Full output of the command attached.
[create-op-output.txt](https://github.com/oracle/weblogic-kubernetes-operator/files/1724024/create-op-output.txt)

[2018-02-14 12:59] rjeberhard commented on #99
I see this in the output:

/home/amyles/k8s-wls-operator/weblogic-kubernetes-operator/kubernetes/internal/generate-security-policy.sh: 191: /home/amyles/k8s-wls-operator/weblogic-kubernetes-operator/kubernetes/internal/generate-security-policy.sh: Bad substitution

Line 191 of generate-security-policy.sh is:

  for i in ${TARGET_NAMESPACES//,/ }

Your TARGET_NAMESPACES value is just "default", so

[2018-02-14 16:04] antonionappi88 commented on #70
Hello,
about this the problem. It is caused by a wrong value in the `create-domain-job-input.yaml` for the t3PublicAddress. Probably it would be worth add to the [documentation](https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/creating-domain.md)  a reference and explain why it is needed and what should be the value. (the master ip or the LB's ip in front of the masters).

I

[2018-02-15 14:21] antonionappi88 opened #100 "Setup Containers to mount NFS instead HostPath"
Hello,
I tried to run the weblogic domain using as shared volume a NFS volume. So the containers where attaching a NFS volume instead of using HostPath. [Here](https://db-blog.web.cern.ch/blog/antonio-nappi/2018-02-setup-nfs-storage-oracle-cloud-infrastructure-using-linux-storage) there is how I setup a NFS server in OCI. On the NFS server I created a shared volume under `/shares/kube-nfs`.

To le

[2018-02-16 11:06] antonionappi88 commented on #70
Hi @rjeberhard I have some updates.

In my OCI environment I have 6 nodes :

- 2 etcd servers
- 2 master servers
- 2 worker servers

Actually the NodePort is open on all nodes that are running kube-proxy (in OCI also on masters) so all the nodes in the K8S are able to redirect the external traffic to the correct pod but the masters don't run pods ( to be sure i shut-down the workers and  the sched

[2018-02-18 21:26] #54 closed

[2018-02-19 14:40] antonionappi88 opened #104 "Logstash config map"
Hello,
currently logstash can be configured just rebuilding the operator image everytime.

I think that it would be nice to decouple the two things and have a config map to setup the logstash.conf.

The user could want to add different filters, save the logs also to file or send to a private ES instance and so on.

For this you could provide a template with parametrized basic configuration. In the

[2018-02-20 17:31] antonionappi88 opened #106 "Problem with Server Start Arguments."
Hello,
Via console I tried to change under `Environments -> Servers -> managed-server1(2) -> Configuration tab -> Server Start subtab` the `Arguments` with something like this :
[code]
I killed the managed server pod and let the operator restart it.
It seems that the managed server is started without these parameters even if these values are saved in the config.xml.

For example if I checked on th

[2018-02-21 17:37] lurodrig opened #107 "JConsole connection fails"
Hello there,

Has anybody tried to connect jconsole, or any other monitoring tool jmx compliant, to your servers?

My **client** startup command line looks like this:

`$JAVA_HOME/bin/jconsole -J-Djava.class.path=$JAVA_HOME/lib/jconsole.jar:$JAVA_HOME/lib/tools.jar:$WLS_HOME/wlserver/server/lib/wljmxclient.jar:$WLS_HOME/wlserver/server/lib/wlclient.jar -J-Djmx.remote.protocol.provider.pkgs=weblogi

[2018-02-21 20:37] tbarnes-us commented on #107
Hi Luis,

The `$WLS_HOME/wlserver/server/lib/wlclient.jar` is deprecated as of 12.2.1.3.   It's called the "WebLogic thin IIOP client jar", and uses IIOP over the network even when you specify a T3 URL.    I suspect there's a way to make it work (I vaguely recall there's a WebLogic RMI command line system property that modifies IIOP behavior to make it easier for it to punch through firewalls - so

[2018-02-21 21:54] tbarnes-us commented on #106
Hi,

Thanks you for filing this Issue.   I don't think the operator currently supports setting WebLogic JVM command line arguments via the WebLogic console, although I can certainly see how that might be convenient I'm not sure whether it'd be straight forward to implement.    Do you think this should be a high priority?

Alternatively, it should be possible to set WebLogic JVM command line args v

[2018-02-21 22:08] tbarnes-us commented on #106
Oops!   I was just told that the JAVA_OPTIONS/javaOptions settings I just described only currently works for managed servers -- there's some sort of known issue with admin servers.

[2018-02-22 08:26] lurodrig commented on #107
Hello @tbarnes-us ,

Thank you very much, `$WLS_HOME/wlserver/server/lib/wlthint3client.jar` works like a charm, great!

My command line now looks like this:

`$JAVA_HOME/bin/jconsole -J-Djava.class.path=$JAVA_HOME/lib/jconsole.jar:$JAVA_HOME/lib/tools.jar:$WLS_HOME/wlserver/server/lib/wlthint3client.jar -J-Djmx.remote.protocol.provider.pkgs=weblogic.management.remote -debug`

Thanks!

Cheers,

Lu

[2018-02-22 08:26] #107 closed

[2018-02-22 09:54] antonionappi88 commented on #106
Hi @tbarnes-us, It has not high priority but it was a way to understand how much persistent is the environment! For the moment if I need I'll try with the JAVA_OPTIONS in the yaml file ( at least for the managed). Thank you!

[2018-02-22 16:31] tbarnes-us commented on #106
Hi @antonionappi88 - FYI - The changes you made on the console actually are persisted to the WL config.xml, but are ignored.    The problem is that the JVM arguments in particular are handled/overridden by a special path through the system that's unique to the kubernetes weblogic operator: the operator needs to take over the WL lifecycle to some degree and its logic currently doesn't check the con

[2018-02-22 20:42] trobert57 opened #108 "create-domain-job.sh fails due to wrong permissions on shared folder"
When trying to create my first domain using the operator, the
./create-domain-job.sh –i create-domain-job-inputs.yaml
fails with:
"The domain will be created using the script /u01/weblogic/create-domain-script.sh
mkdir: cannot create directory '/shared/domain': Permission denied
ERROR: Unable to create folder /shared/domain"
I am running on OCI having a "File System" mounted on each compute node:

[2018-02-22 20:51] trobert57 opened #109 "Create domain job fails after 300 seconds although domain is created"
Running  ./create-domain-job.sh –i create-domain-job-inputs.yaml terminates after 5 minutes with error

=========================================================
The create domain job is not showing status completed after waiting 300 seconds
Check the log output for errors
The domain will be created using the script /u01/weblogic/create-domain-script.sh

Initializing WebLogic Scripting Tool (WLST)

[2018-02-23 23:42] tbarnes-us commented on #27
Change merged via #110

[2018-02-23 23:42] #27 closed

[2018-02-26 12:20] #60 closed

[2018-02-27 02:07] bdueck opened #117 "WLST java.lang.IllegalArgumentException: MALFORMED"
Hi - I'm running through the steps (docs and video) to create a domain and hitting a problem with WLST continually throwing  java.lang.IllegalArgumentException: MALFORMED. I'm on MacOS, running K8S on Docker Edge. I realize the main weblogic-kubernetes-operator page indicates this config should work for basic dev/test but is not officially supported - hoping that this is something basic that other

[2018-02-27 16:48] bdueck commented on #117
Mysterious problem solved after doing a complete uninstall/re-install of Docker/K8S.

[2018-02-27 16:48] #117 closed

[2018-02-27 17:25] bdueck opened #120 "Admin and Managed Servers Not Starting"
The Admin server and Managed Servers are continually failing to start and showing only the following entry (with slight variations in directory and file name) in each the pod's log. I'm running Docker/K8S on MacOS using Docker-edge.

failed to open log file "/var/log/pods/bc42ce99-1bd8-11e8-9d6b-025000000001/weblogic-server_17.log": open /var/log/pods/bc42ce99-1bd8-11e8-9d6b-025000000001/weblogic-

[2018-02-28 20:23] doxiao commented on #106
FYI - the environment properties JAVA_OPTIONS and USER_MEM_ARGS configured via the admin server's serverStartup take effect now.  What has been suggested above by tbarnes-us should work if you pull the latest master.

[2018-03-01 20:34] rjeberhard commented on #106
Proposal: We will support config.xml options for managed servers.  We presently won't be able to support these options for the administration server, but likely will be able to when we migrate to the WebLogic domain tooling.

We will also maintain the serverStartup.env configuration in the domain spec.  Therefore, we need to consider precedence.  I'm leaning toward the default being that the value

[2018-03-02 08:34] antonionappi88 commented on #106
I see. Thank you all for the help!

[2018-03-02 15:02] rjeberhard commented on #120
Can you please tell us about the persistent volume you configured?  Did the domain creation job run successfully?  The directory behind the persistent volume (host path) has to be chmod 777 accessible since the WebLogic pods will run as user = "weblogic", which I believe is uid=1000.

[2018-03-02 15:08] bdueck commented on #120
Yes, the domain creation job ran successfully - a visual inspection of what was created shows that things look correct.

The persistent volume is under /Users/<username>/k8s_dir. Under there I have persistentVolume001 and persistentVolume002. Everything is 777.

I did previously have a problem where I wasn't creating the volume under /Users and then noticed the note that this was a problem for a M

[2018-03-02 15:08] rjeberhard commented on #109
Just to clarify, I believe you are saying that you've run the domain creation script and it appears to have created the domain but then exited with an error after creating the domain, but before it finished.  Is this correct?  Can you tell us what other resources were created in the target namespace?

[2018-03-05 11:42] simon-meng-cn commented on #100
I think your change is reasonable.  What is your requirement for this issue?

[2018-03-05 14:13] trobert57 commented on #109
Actually the create-domain-job.sh skript exited with error, saying:
"The create domain job is not showing status completed after waiting 300 seconds"
The logfile of the pod says:
"Exiting WebLogic Scripting Tool.

Successfully Completed"
But only AdminServer is completed, no Managed Server.
The resources in the target namespace for the domain (-n wlsdomain1) are:
Pods: domain-mydomain1-job-b4jbr
J

[2018-03-05 15:37] trobert57 commented on #109
I ran it again today. The create-domain-job.sh again fails after 5 minutes with:
"The create domain job is not showing status completed after waiting 300 seconds"
But this time I ran a "docker logs -f <id>" on the container creating the domain. This container continues running even after the create-domain-job.sh failed and ~ 2 minutes later the log output shows:
"Exiting WebLogic Scripting Tool.

[2018-03-05 18:16] rjeberhard commented on #25
In addition to general retry, we need to specifically improve our detection of pod and managed server level failures.  For pod failures, we specifically need to test for missing secrets, images, and volumes.  For managed server failures, we should test missing and bad deployments, bad data source configurations, etc.

[2018-03-05 18:17] rjeberhard opened #134 "Log and JFR recovery tool or script"
We should provide a tool or script to simplify collecting all logs for a domain and collecting a Java Flight Recorder (JFR) session.

[2018-03-05 18:19] rjeberhard opened #135 "Configured additions to server Pods"
Several customers have mentioned that they would like to configure additions to server Pods, such as additional volume mounts, config maps, secrets.  We should look at how far we can go toward providing a PodTemplate that is consistent with the items our operator requires in Pods.

[2018-03-05 18:20] rjeberhard opened #136 "Adding to system class path"
Customers want to be able to add jars to the system class path of started servers.

[2018-03-05 18:23] rjeberhard commented on #136
This functionality probably depends on #135.

[2018-03-05 18:24] rjeberhard opened #137 "Document development branching strategy"
We will soon be moving to the GitFlow branching strategy.  Document expectations on contributors.

[2018-03-05 18:51] bryantidd opened #138 "Error in maven build of code"
mvn clean install - results in ->
`[ERROR] Tests run: 2, Failures: 1, Errors: 0, Skipped: 1, Time elapsed: 1.421 s <<< FAILURE! - in oracle.kubernetes.operator.HealthCheckHelperTest
[ERROR] testAccountNoPrivs(oracle.kubernetes.operator.HealthCheckHelperTest)  Time elapsed: 1.42 s  <<< FAILURE!
java.lang.AssertionError: Log output did not contain Access Denied error
	at oracle.kubernetes.operator.H

[2018-03-05 19:05] rjeberhard commented on #138
Bryan, what's your k8s server version?

[2018-03-07 02:59] simon-meng-cn commented on #100
Hi @antonionappi88,
I am not sure what the requirement of this issue is. Can you clarify it?
Thanks

[2018-03-07 10:35] trobert57 opened #140 "Managed Server fail to start"
I now have a WebLogic Admin server up and running after ./create-domain-job.sh –i create-domain-job-inputs.yaml finished successfully. But the two managed server fail to start because they cannot reach the admin server. The error message in the logfile is:

####<Mar 7, 2018 10:09:46,555 AM GMT> <Info> <Management> <mywlsdomain-managed-server1> <> <Thread-10> <> <> <> <1520417386555> <[severity-val

[2018-03-07 13:46] rbaumgar opened #141 "not able to pull the store/oracle/serverjre:8 image"
I try to build the operator image without any success, because I can not pull the image, after successful login...

$ docker build -t weblogic-kubernetes-operator:developer --no-cache=true .
Sending build context to Docker daemon 96.39 MB
Step 1 : FROM store/oracle/serverjre:8
Trying to pull repository registry.access.redhat.com/store/oracle/serverjre ...
Trying to pull repository docker.io/store/

[2018-03-07 14:05] markxnelson commented on #141
Hi @rbaumgar, did you go to the Docker Store and accept the license agreement for the serverjre image, as described in the doc here: https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/installation.md

[2018-03-07 14:06] markxnelson commented on #141
Here is the link directly to that image: https://store.docker.com/images/oracle-serverjre-8

[2018-03-07 14:59] rbaumgar commented on #141
Yes! now two times!
I did also a logout and login.
I also not able to download store/oracle/weblogic:12.2.1.3.
no problem with the Oracle registry
$ docker pull container-registry.oracle.com/java/serverjre
Using default tag: latest
Trying to pull repository container-registry.oracle.com/java/serverjre ...
latest: Pulling from container-registry.oracle.com/java/serverjre
8dc3ae811b63: Downloading [

[2018-03-07 15:13] markxnelson commented on #141
Just checking, I think it should be:

`docker pull store/oracle/serverjre:8`

[2018-03-07 15:35] rbaumgar commented on #141
same result :-(
$ docker pull store/oracle/serverjre
Using default tag: latest
Trying to pull repository registry.access.redhat.com/store/oracle/serverjre ...
Trying to pull repository docker.io/store/oracle/serverjre ...
Pulling repository docker.io/store/oracle/serverjre
Error: image store/oracle/serverjre:latest not found

[2018-03-07 15:51] markxnelson commented on #141
The tag is not latest. You need that ":8" on the end of the pull command

[2018-03-07 15:51] markxnelson commented on #141
The tag is not latest. You need that ":8" on the end of the pull command

[2018-03-07 16:05] trobert57 commented on #108
The problem came from the fact that our WebLogic docker image is running WLS as user oracle with uid 1000. On our OCI this uid 1000 maps to the os user "opc" which doesn't have enough permissions. So one either needs to start the docker container with a different uid or build a new WebLogic image using an oracle user with a different uid.

[2018-03-07 16:05] #108 closed

[2018-03-07 16:49] rjeberhard commented on #141
I've just verified that I can pull this image today using:

docker pull store/oracle/serverjre:8

As Mark noted, you do need to visit the store page and click through to "purchase" the image and then docker login locally.  If this still isn't working for you once you add the ":8" tag, I wonder if your network has a proxy server?

[2018-03-07 17:59] rjeberhard commented on #100
Simon,

I saw your question in e-mail...  This is somewhat straight-forward.  The requirement is for support for NFS mounts in addition to regular file-system "host path" mounts.  You can see the documentation on NFS volumes here: https://kubernetes.io/docs/concepts/storage/volumes/#nfs

It seems that the yaml is just slightly different using an "nfs" rather than "hostPath" section and requiring t

[2018-03-08 15:55] tbarnes-us commented on #120
I've heard that it's fairly common on a mac that the vm memory allocation needs to be increased.

[2018-03-08 18:50] tbarnes-us commented on #41
Change is checked in.   Updates to readmes forthcoming in a future check-in.   See description of pull #131 for usage, script location, etc.

[2018-03-08 18:50] #41 closed

[2018-03-08 19:05] doxiao commented on #109
FYI - As part of the pull request #143, I have increased the max iteration of checking the completion of  create domain jobs from 10 to 20.

[2018-03-08 19:15] #109 closed

[2018-03-12 08:47] rbaumgar commented on #141
In the meantime I have 3(!) entitlements, but I still get the same problem.

Is the store on docker.io? You see that my docker configured only for docker.io. When I try to conntct to store.docker.com, I get an error...

$ docker login store.docker.com
Username (rbaumgar@redhat.com): rbaumgar@redhat.com
Password:
Login Succeeded
$ docker -D pull store/oracle/serverjre:8
Trying to pull repository re

[2018-03-12 13:16] rbaumgar commented on #141
interesting, to close without any help!
I tried it from multiple networks, my company, customer and at home...

Mit freundlichen Grüßen / Kind regards

Robert Baumgartner

Senior Solution Architect Middleware

Red Hat Austria GmbH <https://www.redhat.com>

Millenniumtower 24.Stock

Handelskai 94-96

A-1200 Wien

robert.baumgartner@redhat.com    M: +43-660-5913883
<https://red.ht/sig>

On Fri, Mar

[2018-03-12 13:35] mriccell commented on #141
Did you login to Docker Store from your command line?
Before you can pull this image from the Docker Store, you need to make sure your Docker client has logged in successfully using the docker login command:

# docker login
Username: <Docker Hub/Store Username>
Password: <Docker Hub/Store Password>
Login successful.

Once you have successfully logged in, you can pull the Oracle Server JRE image fr

[2018-03-12 13:38] mriccell commented on #141
Instructions in the Docker Store
Before you can pull this image from the Docker Store, you need to make sure your Docker client has logged in successfully using the docker login command:

# docker login
Username: <Docker Hub/Store Username>
Password: <Docker Hub/Store Password>
Login successful.

Once you have successfully logged in, you can pull the Oracle Server JRE image from the Docker Store:

[2018-03-12 20:25] doxiao commented on #120
@bdueck, has the issue been resolved?

[2018-03-12 21:14] eviking commented on #141
Robert

I just tried to copy and paste the commands that you posted and everything ran without any problems.

$ docker login
Login with your Docker ID to push and pull images from Docker Hub. If you don't have a Docker ID, head over to https://hub.docker.com to create one.
Username (X):
Password:
Login Succeeded

$ docker -D pull store/oracle/serverjre:8
8: Pulling from store/oracle/serverjre
4040

[2018-03-12 21:53] rbaumgar commented on #141
Jens,

first I have a docker id and I have needed entitlements, see screenshot

I tried to login to store.docker.com, hub.docker.com, without any success.
But I get "Login Succeeded"
I tried with two different version docker clients, without success
I tried different urls, without success
No problem download from docker.io, oracle-registry, ...

$ docker -D pull store/oracle/serverjre:8
Trying to

[2018-03-12 22:35] eviking commented on #141
I can't tell if you are running RedHat's Docker distro on the server or the standard one from Docker, but in any case it is a very old version and it is clear that it has some RedHat specific configuration that defaults it to look at RedHat's repo first.

Please try the following for me.

Download the latest version of Docker for the server from Docker.com and remove any old configurations. Once w

[2018-03-12 22:42] #100 closed

[2018-03-12 22:52] rbaumgar commented on #141
Jens,

you see that I am using a second client
Client:
 Version:      17.03.2-ce
 API version:  1.24 (downgraded from 1.27)
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 01:35:00 2017
 OS/Arch:      linux/amd64

And it does not work either.
I hope you will not tell me I have to change the server version, to
download something from the store!?!?!
​

[2018-03-13 00:19] markxnelson commented on #141
I think there might be an issue on the store side.  I just deleted the image and tried to pull it again, and I get the same error message about the '<' character.

[code]
Even after I do a successful `docker login` I get this same response...

[2018-03-13 00:20] markxnelson commented on #141
Oh hold on, if I change the command to this:

`docker -D pull store/oracle/serverjre:8`

Then it works

[2018-03-13 00:24] markxnelson commented on #141
I went to docker store and created a brand new user...

[code]
![image](https://user-images.githubusercontent.com/6345393/37316037-4d11735e-2633-11e8-897f-48fc159062c8.png)

[code]

Appears to work as expected

[2018-03-13 00:25] markxnelson commented on #141
I am going to install 1.12.6 and try that...

[2018-03-13 00:33] markxnelson commented on #141
Installed brand new ubuntu, installed docker 1.12.6 (as per your docker version output above), tried to pull, "not found", did `docker login` and tried to pull, worked..

[2018-03-13 00:34] markxnelson commented on #141
@rbaumgar as you can see I have tried different users, different versions of docker, different OS, different computer, and I still cannot reproduce the issue.  I think there must be something about your particular environment.  Can you pull other images from docker store?  Can you try a different computer?

[2018-03-13 00:36] markxnelson commented on #141
I am going to download RHEL and try there..

[2018-03-13 01:09] simon-meng-cn commented on #43
Looks like this is the same issue as #100. Can it be closed as duplicate?

[2018-03-13 01:15] eviking commented on #141
@rbaumgar Please follow the directions on https://docs.docker.com/install/linux/docker-ce/fedora/. Everything points in the direction of a configuration/RHEL version issue with the  Docker Server you are running. I can not help you unless you are willing to be helped.

[2018-03-13 11:43] rbaumgar commented on #141
Mark,
it has nothing to do with my (old) docker version and/or configuration!
The only required thing is the docker login against the correct URL and username(not mail)

$ docker login **docker.io**
Login with your Docker ID to push and pull images from Docker Hub. If you don't have a Docker ID, head over to https://hub.docker.com to create one.
Username: **rbaumgar**
Password:
Login Succeeded
$ d

[2018-03-13 12:21] markxnelson commented on #141
Hi Robert,
Great, I am happy you got it to work.  I am going to close this issue now.  Please contact us again if you have any other issues.

If you are planning to do more work with the operator, please allow me to reming you of the clearly stated supported version of docker, which is listed in the readme here:

https://github.com/oracle/weblogic-kubernetes-operator#requirements

`Docker 17.03.1.

[2018-03-13 12:21] #141 closed

[2018-03-20 19:28] mriccell opened #151 "Standarize Naming Convention in the WebLogic Kubernetes Operator"
We are standardizing the naming convention in the WebLogic Kubernetes Operator project.
We are standardizing names of :
1- Input parameters and values for the Operator and Domain.
2- Directories, scripts and yaml files.
As part of this change we are writing a guide mapping the old names to the new names to help existing users switch to the new naming convention.

[2018-03-21 15:17] #106 closed

[2018-03-21 19:17] #151 closed

[2018-04-02 22:41] karan-kapoor90 commented on #19
I seem to have a somewhat related issue except I've setup the k8s cluster locally on virtualbox across 3 guest nodes on the same host machine (my laptop).

[code]

Basically, I havent reached the step where I create a weblogic domain, and `kubectl get crd` isn't returning the custom resource def it should. There seems to be no errors reported throughout the process.

Additionally, here's the confi

[2018-04-02 22:58] karan-kapoor90 commented on #19
I did a describe on the pod running the container and it's showing an error while trying to pull the weblogic operator image from container-registry. Why its trying to do that when I've already imported the image as a tar (albeit with a different label as suggested in the guide) on to the machine where the container is being deployed. Here's the error in the pod description

[code]

The docker log

[2018-04-02 23:27] bryantidd commented on #19
Yes, I don't see that image as available in the list under middleware...Are
we supported to have access to it there yet?
Bryan

On Mon, Apr 2, 2018 at 6:58 PM, Karan Kapoor <notifications@github.com>
wrote:

[2018-04-03 00:03] karan-kapoor90 commented on #19
@bryantidd I don't know the answer to the question but I've managed to work around it.
If you're following the steps to install the operator
in the `weblogic-operator-output-directory` directory you mentioned in

[code]
modify the weblogic-operator.yaml file and change the image name of the container for the weblogic-operator to the one you built using `weblogic-kubernetes-operator:developer` earl

[2018-04-03 00:10] bryantidd commented on #19
Do a "kubectl -n weblogic-operator get po" then "kubectl -n
weblogic-operator logs <the weblogic-operator pod> weblogic-operator" and
see what it says...

On Mon, Apr 2, 2018 at 8:03 PM, Karan Kapoor <notifications@github.com>
wrote:

[2018-04-03 00:14] bryantidd commented on #19
also, be sure that your cluster internal dns name is the default...if you
use anything else, it had it wrong in a few places in yaml files
(configmaps I think)...

On Mon, Apr 2, 2018 at 8:10 PM, Bryan Tidd <bntidd@gmail.com> wrote:

[2018-04-03 11:20] karan-kapoor90 commented on #19
@bryantidd The logs for the weblogic-operator say the following

[code]

Not sure how to check or what you mean by the cluster internal DNS name and where I can check it..

[2018-04-05 09:32] karan-kapoor90 commented on #19
@bryantidd Any ideas?

[2018-04-05 10:04] karan-kapoor90 opened #183 "No Domain Custom resource created"
Raising an issue as a continuation to the thread on issue #19
Is the domain custom resource creation yaml also supposed to be a part of the yaml file created as a part of the yaml file that created k8s resources at the end of the operator installation process? This is what mine looks like

[code]

From #19 I was looking into a possible dns issue and so I created a new busybox image and got the fol

[2018-04-05 11:39] karan-kapoor90 commented on #183
Some more detail..  in pursuit of trying to resolve the issue, I checked out the youtube video on installing the operator https://www.youtube.com/watch?v=B5UmY2xAJnk and I tried to run the rest.sh file to invoke operator REST services. This failed with a connection refused to the port 31001. I went ahead and opened the port on the firewall for all the nodes, and restarted the firewall service, but

[2018-04-06 00:48] rjeberhard opened #187 "Propose release 0.2"
Wercker and Jenkins based testing is now clean and covering sufficient test cases.  Therefore, we'd like to propose a 0.2 release, which would be the first release where we push an image to the Oracle Container Registry.

[2018-04-09 14:44] rjeberhard commented on #187
Resolved by PR #188

[2018-04-09 14:44] #187 closed

[2018-04-10 20:59] russgold commented on #138
This appears to have been fixed. Can you please refresh to the latest version and try again?

[2018-04-12 16:19] russgold commented on #183
The _domain_ custom resource definition should be created as part of the domain creation, not the operator.

[2018-04-12 16:26] #183 closed

[2018-04-13 13:38] karan-kapoor90 commented on #183
@russgold The last step at the end of the installation guide says that you should see `domains.weblogic.oracle` on doing a `kubectl get crd` . That's where I started debugging.. Any suggestions around that?

[2018-04-13 13:48] russgold commented on #183
@karan-kapoor90

I do see that, but I have both installed and added a domain. At this point, I suspect that the documentation is wrong or out-of-date. I am currently reviewing some of the docs.

[2018-04-13 15:56] LorenKonkus commented on #43
Closing as dup. Expect updated documentation in this area.

[2018-04-13 15:57] #43 closed

[2018-04-13 18:34] karan-kapoor90 commented on #183
So I'm trying this :
```curl -v -k -H "Authorization: Bearer eyJhbGci <truncated> ==" -H "Accept:application/json" -X GET http://localhost:31001/operator``

But its actually doing nothing.. just gets stuck in the end:

[code]
So when I look into the pod + container's log using :

[code]

Where can I debug this?

[2018-04-13 19:31] rjeberhard commented on #183
The CRD is created by the operator when it first starts.  The installation documentation assumes you’ve installed the operator before creating any domains.

[2018-04-13 19:34] rjeberhard commented on #183
Oh, @karan-kapoor90.  You’ve enabled java debugging for the operator.  The operator is waiting for you to connect a Java debugging session.  If you don’t want that, then comment out the debug env. variable and deploy the operator again.

[2018-04-18 11:13] karan-kapoor90 commented on #183
So I'm trying this :
```curl -v -k -H "Authorization: Bearer eyJhbGci <truncated> ==" -H "Accept:application/json" -X GET http://localhost:31001/operator``

But its actually doing nothing.. just gets stuck in the end:

[code]
So when I look into the pod + container's log using :

[code]

Where can I debug this?

[2018-04-18 11:34] karan-kapoor90 commented on #183
Ok, going to try that and confirm.

[2018-04-18 12:16] karan-kapoor90 commented on #183
@rjeberhard Thanks a lot! That worked.

[2018-04-20 15:28] mriccell commented on #140
@trobert57 are you still facing this problem?

[2018-04-23 08:43] trobert57 commented on #140
I didn't try again after seeing the issue 6 weeks ago. But I will give it another try later this week.

[2018-04-24 09:28] karan-kapoor90 opened #206 "vboxsf as Persistent Volume permission issue for weblogic server being run by oracle user"
I've setup 3 virtual machines on a NAT Network using Virtualbox. The host is Win 10 and the guests are OLE 7's. I've managed to get to the part where the operator is now installed etc and am now trying to create a weblogic domain. For the persistent storage I've virtualbox folder sharing (vboxsf) to mount the same host directory across all 3 hosts. Point to note here is that the permissions for th

[2018-04-24 09:30] karan-kapoor90 commented on #206
I'm inclined to think that the simplest way to resolve this would be to `chmod 777` instead of 770 permission to the /shared folder, which I have also tried to do but to no effect (no error, command completes successfully without changing anything).

[2018-04-25 12:36] karan-kapoor90 opened #207 "Create domain script did not start Admin and Managed server pods"
I ran the create domain script and it completed successfully as follows:
[code]

When I tried to open the console, nothing opened so I went into debugging what could be happening. A description of the domain does not have a Status section:
[code]
I can only see a single pod running in the namespace that is to contain the domain
[code]

Not sure where to look as to why the servers did not start. He

[2018-04-25 14:18] rjeberhard commented on #207
Can you please verify that the operator is running and share it's log file?

kubectl logs deployment/weblogic-operator -n weblogic-operator > operator.log

... assuming the operator is deployed to the weblogic-operator namespace.

[2018-04-26 15:54] trobert57 opened #211 "Unable to access Admin Server with provided URL"
I have created a new WebLogic domain using the script
./create-weblogic-domain.sh -i create-weblogic-domain-inputs.yaml -o <outdir>
And I have set
adminNodePort="30701"
exposeAdminNodePort="true"
The script finishes successfully and the domain is created and up and running.
But I cannot access the AdminServer on the URL the script provided. The script finished with the message:
Administration cons

[2018-04-26 16:16] trobert57 commented on #211
OK - I see ...
kubectl cluster-info returns:
Kubernetes master is running at https://129.213.8.113:443
KubeDNS is running at https://129.213.8.113:443/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy
And I can do curl -k https://129.213.8.113:443
but NOT curl -k http://129.213.8.113:30701 (=> failed to connect)

[2018-04-26 16:59] trobert57 commented on #211
The IP address is the loadbalancer of the master node ... automatically provisioned through terraform.
So I needed to modify the loadbalancer configuration on OCI:
create a new backend backend pointing to my master node, port 30701
create a new backend set using session persistence (in case I might add a second master node)
create a new listener for the loadbalancer using http protocol, listen on

[2018-04-26 16:59] #211 closed

[2018-04-27 07:02] karan-kapoor90 commented on #207
[operator.log](https://github.com/oracle/weblogic-kubernetes-operator/files/1954111/operator.log)

Does have a 403 Forbidden on Config maps.. not sure what that means though.

[2018-04-27 07:30] karan-kapoor90 commented on #207
Looks like the security etc was not configured properly even though the domain creation job ran and completed successfully.

[2018-05-04 10:59] #137 closed

[2018-05-07 11:28] #25 closed

[2018-05-08 11:44] rjeberhard opened #258 "Enforce and document Java formatting standards"
Based on a review of common open source projects, we've discovered that most projects enforce Java formatting according to the [Google Java Style](https://google.github.io/styleguide/javaguide.html).  Happily, these turn out to be the same standards that Oracle and WebLogic have used for 20 years!

We intend to enforce Java formatting and document for our developers IntelliJ and Eclipse plugins.

[2018-05-08 13:10] #258 closed

[2018-05-08 13:13] rjeberhard opened #260 "Document customer steps to patch WebLogic image against running domain"
Customers can follow the steps in the Oracle docker_images project to create a Docker image for WebLogic that includes one or more patches.  Once this is done, the customer will want to patch WebLogic under running domains while preserving uptime.  The good news is that the operator supports doing a rolling update of the Pods hosting the server instances!  However, we need to document this.

[2018-05-08 14:05] russgold opened #261 "Fix intermittent failures in DomainPresenceTest.watchPresenceWithNoPreexistingData_doesNothing"
Occasional runs of this test are failing in Jenkins

[2018-05-09 18:36] rjeberhard opened #266 "Wercker REPO_REGISTRY env. not needed for Docker Hub"
We should clarify the Wercker build steps to clarify that REPO_REGISTRY must not be specified when the repository is hosted on Docker Hub, as this will likely be a common use case.

[2018-05-09 20:12] rjeberhard opened #267 "Fix intermittent test failures in StepTest.testFuture"

[2018-05-09 23:40] mriccell opened #269 "Document how to Create a Domain when the WebLogic image name is not store/oracle/weblogic:12.2.1.3"
We need to document how to change the WebLogic and Operator image names and generate the correct yaml for the Domain creation job.  This is specially important for OCI and OKE where the image names must be taged to push into OCIR
docker tag store/oracle/weblogic:12.2.1.3 phx.ocir.io/weblogick8s/weblogic:12.2.1.3
docker tag weblogic-kubernetes-operator:developer phx.ocir.io/weblogick8s/weblogic-kub

[2018-05-10 10:58] #267 closed

[2018-05-10 15:46] #261 closed

[2018-05-10 16:31] russgold opened #271 "Watch tests bleeding into one another in Jenkins run"
Jenkins run failures suggest that data created for one test are being used in another

[2018-05-10 18:17] #271 closed

[2018-05-11 02:59] simon-meng-cn opened #275 "Deleting domain does not delete all voyager resources"
After invoking "delete-weblogic-domain-resources.sh -d all" to delete all WebLogic domains and related resources, we can see following voyager's resources are still left over.

bash-4.2$ kubectl get all --all-namespaces|grep voyager
voyager       deploy/voyager-operator   1         1         1            1           4h
voyager       rs/voyager-operator-86bcd6f656   1         1         1          4

[2018-05-11 11:01] jhzhu89 opened #276 "managed server failed to start"
I followed the instructions and managed to setup the weblogic kubernetes operator and create a domain. While the managed server did't start up. Here is the 'describe po' output:
[code]
Here is the nodemanager-managed-server.log.
[nodemanager-managed-server2.log](https://github.com/oracle/weblogic-kubernetes-operator/files/1995035/nodemanager-managed-server2.log)

Could anyone help check what happe

[2018-05-11 13:30] rjeberhard commented on #276
@jhzhu89 The server process is dying.  Can you please also attach the server's log?

[2018-05-11 13:57] #275 closed

[2018-05-12 01:53] jhzhu89 commented on #276
@rjeberhard thanks for your quick response!

I got a list from logs folder:
[code]

Do you mean the admin-server logs? I got them attached, thanks~

[nodemanager-admin-server.log](https://github.com/oracle/weblogic-kubernetes-operator/files/1997180/nodemanager-admin-server.log)
[admin-server.log](https://github.com/oracle/weblogic-kubernetes-operator/files/1997181/admin-server.log)

[2018-05-14 06:49] lilyhe123 opened #277 "generate job yaml to delete domain_home folder in create-weblogic-domain.sh"
the Problem
When the domain is generated to a storage folder via create-weblogic-domain-job, the owner of the domain_home folder is not the user running the script but an inernal user with UID 1000. This results in not easy to delete the domain_home folder on host machine unless via 'sudo'. sudo cmd definitely need to be avoided in autorun scripts.

The Solution
Generate a new job yaml to delete d

[2018-05-14 08:21] jwveldhuis opened #279 "Operator Docker image does not exists with :latest tag"
[code]
https://github.com/oracle/weblogic-kubernetes-operator/blob/55f0b4695a6f077f5571992118fc4aa809fda266/kubernetes/create-weblogic-operator-inputs.yaml#L23

After updating the input file to fetch tag `0.2` the pull succeeded.

[2018-05-14 15:23] russgold opened #281 "Refactor domain presence code to prepare for enhancements"

[2018-05-14 16:47] #277 closed

[2018-05-14 22:05] #281 closed, assigned to russgold

[2018-05-15 04:11] lilyhe123 opened #284 "operator log is flushed"
I found that the operator log is fragile to be flushed with same error/warning messages. I encountered this in different scenarios and the case below is only one of them. Basically we need to inspect all operator code to avoid log the same error/warning message again and again.

If a WebLogic server failed to start, the operator log is flushed with a warning message below.

{"timestamp":"05-15-201

[2018-05-15 04:19] lilyhe123 opened #285 "change the default logger format of the operator"
The default logger format 'oracle.kubernetes.operator.logging.LoggingFormatter' is not human-reading-friendly. Can we change it to a simpler format like java.util.logging.SimpleFormatter, in case ELK integration is not enabled, or just for console output. It can make it easier for troubleshooting.

[2018-05-15 07:53] simon-meng-cn opened #286 "Build operator failed"
I used the latest code to build operator. Ran command mvn -P integration-tests clean install, got following error

[INFO] Running oracle.kubernetes.operator.HealthCheckHelperTest
Exception in thread “Exec Stream Pumper” java.lang.OutOfMemoryError: Java heap space
    at java.util.Arrays.copyOf(Arrays.java:3236)
    at java.io.ByteArrayOutputStream.grow(ByteArrayOutputStream.java:118)
    at java.i

[2018-05-15 12:34] jhzhu89 opened #287 "Fail to scale up cluster via operator REST API"
Hi, I followed the instructions - `http(s)://${OPERATOR_ENDPOINT}/operator/v1/domains/domain1/clusters/cluster-1/scale` - to issue the request to scale up the cluster, but only got a 400.

I modified the script mentioned on [this page ](https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/rest.md#using-the-operators-rest-services) to POST the request. Here is the command generat

[2018-05-15 14:08] rjeberhard opened #288 "Intermittent test failures caused by weak map usage"

[2018-05-15 19:09] moreaut commented on #287
You need to add the an X-Requested-By header to all POST requests against the Operator REST API, including the /scale resouce.  (this protects against cross site scripting attacks).

For example: -H X-Requested-By:MyClient

See https://github.com/oracle/weblogic-kubernetes-operator/blob/master/docs/swagger/index.html
Look for '/scale'.  You'll notice that it lists the X-Requested-By header under i

[2018-05-16 01:11] simon-meng-cn commented on #286
After this error message appears, the compilation process hangs.

[2018-05-16 02:48] jhzhu89 commented on #287
Thank you @moreaut ,

After adding the 'X-Requested-By' header, it worked. BTW, the request body mentioned on [this page](https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/scaling.md) is `{"configuredManagedServerCount": 3}`

Seems that it should be `{"managedServerCount": 3}`, right? Maybe this page should be upated :)

Thanks,
Jiahao

[2018-05-16 03:08] moreaut commented on #287
Thanks Jiahao.  You are correct - it should be 'managedServerCount'.  We'll need to update scaling.md to correct that and to mention the required headers.

[2018-05-16 06:08] simon-meng-cn commented on #284
WlsRetriever$WithHttpClientStep.apply method is the only place log the WLS_HEALTH_READ_FAILED warning message. The possible scenario is this method be called multiple times.

[2018-05-16 12:44] #288 closed

[2018-05-16 13:58] rjeberhard commented on #279
We are waiting on the process that will publish the 1.0 image to OCR.  In the meantime, the best suggestion seems to be to update the documentation to not reference pulling the image from OCR, but instead suggesting that customers build the image locally or through Wercker.

[2018-05-16 14:41] lilyhe123 opened #293 "use predefined yaml files to install and uninstall voyager controller"
Currently we depend on https://raw.githubusercontent.com/appscode/voyager/6.0.0/hack/deploy/voyager.sh to do this which is undesirable.

[2018-05-16 14:49] tbarnes-us opened #295 "Speedup build: speedup HealthCheckHelperTest, or convert to integration test"
The HeathCheckHelperTest operator build unit test takes over two minutes even when it runs well, and the build takes less than a minute without it.

A slow build lowers developer productivity, so the test should be sped-up to run in seconds at worst or it should be converted to an integration test.

[2018-05-16 14:56] #279 closed

[2018-05-16 16:09] rjeberhard commented on #287
Fixed with pull request #291

[2018-05-16 16:09] #287 closed

[2018-05-16 18:07] alai8 commented on #284
Yes, the method is called multiple times, from periodic checking of weblogic server health state by the operator.
What other error/warning messages did you notice?

[2018-05-16 22:28] alai8 commented on #207
I noticed that there are "Access denied for service account" messages in the operator.log. Can you share the weblogic-operator-security.yaml file if you are still not able to get the servers to start?

[2018-05-17 05:42] jhzhu89 commented on #276
Hi, @lilyhe123

I didn't see this issue when I played with the weblogic operator this week, the managed servers run properly.
Thanks for your help, next time when I encounter such issue, I'll check the admin server first.

[2018-05-17 05:42] #276 closed

[2018-05-17 09:18] jhzhu89 opened #298 "Question about 'Using a WLDF policy rule and script action to call the operator's REST scale API'"
Hi,

I need to enable the auto scaling for a cluster, I have watched [the video](https://www.youtube.com/watch?v=Q8iZi2e9HvU&feature=youtu.be), now I am trying to scale up my cluster using scalingAction.sh.

I encountered some problems. I have these questions:

- I deployed the operator into its own namespace, for example, weblogic-operator, and deployed domains into their own namespaces, for exam

[2018-05-17 13:32] vanajamukkara opened #299 "write integration tests in java driven by maven"
To begin with, start with QUICK_TEST use cases from run.sh

- create operator and verify its deployed successfully, pod created, operator Ready and verify external REST service if configured

- create domain and verify the pods, services are created and servers are in Ready

- verify admin external service by accessing admin REST endpoint with nodeport in URL

- verify admin t3 channel port by exe

[2018-05-17 22:34] alai8 commented on #99
[Commit 141d1f0](https://github.com/oracle/weblogic-kubernetes-operator/commit/141d1f02ca7f09565c2543cc9467ca77ac8c2641) addresses the 'Bad substitution' issue.

Please also make sure that you are using one of the supported Kubernetes versions listed in the [README.md](https://github.com/oracle/weblogic-kubernetes-operator/blob/master/README.md)

[2018-05-17 22:34] #99 closed

[2018-05-18 06:37] simon-meng-cn commented on #285
To replace LoggingFormatter with SimpleFormatter, you need to modify the formatter configuration in abc.properties and operator/src/main/java/oracle/kubernetes/operator/logging/LoggingFacade.java. Then rebuild the operator to make it effective.

[2018-05-21 13:01] simon-meng-cn commented on #284
Only one warning message is repeated too many times in the log. There are no other error/warning messages.

[2018-05-22 16:33] sishbi commented on #269
I have had to do this as well because I want to use a local registry which is accessible by the k8s cluster.  It would be good if you can provide a create-weblogic-domain-inputs.yaml parameter where the image name can be specified.

[2018-05-23 05:42] jhzhu89 commented on #298
Hi @alai8 ,

Thanks for the new link, I followed it to create the policy and action, but I still cannot make it work.

I was trying running scalingAction.sh on admin-server directly, while I got 403 with no response body.
Here is the request generated by the script:

[code]

I cannot figure out what happened, the operator just printed out this line in log file:
`{"timestamp":"05-23-2018T05:38:46.9

[2018-05-23 06:12] jhzhu89 commented on #298
Hi,

I figured out why I got a 403.

Since my admin-server is running in the namespace weblogic-domain2, and the operator is running in the namespace weblogic-operator. I should have generated the access_token using the service account weblogic-operator's secret, not the service account default in weblogic-domain2.

I have another question about the policy and script action. After we create and ac

[2018-05-23 16:17] alai8 commented on #298
Could you verify that the diagnostic system module is targeted to the admin server?

Quote from [Automatic Scaling of WebLogic Clusters on Kubernetes blog](https://blogs.oracle.com/weblogicserver/automatic-scaling-of-weblogic-clusters-on-kubernetes-v2):
The diagnostic system module is targeted to the Administration Server, specified as as_name, which is passed in as a system argument.  This diagno

[2018-05-23 23:17] russgold commented on #295
Revised pure unit test now tests less than a second.

see change a5c57973fd53cee4f9f9a070ca22a7415

[2018-05-23 23:17] #295 closed

[2018-05-24 01:14] simon-meng-cn commented on #285
We can configure formatter for ConsoleHander and FileHandler in the configuration file src/scripts/logstash.properties. By default only the configured formatter for FileHandler take effect. Operator restricts the ConsoleHander to only use LoggingFormatter. If developer want to use different formatter for ConsoleHander in experiment. Need change code in operator/src/main/java/oracle/kubernetes/oper

[2018-05-24 01:14] #285 closed

[2018-05-24 06:13] jhzhu89 commented on #298
@alai8 ,

Thanks for the help, I made it by deploying the policy only on admin server.

While I still cannot make the policy work.
I created the start rule policy thru admin console, filled in the required params the same as posted in that blog, then attached a script action to it. The admin-server log showed that the module was successfully deployed and activated.  Then I curl-ed several times to

[2018-05-24 10:46] rjeberhard commented on #286
@simon-meng-cn, @russgold has refactored the HealthCheckHelperTests.  Can you please retry?

[2018-05-24 13:12] simon-meng-cn commented on #286
I build the operator successfully with the latest code today. The issue is fixed.

[2018-05-24 13:12] #286 closed

[2018-05-24 13:21] russgold opened #312 "Occasional out-of-memory exception in unit tests"
Under some circumstances, it is possible for the watcher tests to run out of memory, as each call adds a copy of recorded parameters. Since no test needs more than a few of these, the collection should be limited in size.

[2018-05-24 14:36] #312 closed

[2018-05-24 19:08] alai8 commented on #298
The smart rule looks ok.

Can you check the target servers for the diagnostic module, as shown in the screen shot of admin console:
![screen shot 2018-05-24 at 11 40 51 am](https://user-images.githubusercontent.com/22646587/40505878-7de606a2-5f4a-11e8-8e9c-1d454d7ad64a.png)

It should have checkbox for "admin-server" box checked, and leave the checkbox for "cluster-1" unchecked.

If this still doe

[2018-05-25 01:18] alai8 commented on #298
You can also add "-Dweblogic.debug.DebugDiagnosticWatch=true -Dweblogic.debug.DebugDiagnosticsExpressionPoller=true" to the value for the JAVA_OPTIONS env
in serverStartup section for the admin-server in domain-custom-resource.yaml.

  serverStartup:
  # desiredState legal values are "RUNNING" or "ADMIN"
  # "RUNNING" means the listed server will be started up to "RUNNING" mode
  # "ADMIN" means t

[2018-05-25 03:46] jhzhu89 commented on #298
Hi @alai8 ，

For the targets, I only checked the admin-server.
Here is the config file:
[Module-0-3905.tar.gz](https://github.com/oracle/weblogic-kubernetes-operator/files/2037890/Module-0-3905.tar.gz)

I'll try adding these options.

Thanks!

[2018-05-25 16:28] alai8 commented on #298
Thanks for uploading the WLDF module config file. Could you try removing the spaces before "ApplicationRuntime=OpenSessionApp,*" in the rule-expression and see if that helps?

[2018-05-27 19:11] mriccell opened #316 "Create domain script does not check that a NodePort defined in the input files is already in use"
This is a usability issue noted by Antonio from CERN.  Create domain script does not check that a NodePort defined in the input files is already in use.
      - It means that the script will fail just at the Kubernetes services creation time.
       - It means that also the directory on the shared volume is already created. Probably it would be good to validate NodePort and catch the conflict befo

[2018-05-27 19:20] mriccell opened #317 "Apache, Voyager, and Traefik should be set for TLS out of the box."
This is a usability requirement from Antonio from CERN.
Traefik, Voyager,  and Apache are listening on http. It would be nice have them already setup for TLS.
This requires that both these LBs have SSL enabled by default.

[2018-05-27 19:33] mriccell opened #318 "When removing namespace and PV for domain can no longer start WebLogic cluster [CERN]"
This is from Antonio from CERN:

I'm facing a strange problem( I think related to Kubernetes more than the Operator). Let's suppose that I have weblogic-operator and the domain1 running correctly if I perform these steps:

    Delete namespace and pv of domain1
    Clean the directory on the shared volume
    Recreate the domain1
    The weblogic operator is not able to start the WebLogic Cluster

[2018-05-28 06:08] jhzhu89 commented on #298
Hi @alai8 ,

I've added the JAVA options as you suggested, and removed the white spaces, from the log, I saw that this policy was successfully deployed. While I curled many times to the opensessionapp, the policy is always evaluated to false. Could you tell me how to trigger the policy?
Here is the admin-server log:
[admin-server.log.tar.gz](https://github.com/oracle/weblogic-kubernetes-operator/f

[2018-05-28 10:32] karan-kapoor90 commented on #207
Here it is :
[code]

[2018-05-30 06:02] jhzhu89 commented on #298
Hi @alai8 ,

I got the opensessionapp.war from this repo: https://github.com/oracle/docker-images/tree/master/OracleWebLogic/samples/wls-K8s/wls-12213-domain

I tried this morning, and I've reviewed my config.xml, it is same as yours except some params for scalingAction.sh. Here is all the data about the domain:
[domain2.tar.gz](https://github.com/oracle/weblogic-kubernetes-operator/files/2052564/

[2018-05-30 08:03] karan-kapoor90 commented on #207
@rjeberhard Any ideas? I ran the operator security yaml above separately as well but the operator still exits with the same Access Denied issues.

[2018-05-30 11:26] karan-kapoor90 opened #319 "Operator shutting down automatically"
I've created a namespace called dev-domain and have run the create-weblogic-domain script. As a result, I now see the following:

[code]

However when I try to look at the pods in the namespace, no pods are created for the managed servers, and the console is also not available. As per the domain custom resource yml, there should be 1 managed server: domain-custom-resource.yml

[code]

The create d

[2018-05-30 11:41] karan-kapoor90 commented on #319
There's a prefix space in before the namespace names in the targetNamespaces defined in the yml file for creating the operator. Could this be a possible issue?
[code]

[2018-05-30 18:35] alai8 commented on #298
I noticed that the application name in your WLDF rule expression is different from the application name. The case should match too.

Your rule is
      \<rule-expression>wls:ClusterGenericMetricRule("cluster-1","com.bea:Type=WebAppComponentRuntime,ApplicationRuntime=**OpenSessionApp**,*","OpenSessionsCurrentCount","&gt;=",0.01,5,"1 seconds","10 seconds")\</rule-expression>

but your application is

[2018-05-31 05:51] karan-kapoor90 commented on #319
I deleted and recreated the operator but I still see a message saying 'The Oracle WebLogic Server Operator for Kubernetes is shutting down' in the operator logs even though this time there is no "namespace not found" errors in the logs.

[2018-05-31 06:45] karan-kapoor90 commented on #319
Yup, that worked. So if you configured the operator to manage multiple namespaces to hold multiple domains, one must be careful about not putting spaces when enlisting the namespace names in targetNamespaces in the `create-weblogic-operator-inputs.yaml` file, otherwise the operator will think it has to manage a namespaces with a space prefixed, while no such namespace (with a prefixed space) will

[2018-05-31 06:45] #319 closed

[2018-05-31 06:51] karan-kapoor90 opened #320 "Operator not able to start Admin server - nodemanager start file not found"
I've managed to setup the operator and have setup a weblogic domain called dev-domain as:
[code]

The admin server pod is not able to start up:
[code]

The error in the pod's description is:
[code]
The location up to /admin-server is present in the shared location that is mentioned in the error, but the `nodemgr_home/startServer.sh` file really does not exist in the location. Seems like some kind

[2018-05-31 07:59] jhzhu89 commented on #298
@alai8 ,

Thank you very much, it works :)
Really appreciate your help!

Jiahao

[2018-05-31 15:59] #298 closed

[2018-05-31 16:47] alai8 commented on #320
Is it possible that your weblogic operator image is older than the create-weblogic-domain.sh script that was used to create the weblogic domain?

[2018-06-01 05:59] karan-kapoor90 commented on #320
Possible.. I'll check that. Could you point me to the best (most up to date) resource for building a weblogic docker image?

[2018-06-01 06:04] karan-kapoor90 commented on #320
I pulled a fresh weblogic image from the docker store instead of building one. Could the problem still exist?

[2018-06-01 06:33] karan-kapoor90 commented on #320
So I created a new container using the store/oracle/weblogic:12.2.1.3 image using the command:
[code]

And then I looked inside the container to see if there was a startServer.sh script in there, but there's nothing that looks like that in there..
[code]

Is there a problem with the way the image is being built?

[2018-06-01 15:49] alai8 commented on #320
We have moved the startServer.sh script from .../nodemgr_home/startServer.sh to a config map recently. Since there is no nodemgr_home in your dev-domain I am assuming that it is built using a recently pull. However, since the weblogic operator in your environment is still creating pods that use the startServer.sh script from .../nodemgr_home/ I suspect that your weblogic operator image hasn't been

[2018-06-04 06:02] karan-kapoor90 commented on #320
Ok. I'll rebuild the operator and report back what I find.

[2018-06-04 15:12] rjeberhard commented on #320
Karan,

The image won't have the start script because the script comes from a ConfigMap that is mounted in the Pod's file system.

[oracle@9a49deb291b5 AdminServer]$ ll

[2018-06-06 03:40] jhzhu89 opened #326 "Managed server failed to start due to boot identity problem"
Hi,

I created a domain, but  all managed server always failed to start due to below error:

[code]

Could you help check what is wrong with the boot identity? Thanks in advance.

Here is all files inside the domain:
[domain1.tar.gz](https://github.com/oracle/weblogic-kubernetes-operator/files/2074714/domain1.tar.gz)

[2018-06-06 21:06] rjeberhard commented on #326
@jhzhu89, what can you tell us about how you created this domain home?  The boot.properties files between the admin server, managed server 1, and managed server 3 are all different.  It's likely the boot.properties for managed servers 1 and 2 are wrong.

[2018-06-11 21:24] bryantidd opened #327 "Container failed liveness probe.."
Killing container with id docker://weblogic-operator:Container failed liveness probe.. Container will be killed and recreated.

Doesn't seem to be creating /operator/.alive file with latest code from master.
I am doing a maven build (mvn -P default clean install -Dmaven.test.skip=true) and building & pushing image to private registry, deploying to kubernetes with create-weblogic-operator.sh script

[2018-06-12 12:59] russgold opened #328 "Acceptance test fails when git is in "detached" mode."
In trying to debug an issue, I checked out an older commit, leaving Git in the detached head state, so that git status returns:

 HEAD detached at b80e83a
nothing to commit, working directory clean

But the acceptance test cannot handle this, and fails during image validation:

[06-12-2018T07:46:37] [secs=338] [test=test_first_operator.oper1] [fn=deploy_operator]: [FAIL] pod image should be ((wlsl

[2018-06-13 19:46] maggiehe00 opened #330 "Create domain job fails to deploy Apache LB when loadBalancerVolumePath is set and loadBalancerExposeAdminPort: false"

[2018-06-14 18:08] bryantidd commented on #327
Ok, I pulled and built from develop and the operator is working now

[2018-06-14 18:08] #327 closed

[2018-06-14 18:24] bryantidd opened #333 "WebLogic Admin Console doesn't allow login via Voyager LoadBalancer"
I have deployed a WebLogic domain with the develop codebase for the operator and Voyager as LoadBalancer. The cluster becomes available. I add the admin-server service as a backend to a host in the voyager ingress. I can access the "console/login/LoginForm.jsp" page, but the credentials that I provided in the secret mounted and used in domain creation do not allow access.

Any hints or trouble sho

[2018-06-14 18:43] bryantidd commented on #32
I am successfully using the NFS options available in the develop branch as of June 12th with Amazon AWS EFS based persistent storage for a Kubernetes cluster deployed in Amazon AWS.

I would like to suggest an option to provide persistent storage by either using the provided methods in the input and bash scripts, or by providing an input for substitute pvc & pv template files in the input yaml

Be

[2018-06-15 09:43] karan-kapoor90 commented on #320
Rebuilding the operator worked. Thank you @rjeberhard

[2018-06-15 09:43] #320 closed

[2018-06-18 21:22] alai8 commented on #333
Hi, could you give us more details on what you did to "add the admin-server service as a backend to a host in the voyager ingress"? Thanks!

[2018-06-20 03:19] lilyhe123 opened #336 "intermittent failure when creating domain with voyager LB"
Sometime I got following output/error when run create-weblogic-domain.sh with voyager LB:
...
service "voyager-operator" created
apiservice.apiregistration.k8s.io "v1beta1.admission.voyager.appscode.com" created
serviceaccount "voyager-operator" created
serviceaccount "voyager-operator" labeled
clusterrole.rbac.authorization.k8s.io "voyager-operator" reconciled
clusterrolebinding.rbac.authorizatio

[2018-06-20 21:23] #336 closed

[2018-06-25 19:03] pchinmay opened #340 "weblogic-kubernetes-operator started managed servers with coherence enabled does not form a cluster."
When weblogic kubernetes operators starts managed servers, it creates kubernetes service object with service type=ClusterIP that causes the incorrect WKA list as shown below causes multiple coherence enabled managed servers(CacheTier) NOT to form a cluster.

WellKnownAddressList(
  10.106.99.26
  10.244.1.3
  )

MasterMemberSet(
  ThisMember=Member(Id=1, Timestamp=2018-06-19 18:22:54.308, Address=

[2018-06-25 19:19] pchinmay commented on #340
Realized issue filed with wrong username. Closing this one..

[2018-06-25 19:19] #340 closed

[2018-06-25 20:06] chpatel3 opened #341 "weblogic-kubernetes-operator started managed servers with coherence enabled do not form a cluster."
When weblogic kubernetes operator starts managed servers, it creates kubernetes service object with service type=ClusterIP that causes the incorrect WKA list as shown below causes multiple coherence enabled managed servers(CacheTier) NOT to form a cluster.

WellKnownAddressList(
10.106.99.26
10.244.1.3
)

MasterMemberSet(
ThisMember=Member(Id=1, Timestamp=2018-06-19 18:22:54.308, Address=10.244.1.

[2018-06-26 16:00] rjeberhard commented on #341
@chpatel3 Please test against the issue-341 branch.  Note: you cannot specify clusterIP="None" for type="NodePort" services.  Therefore, admin servers typically wouldn't be able to join Coherence clusters.  I'm assuming this is okay.

[2018-06-26 16:06] chpatel3 commented on #341
Thanks Ryan!
Yes, admin server is fine with NodePort as it exposing the port to access the console.
I will test with branch issue-341 and update here with the result.

[2018-06-26 16:21] chpatel3 commented on #341
@rjeberhard Just tested with issue-341 branch and verified managed server instances are created with headless service.

service/wdtdomain-managed-server1                     ClusterIP   None             <none>        8001/TCP          1h        weblogic.createdByOperator=true
,weblogic.domainUID=wdtdomain,weblogic.serverName=managed-server1
service/wdtdomain-managed-server2                     Clu

[2018-06-27 02:10] #293 closed

[2018-06-27 16:52] #341 closed

[2018-07-06 14:40] shaunxa opened #344 "Error with create-weblogic-domain.sh: error: unable to recognize "/vagrant/weblogic-domains/domain1/domain-custom-resource.yaml": no matches for weblogic.oracle/, Kind=Domain"
[vagrant@master kubernetes]$ ./create-weblogic-domain.sh -i create-weblogic-domain-inputs.yaml -o /vagrant
Input parameters being used
export version="create-weblogic-domain-inputs-v1"
export adminPort="7001"
export adminServerName="admin-server"
export domainName="base_domain"
export domainUID="domain1"
export clusterType="DYNAMIC"
export startupControl="AUTO"
export clusterName="cluster-1"
expor

[2018-07-07 16:37] karan-kapoor90 opened #345 "Managed Server pods not starting"
The admin server pod is up and running however no Managed server pods are created. I'm running on OCI on 3 instances - not provisioned using the terraform scripts but created directly from the OCI UI.
The operator is running and the custom domain resource also says the following:

[code]

The domain creation job had also completed successfully without any errors. Not able to figure out why the man

[2018-07-07 16:38] karan-kapoor90 commented on #345
[operator.log](https://github.com/oracle/weblogic-kubernetes-operator/files/2172913/operator.log)

[2018-07-07 16:42] karan-kapoor90 commented on #345
I tried with creating both kinds of clusters, dynamic as well as Configured and both had the same issue with the same error in the operator logs.

[2018-07-07 18:06] karan-kapoor90 commented on #345
[fine-operator.log](https://github.com/oracle/weblogic-kubernetes-operator/files/2172965/fine-operator.log)

I increased the operators logging level to FINE. Not sure that the problem is though

[2018-07-07 20:07] karan-kapoor90 commented on #345
I looked after a while and the Managed servers had started and they were in a CrashLoopBackoff.. looking through the logs I found the following in the managed server logs:

[code]

Shouldn't have happened because I didn't do anything custom! I did the standard steps to setup a weblogic cluster

[2018-07-07 20:15] karan-kapoor90 commented on #345
#326 is the same issue... Additionally in my case, it was roughly an hour before managed server creation seemed to start after the admin server was created.

[2018-07-07 21:17] karan-kapoor90 commented on #326
I killed the managed server pods and put in the admin username and password into the boot.properties for both the managed servers.  These are the same credentials I gave in the secret for weblogic credentials.

In my case the operator had hit the max number of tries and had hence given up on creating managed servers, so I restarted an operator pod which immediately triggered the managed server cre

[2018-07-13 03:46] shaunxa commented on #344
It is not available in api-versions
==================================
[vagrant@master weblogic-kubernetes-operator]$ kubectl api-versions
admissionregistration.k8s.io/v1beta1
apiextensions.k8s.io/v1beta1
apiregistration.k8s.io/v1beta1
apps/v1
apps/v1beta1
apps/v1beta2
authentication.k8s.io/v1
authentication.k8s.io/v1beta1
authorization.k8s.io/v1
authorization.k8s.io/v1beta1
autoscaling/v1
autosca

[2018-07-13 17:16] rjeberhard commented on #344
Hi @shaunxa,

The CRD that defines the custom resource is created when the operator starts.  Do you have the operator running?  You need to do this before running the create domain script.

[2018-07-24 20:05] anpanigr opened #356 "Provide an option to start/stop Domain and Operator"
The provided script create-weblogic-domain.sh and create-weblogic-operator.sh  has an option [-g]  to generate yaml files for introspection.

However there is no option to start/stop the Operator or Domain using those generated yaml file.  The create script(s)  does not works with pre-generated yaml files

It is better to have option to start Operator/Domain with an option  (e.g. -s ) to only star

[2018-07-24 21:25] anpanigr opened #357 "Provide a script to delete all k8s Resource assocaited with Operator"
Similar to delete-weblogic-domain-resources.sh it is better to provide such file (e.g. delete-weblogic-operator-resourecs.sh) to delete K8s resource associated with Operator NameSpace for a clean environment.

[2018-07-25 19:05] vanajamukkara commented on #299
Deferred to 2.0.

[2018-07-25 19:05] #299 closed

[2018-07-26 21:03] #330 closed

[2018-07-26 23:33] marinakog commented on #345
is it possible that the ${domainPVSPath} dir was not cleaned up before domain creation? do you use NFS ? you can try to delete and shutdown everything, and clean domainPVSPath, unmount and mount again dirs in the client nodes. (see https://blogs.oracle.com/weblogicserver/how-to-run-weblogic-clusters-on-the-oracle-cloud-infrastructure-container-engine-for-kubernetes )
ssh -i ${sshKeyPath} -o CheckH

[2018-08-01 00:28] tusharmahale opened #368 "operator customization"
Hi,

 I have a dynamic cluster and I am customizing operator as per project requirements while customizing managed server I assume to modify below file which will configure managed server and node manager configurations (Please correct if I am going in wrong direction)

weblogic-kubernetes-operator/operator/src/main/resources/scripts/startServer.sh

If I do so, it wont be valid for another Domain

[2018-08-03 17:30] lennyphan commented on #368
Hi Tushar,

Can you elaborate on what customizations you're trying to do?  This particular script (startServer.sh) was not originally intended to be modified/customized.  If you can provide some examples on the type of customizations you'd like that it will help us to understand what approaches can be made.

Thanks!
Lenny

[2018-08-03 17:38] tusharmahale commented on #368
Hi Lenny,

I am trying to add CLASSPATH, jars and custom files which are specific to POD details like machine-name  as we have t3 callback from Managed server application. So I am using startServer.sh to copy customized files during pod creation like we are doing for Node Manager files (e.g startNodeManager.sh).

Thanks,
Tushar

[2018-08-06 17:14] lennyphan commented on #368
Hi Tushar

Since the WebLogic Domain is created on a Persistent Volume you should be able to copy any custom jars to the file system of the PV since it is shared by all the pods running the managed servers  and then configure the custom classpath (referencing those jars) for the dynamic cluster.  For example, suppose the the physical path for the PV is '/scratch/k8s_dir/domain1' and that is mapped

[2018-08-06 17:26] tusharmahale commented on #368
Thanks Lenny for reply .. For jars I am already handling it as mentioned above but what about CLASSPATH if I want to provide custom classpath for managed server as if I modify startServer.sh below line to add additional parmemters its not getting core libs reference and server is not starting

echo "Update JVM arguments"
echo "Arguments=${USER_MEM_ARGS} -XX\:+UnlockExperimentalVMOptions -XX\:+UseC

[2018-08-07 14:15] amyles opened #372 "Unable to connect to the server: x509: cannot validate certificate for 100.66.4.122 because it doesn't contain any IP SANs"
Hi
I am deploying the operator using create-weblogic-operator.sh and get the error:

just after the self-signed certs have been created although I think this is am issue connecting to the k8s API rather than the operators API.

Any ideas on how to solve this issue? I have had the operator deployed previously on a cluster built the same way (terraform on OCC) but not sure why this attempt is failin

[2018-08-07 14:40] #372 closed

[2018-08-07 14:41] amyles commented on #372
Had set http_proxy and https_proxy with no exceptions.

[2018-08-07 18:35] jeffellin opened #375 "Operator fails when changing namespace from default"
In the input section of the `create-weblogic-domain-inputs.yaml` their is a section for namespace.  If I change the value to something other than default the scripts fail.  This is because the template for the persistent volume does not contain a namespace.  The Job API assumes that the specified volume and claim are all in the same namespace.

Fix is to add namespace to the PersistentVolume templ

[2018-08-07 19:50] mriccell commented on #368
@tusharmahale  unfortunately this version of the Operator does not have a mechanism to set the CLASSPATH.  An engineer from our team who required to set the classpath to add a jar file that included a fix used the EXT_PRE_CLASSPATH.  He changed the PodHelper.java to set "EXT_PRE_CLASSPATH" env variable =>

# diff PodHelper.java PodHelper.java.orig
763d762
<     addEnvVar(container, "EXT_PRE_CLASSP

[2018-08-07 20:15] tusharmahale commented on #368
Thanks Monica, EXT_PRE_CLASSPATH  will be available as a part of input parameters ?, Also I think PodHelper.java is suppose to be responsible for creating Pod yaml file. I want to suggest to add additional ENV variable reference in create-weblogic-domain-inputs.yaml that will be exported during POD creation so that end users will have all feasibility to customize the Pod and automate deployment fo

[2018-08-08 08:32] amyles opened #379 "create-weblogic-domain.sh creates only traefik pod, no admin or managed server pods"
I'm using the https://github.com/oracle/weblogic-kubernetes-operator/blob/master/kubernetes/create-weblogic-domain-inputs.yaml file pulled from git to create a WLS domain following the instructions here https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/creating-domain.md
The script runs successfully but only a traefik pod is created there is no admin server or managed server

[2018-08-08 08:34] amyles commented on #379
# Copyright 2018, Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.

# The version of this inputs file.  Do not modify.
version: create-weblogic-domain-inputs-v1

# Port number for admin server
adminPort: 7001

# Name of the Admin Server
adminServerName: admin-server

# Name of the

[2018-08-08 08:36] amyles commented on #379
Create domain inputs yaml

[code]

[2018-08-08 17:32] lennyphan commented on #368
Hi Tushar,

So you can use the following env variables to affect the managed server classpath.  For example, if you modify the domain-custom-resource.yaml and add the following example env vars:

  clusterStartup:
  - desiredState: "RUNNING"
    clusterName: "cluster-1"
    replicas: 1
    env:
    - name: JAVA_OPTIONS
      value: "-Dweblogic.StdoutDebugEnabled=false"
    - name: USER_MEM_ARGS

[2018-08-08 18:53] tusharmahale commented on #368
Great Thanks Lenny.. it worked :) now we can customize as we per requirement.

[2018-08-08 19:41] mriccell commented on #379
@amyles could you switch the startupControl: ALL to startupControl: AUTO we encounted a problem with this setting and are in the process of correcting.  Switch from
exposeAdminNodePort: false to exposeAdminNodePort: true so that you can start the admin console.

I would also like to point you to documentation of steps to perform before restating a domain after you have made changes.  In the README

[2018-08-08 21:01] marinakog commented on #375
Hi @jeffellin could you please submit the error you are getting? we do create pv in default namespace but it does not break anything in the test environment. all our tests use custom name spaces for operator and domain. Could you please double check that your PV directory is create and has write permission , for example in the create-weblogic-domain-inputs :weblogicDomainStoragePath: /scratch/exte

[2018-08-10 14:35] lennyphan commented on #379
Hi Angus,
Can you verify:
1. The Operator pod was running at the time you ran the script (create-weblogic-domain.sh) for creating the domain?
2. Verify the WebLogic domain was physically created under the persistent volume in the path '/root/domain1'?  That is, you should see 'applications, domain, logs, and stores' directories created and the domain 'domain1' populated with WebLogic domain files.

[2018-08-13 07:33] amyles commented on #379
Hi Lenny
Thanks for getting back to me:
- Yes the weblogic operator pod was running when I tried to create the domain.
- The domain has been created under /root/domain1. I see the domain files under /root/domain1/domain/base_domain but no logs under /root/domain1/logs
- The operator logs has a LOT of:

Any clue there?

[2018-08-13 13:32] jeffellin commented on #375
@marinakog I am not able to reproduce the problem anymore :( . I even tried a new K cluster to try a clean setup,  So we are good for now.  Thanks

[2018-08-13 13:32] #375 closed

[2018-08-13 18:43] lennyphan commented on #379
These messages look to be a result of the Admin Server not running.  Currently, we need the Admin Server pod running so that the Operator can introspect the WebLogic Domain configuration to do some validation before Managed Server pods can be started.  The first thing is to try and figure out why the Admin Server pod isn't starting up.  Can you get the whole logs from the time the Domain is deploy

[2018-08-14 04:11] shaunxa commented on #344
@rjeberhard, thank you for your advise. I will check and update the outcome. Thanks.

[2018-08-14 07:43] amyles commented on #379
[weblogic-operator-pod.zip](https://github.com/oracle/weblogic-kubernetes-operator/files/2285956/weblogic-operator-pod.zip)
Hi @lennyphan here's the operator logs. HTH

Angus

[2018-08-14 18:06] lennyphan commented on #379
In looking at your Operator log, it seems there is a permission issue when issuing request to create Admin Server pod:

{"timestamp":"08-08-2018T08:23:42.057+0000","thread":30,"level":"INFO","class":"oracle.kubernetes.operator.helpers.PodHelper$AdminPodStep$1$1","method":"onSuccess","timeInMillis":1533716622057,"message":"Creating administration server Pod for WebLogic domain with UID: domain1. Ad

[2018-08-15 07:56] amyles commented on #379
@lennyphan  so is this calling the operator REST API?

[2018-08-15 10:03] amyles commented on #379
The operator REST API does seem to be working. I used the sample script from https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/rest.md and can list domains:

[root@mst-instance1 weblogic-kubernetes-operator]# /root/rest.sh mst-instance1 operator/latest/domains
grep: weblogic-operator.yaml: No such file or directory
Ready to call operator REST APIs
  % Total    % Received % Xf

[2018-08-15 15:38] wsvoorhees commented on #379
@amyles My team was seeing the same thing, what we found was that the operator needs to be pointed the specific target namespaces to scan for new domains (targetNamespaces field).

[2018-08-15 16:05] amyles commented on #379
Thanks @wsvoorhees. Is this targetNamespaces in create-weblogic-operator-inputs.yaml ? I have that set to default and am trying to build the domain in default namespace too?
Is there any way to dynamically change the target namespace or does it need a redeployment of the operator?

[2018-08-15 16:26] lennyphan commented on #379
The stack trace above indicates that Operator is issuing requests to the K8s API Server to create the pod.  It seems that the Operator doesn't have permissions to issue requests to the K8s API Server to perform operations, hence the 403 response code.  Your targetNamespace is correct since your configuration indicates that you deployed the domain to 'default' namespace.  The fact that the Operator

[2018-08-15 17:03] amyles commented on #379
Hi @lennyphan I see them:

and

[2018-08-16 19:05] lennyphan commented on #379
Hi @amyles

Can you grant the following cluster role binding, which allows kubernetes cluster wide system service accounts cluster-admin role privileges:

kubectl create clusterrolebinding permissive-binding --clusterrole=cluster-admin --user=admin --user=kubelet --group=system:serviceaccounts

Please give it a try and let me know if pods are created.

[2018-08-20 17:03] lennyphan commented on #379
Hi @ocurpianb

Can you post the Admin Server logs (located in the 'logs' directory on the Persistent Volume) and the full Operator logs?  Hopefully this will help to get context on what is occurring.

Also, what platform are you running on?

Thanks!

Lenny

[2018-08-20 20:14] ocurpianb commented on #379
Hi @lennyphan

The platform is:
[root@instance01 logs]# docker version
Client:
 Version:           18.06.0-ce
 API version:       1.38
 Go version:        go1.10.3
 Git commit:        0ffa825
 Built:             Wed Jul 18 19:08:18 2018
 OS/Arch:           linux/amd64
 Experimental:      false

Server:
 Engine:
  Version:          18.06.0-ce
  API version:      1.38 (minimum version 1.12)
  Go ver

[2018-08-21 08:47] amyles commented on #379
Hi @lennyphan
I created the permissive-binding but get the same behaviour. The 403 is still in the logs.
Angus

[2018-08-21 22:01] lennyphan commented on #379
Hi @ocurpianb

Logs don't show anything out of the ordinary than the security initialization that seems to be taking time.  Can you verify if the Admin Server startup is slow for the first startup after deploying the WebLogic Domain and if it's faster startup for subsequent startups?  For example, after the first startup of the Admin Server after creating the domain, you can stop the cluster by:

[2018-08-21 22:39] lennyphan commented on #379
Hi @amyles

I'm surprised that the above cluster role binding didn't work as it's essentially giving all service accoounts cluster admin privileges.  Perhaps the K8s API Server logs can shed some light on why 403 code is happening?  K8s API server logs may be located in /var/log/... on linux.  I'll continue to try and research how to debug 403.

[2018-08-22 12:39] ocurpianb commented on #379
Hi @lennyphan

I deleted and deployed again the welogic domains and, as you said, stopped and started again the domains. Now, the operator log is clean, but the problem persists.

I'm focused on one of my servers which seems to be easiest to make it happens . My sandbox is based on five virtual servers and the problem happens on the startup of admin and managed servers.

I found multiple error on

[2018-08-24 16:59] lennyphan commented on #379
Hi @ocurpianb

Take a look at the server logs, located in the 'logs' directory under the persistent volume path or in the servers directory of the WebLogic domain.  I suspect the WebLogic server instances are taking a long time to start and reach RUNNING state such that the readiness probe is timing out and restarting the pods.

[2018-08-24 23:05] rjeberhard opened #393 "weblogicImagePullSecretName value not included in Pods"
The create-weblogic-domain-inputs.yaml value weblogicImagePullSecretName is not presently included in the generated Domain resource and, therefore, admin and managed server Pods don't have imagePullSecrets content.  The domain home creation Job does have this content.

[2018-08-27 17:43] russgold commented on #393
I have a candidate fix for this on branch issue_393

[2018-08-28 10:42] ocurpianb commented on #379
Hi @lennyphan

During the startup process, the instance becomes freezing after the next line for a long period of time

admin server url is t3://srv11-domain-adminsrv11:7002

After some minutes, the process continues as a normal startup.
The logs I attach, was the startup of the srv115 weblogic instance last August 22, which I delete to be recreated automatically this morning.  In this case, the r

[2018-08-28 15:23] deepank-sharma opened #397 "Package war as Docker image"
Hello there
The videos we saw shows how to create the operator, domains and managed servers.
But it also shows how to provide your war to the admin console to supply to the cluster.
Is there a more native Kubernetes way to package the managed server with the war in the form of a Docker image, so that when we say domain.start or cluster.start it automatically fires up the Pod as a Weblogic Managed

[2018-08-28 15:26] tusharmahale commented on #397
I think you can customize your domain creation kubernetes/internal/create-weblogic-domain-job-template.yaml as per your requirements

[2018-08-28 18:58] deepank-sharma commented on #397
@tusharmahale  : Is there an example that I can refer ?

[2018-08-30 22:48] lennyphan commented on #379
Hi @ocurpianb
Still looking into this.

[2018-08-31 22:38] lennyphan commented on #379
Hi @ocurpianb

I've been unable to reproduce the slow startup in my env.  Would you be able to do a couple things to try and diagnose the long startup of the Admin Server?

1. Set the following debug server lifecycle system properties in the JAVA_OPTIONS of the Admin Server?

-Dweblogic.log.StdoutSeverity=Debug -Dcom.oracle.weblogic.server.service.debugging=true -Dweblogic.debug.DebugServerLifeCyc

[2018-09-04 19:45] #393 closed

[2018-09-04 21:57] lennyphan commented on #379
Hi @amyles
Any success in finding the Kubernetes API server logs to see if there are any information on why pods aren't being created?
Thanks!
Lenny

[2018-10-01 13:21] antonionappi88 opened #431 "Impossible build WebLogic operator locally."
Hello there,
I'm trying to build the operator locally( mvn clean installl) but I get always these errors :

[code]

and

[code]

Below all the required tools with version :

[code]
[code]

[code]

[code]

Do you know what i'm doing wrong ?
I just clone a clean repository and run mvn clean install.

Cheers,
Antonio

[2018-10-01 17:43] moreaut commented on #431
Hi Antonio,

Which branch are you trying to build? master? develop? v1.1?

Thanks, -Tom

[2018-10-02 07:16] antonionappi88 commented on #431
Hi Tom,
I'm on the master branch.

Thanks.
Antonio

[2018-10-02 13:53] moreaut commented on #431
Hi Antonio,

Have you installed docker and kubernetes, and are they up and running when you do your build?
And which versions of these did you install?

Have you followed the installation instructions in https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/installation.md ?

Also, is your ~/.kube/config file correct?

When I modified mine to comment out the 'server' lines, then

[2018-10-02 13:58] moreaut commented on #431
[kube_config.txt](https://github.com/oracle/weblogic-kubernetes-operator/files/2438143/kube_config.txt)

[2018-10-03 12:55] antonionappi88 commented on #431
Hi Tom,
I was following the section : **Build the Docker image for the operator locally**
Docker is up and running instead I don't have any kubernetes package installed( a part kubectl ).
In the section that I was following there was not mention about it.  Do I need any particular library to build from source ?

Thanks
Antonio

[2018-10-03 13:17] moreaut commented on #431
Hi Antonio,

You need to install Kubernetes before building locally.

https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/k8s_setup.md ?

Thanks, -Tom

[2018-10-03 15:37] antonionappi88 commented on #431
Hi tom,

I usually have  ~/.kube/config in another directory. Exporting the KUBECONFIG with the correct path the `mvn clean install` worked without problems.

Thanks a lot!
Antonio

[2018-10-03 15:42] moreaut commented on #431
Hi Antonio,

You're welcome, I'm glad I could help you out.

I'm curious - do you also have a ~/.kube/config file that doesn't have a 'server' entry in it?
I'm trying to understand why you got that particular stack trace before you exported KUBECONFIG.

Thanks, -Tom

[2018-10-03 16:19] antonionappi88 commented on #431
Hi Tom,

yes I have also a ~/.kube/config file that it looks like this :

[code]

Cheers,
Antonio

[2018-10-03 16:38] moreaut commented on #431
Cool - that explains the NPE - it's not setting the 'server' property.
Mind if I close this issue?

[2018-10-04 07:36] antonionappi88 commented on #431
Hi Tom,
you can close it.
Thank you a lot.

Antonio

[2018-10-04 07:37] #431 closed

[2018-10-07 18:07] ahmad380360 commented on #397
Yas

[2018-10-12 12:53] rjeberhard opened #442 "Liveness probe and initialization retry needed for operator"
Unlike later runtime calls, the K8s API calls in the operator's intialization sequence are run serially and not retried.  This code should match the patterns in the rest of the system.

Similarly, the operator's stability would be vastly improved if we implemented an improved liveness probe that did more to validate that the operator was running in addition to checking a file timestamp.

[2018-10-30 14:17] amyles commented on #379
Hi @lennyphan I've lost that environment now. I'll close this issue and spin up another k8s env and test again.

[2018-10-30 14:17] #379 closed

[2018-11-13 05:55] charuni2018 opened #496 "Geetting issue while installing weblogic kubernetes operator"
The WebLogic operator REST interface is externally exposed using a generated self-signed certificate that contains the customer-provided list of subject alternative names.
/c/Users/charuni_verma/weblogic-kubernetes-operator/kubernetes/internal
Generating a self-signed certificate for the operator's internal https port with the subject alternative names DNS:internal-weblogic-operator-svc,DNS:intern

[2018-11-13 05:56] charuni2018 commented on #496
I am setting up the weblogic domain in my kubernetes cluster and seeing the error. following the video provided https://www.youtube.com/watch?v=B5UmY2xAJnk&feature=youtu.be

[2018-11-13 13:38] charuni2018 commented on #496
I am bit confused, if you can guide me I need to have a weblogic poc domain created, which is a better way

  1.  With weblogic operator installed on a namespace and next is WL domain creation
  2.  Getting a Dockerfile of weblogic domain and moving it to the PK cluster.

Thanks,
Charuni

From: Tom Moreau [mailto:notifications@github.com]
Sent: Tuesday, November 13, 2018 6:58 PM
To: oracle/weblogi

[2018-11-13 13:41] moreaut commented on #496
Hi Charuni,

Can you first please answer my earlier questions?  Which branch are you using? (master?) and is keytool in your shell's path?

Thanks, -Tom

[2018-11-13 13:43] moreaut commented on #496
i.e. were you following the instructions in Mark Nelslon's video as-is? i.e. you just did a 'git clone' and did not use 'git checkout'?  And what does it say if you do 'git status' ?

And what happens in your shell if you do 'which keytool' and if you do 'which openssl' ?

[2018-11-13 13:50] charuni2018 commented on #496
Yes I am following the Mark nelson video as it is …
I am new to the PKS and trying to build the WL domain in my pks cluster. Can we get the wl docker file and import it on the PKS environment.

$ which keytool
which: no keytool in (/c/Users/charuni_verma/bin:/mingw64/bin:/usr/local/bin:/usr/bin:/bin:/mingw64/bin:/usr/bin:/c/Users/charuni_verma/bin:/c/Program Files/Docker/Docker/Resources/bin:/c/Pr

[2018-11-13 13:53] charuni2018 commented on #496
Yes I am using it on my master branch the o/p iof keytool is as below

$ which keytool
which: no keytool in (/c/Users/charuni_verma/bin:/mingw64/bin:/usr/local/bin:/usr/bin:/bin:/mingw64/bin:/usr/bin:/c/Users/charuni_verma/bin:/c/Program Files/Docker/Docker/Resources/bin:/c/Program Files (x86)/RSA SecurID Token Common:/c/Program Files/RSA SecurID Token Common:/c/WINDOWS/system32:/c/WINDOWS:/c/WIND

[2018-11-13 13:58] moreaut commented on #496
You need to have keytool in your shell's path before you can make any progress on installing the operator and creating a domain - i.e. before you can follow the rest of the instruction's in Mark Nelson's video.

I'm guessing you'll need to install keytool on your machine (I'm not familiar with how to do that).

[2018-11-15 06:56] charuni2018 commented on #496
Hello Tom,

I have basically installed JAVA and also set JAVA_HOME variable as C:\Program Files (x86)\Java\jre1.8.0_191\bin and I have downloaded the weblogic kubernetes operator under C:\Users\charuni_verma\weblogic-kubernetes-operator

do I need to explicitly define in my generate-weblogic-operator-cert.sh the path of keytool again as it is not recognizing the keytool utility to generate the cer

[2018-11-15 06:57] charuni2018 commented on #496
adding to it keytool utility comes along with java install so I did the same on my local system

[2018-11-15 08:10] charuni2018 commented on #496
ok got it Now I made this working but I am seeing the error for the weblogic operator to install:

[error_weblogic_operator.txt](https://github.com/oracle/weblogic-kubernetes-operator/files/2584276/error_weblogic_operator.txt)

[2018-11-15 12:50] moreaut commented on #496
It says that it couldn't pull the logstash:5 and weblogic-kubernetes-operator:1.1 images.
This is preventing the operator from starting.

I don't know what is causing this or if there is extra setup you need to do so that your machine can pull the images.

Does someone else from the weblogic operator team know how to solve this?

[2018-11-15 13:30] charuni2018 commented on #496
Is that can be the reason that I am in my company network.

From: Tom Moreau [mailto:notifications@github.com]
Sent: Thursday, November 15, 2018 6:21 PM
To: oracle/weblogic-kubernetes-operator
Cc: Verma, Charuni; Author
Subject: Re: [oracle/weblogic-kubernetes-operator] Geetting issue while installing weblogic kubernetes operator (#496)

[EXTERNAL EMAIL]

It says that it couldn't pull the logstash

[2018-11-15 14:21] rjeberhard commented on #496
Hi, @charuni2018,

The defaults for these Docker images do currently assume that either you've built the operator locally and/or that you've already pulled Docker images into your local registry.

If you've not done that, then you need to adjust the "image" fields to point to the public repositories.

For instance, the public image for the operator can be pulled with: `docker pull oracle/weblogic-

[2018-11-19 04:33] charuni2018 commented on #496
Ok  yeah I agree that is the issue, so what I am doing it building a docker image locally and then will push to my pks cluster,  and define in my yaml the paths of the docker images
will this approach seems good. Shall I proceed with it ?

From: Ryan Eberhard [mailto:notifications@github.com]
Sent: Thursday, November 15, 2018 7:51 PM
To: oracle/weblogic-kubernetes-operator
Cc: Verma, Charuni; Ment

[2018-11-19 07:50] charuni2018 commented on #496
Thanks you all for the support. So now basically what I did is I pulled the image from docket store
docker pull oracle/weblogic-kubernetes-operator

then I pushed it my corp network repository and later I am calling this docker image in my create-weblogic-operator-inputs.yaml under the weblogicOperatorImage parameter. Still I am seeing the attached error. What this error signifies ? Is it possible

[2018-11-19 08:18] charuni2018 commented on #496
One more question where we can update the image path for logstash. I am unable to find it create-weblogic-operator-inputs.yaml

[2018-11-20 03:51] charuni2018 commented on #496
Please anybody help here ... ?

[2018-11-20 04:53] moreaut commented on #496
Hi Charuni,

In the 1.1 version of the weblogic operator, the logstash image name is not configurable in create-weblogic-operator-inputs.yaml.  We're planning to address this in the next version. I need to talk to the rest of the team to figure out what to do about 1.1.

In the meantime, as a work around, you can edit weblogic-kubernetes-operator/kubernetes/internal/weblogic-operator-template.yaml

[2018-11-20 05:02] charuni2018 commented on #496
Thanks a lot Tom fo saving me. I thought I messed something. I am going to try it straight away and will update by your morning.

From: Tom Moreau [mailto:notifications@github.com]
Sent: Tuesday, November 20, 2018 10:24 AM
To: oracle/weblogic-kubernetes-operator
Cc: Verma, Charuni; Mention
Subject: Re: [oracle/weblogic-kubernetes-operator] Geetting issue while installing weblogic kubernetes operat

[2018-11-20 05:06] charuni2018 commented on #496
I did that this time it went through but I see only three files got generated …. What can be the probable reasons

Deploy ELK...
deployment.apps "elasticsearch" unchanged
service "elasticsearch" unchanged
deployment.apps "kibana" unchanged
service "kibana" unchanged
Applying the file ./weblogic-operator-output/weblogic-operators/weblogic-operator/weblogic-operator.yaml
configmap "weblogic-operator

[2018-11-20 06:33] moreaut commented on #496
From Charuni:

I did that this time it went through but I see only three files got generated …. What can be the probable reasons

Deploy ELK...
deployment.apps "elasticsearch" unchanged
service "elasticsearch" unchanged
deployment.apps "kibana" unchanged
service "kibana" unchanged
Applying the file ./weblogic-operator-output/weblogic-operators/weblogic-operator/weblogic-operator.yaml
configmap "we

[2018-11-20 06:34] moreaut commented on #496
Hi Charuni,

This output looks correct.  I believe you have successfully started the weblogic operator.

-Tom

[2018-11-20 09:04] charuni2018 commented on #496
Also I see for weblogic domain creation input file “create-domain-inputs.yaml” is also not there with me.

From: Verma, Charuni
Sent: Tuesday, November 20, 2018 12:08 PM
To: 'oracle/weblogic-kubernetes-operator'; oracle/weblogic-kubernetes-operator
Cc: Mention
Subject: RE: [oracle/weblogic-kubernetes-operator] Geetting issue while installing weblogic kubernetes operator (#496)

But I don’t see log

[2018-11-20 15:33] moreaut commented on #496
I think the problem is that you enabled elk in your create-weblogic-operator-inpyts.yaml, i.e.
  elkIntegrationEnabled: true
and aren't able to pull the elasticsearch:5 and kibana5: images, which would cause
those image pull backoff errors.

Do the same temporary work around trick for those two images - somehow get them into your local repository and modify the image paths in these two files:
./we

[2018-11-21 17:07] mriccell commented on #496
@charuni2018 before enabling Elastic stack to collect the Operator's logs I would start one Operator and the WebLogic domain.  Once you have it all running and you can look and edit the  domain  custom resource "kubectl describe domain <domain-uid> -n <namespace of the domain> the try to link the Operator logs in the elastic stack. For now set create-weblogic-operator-inputs.yaml, i.e.
elkIntegrat

[2018-11-27 13:01] bhaveshpatel826 opened #530 "Managed server pods not migrating to healthy k8s worker nodes"
We have configured weblogic cluster on kubernetes cluster using weblogic operator, we were able to complete the deployment successfully, the scaling up/down of the managed server works fine when done using "kubectl edit domain -n namespace", as we have 3 nodes cluster when one of the worker nodes is unhealthy the pods running on that worker nodes doesn't migrate to another healthy worker node in t

[2018-11-28 10:33] binnyoza commented on #379
Hi,

We are facing similar issue with weblogic kubernetes operator. Were you able to resolve this. If yes, what was the resolution.

Thanks
Binny

[2018-11-29 19:52] lennyphan commented on #379
Hi Binny,

Is there any more to the log?  Can you provide the full Operator log?

Thanks!

--Lenny

[2018-11-30 03:16] binnyoza commented on #379
Hi Lenny,

The issue has slightly drifted from origin. We are able to create admin and managed-server PODs, but when a worker node on which admin and managed-server PODs are running goes down, PODs are not successfully moved to a healthy node.

Below is my observation for such behaviour

When a worker node goes down,
1) Node status changes to NotReady after X seconds
2) Existing pods in node goes

[2018-12-03 11:37] amyles opened #547 "Managed Server Unable to connect to the Administration Server"
Hi
I've created a WLS domain on my kubernetes cluster, all pods are running. The admin server has started fine and I can access the admin console. However the managed servers have not registered with the admin server. I see this error in the logs:

<Dec 3, 2018 10:46:07 AM GMT> <Info> <Management> <BEA-141307> <Unable to connect to the Administration Server. Waiting 5 second(s) to retry (attempt n

[2018-12-04 10:09] amyles commented on #547
Hi @mriccell
The admin server is exposed fined via the adminNodePort, I can access it from my desktop with no issues.

What I see though is that only the admin server has started, the two managed servers are down. When I exec to the managed server pods I can see that the managed server is trying to start but can't access the admin server to register (as per the log above). AFAIK the managed server

[2018-12-05 15:45] tommcf64 opened #566 "Correct command to stop/start Managed Server"
Hi,
  I am looking for clarification on how to stop/start the managed Weblogic server.  I believe I should use:
/weblogic-operator/scripts/startServer.sh dev managed-server1 base_domain admin-server 7001
is this correct?

[2018-12-07 08:37] amyles commented on #547
Hi @mriccell
I am running this on OKE on Oracle Cloud Infrastructure and it seems that an additional ingress rule is required above those created on cluster creation to allow node to node traffic.
I added a stateful ingress rule in my VCN for 10.0.0.0/16 for all protocols (10.0.0.0/16 is the VCN CIDR) and the issue was fixed. The WLS console reported all the managed servers were up and I could cur

[2018-12-07 08:37] amyles commented on #547
Closing as cause identified.

[2018-12-07 08:37] #547 closed

[2018-12-08 17:26] haj opened #592 "Build fails because default value for weblogicOperatorImageName doesn't match unit test"
Building using Wercker fails because the default value for weblogicOperatorImageName in create-weblogic-operator-inputs.yaml doesn't match the expected value in the unit tests.

The unit test expects:
weblogicOperatorImageName="weblogic-kubernetes-operator:1.1"

The default value in create-weblogic-operator-inputs.yaml:
weblogicOperatorImageName="oracle/weblogic-kubernetes-operator:1.1"

Two issue

[2018-12-10 15:08] russgold commented on #592
Can you see if it is working for you using the 'develop' branch? I think we have fixed this.

[2018-12-17 12:47] srbollin opened #662 "mvn clean install command fails"
Build fails on below error.

[INFO]
[INFO] --- fmt-maven-plugin:2.4.0:check (default) @ operator-integration-tests ---
[warn] Source directory '/pipeline/source/integration-tests/src/main/java' does not exist, ignoring.
[debug] Using Google style
[INFO] Processed 10 files (0 non-complying).
[INFO]
[INFO] --- maven-jar-plugin:2.4:jar (default-jar) @ operator-integration-tests ---
[WARNING] JAR will

[2018-12-18 20:46] #566 closed

[2018-12-19 05:03] srbollin opened #692 ""docker build -t weblogic-kubernetes-operator:some-tag --no-cache=true ." Fails."
Please update the documentation to include the build args in the docker build command to avoid below issue.

[root@llg00cpv weblogic-kubernetes-operator]# docker build -t weblogic-kubernetes-operator:srbollin --build-arg VERSION=1.1 --no-cache=true .
Sending build context to Docker daemon 97.46MB
Step 1/12 : FROM store/oracle/serverjre:8
---> 719e41f3e37b
Step 2/12 : MAINTAINER Ryan Eberhard ryan.

[2018-12-21 17:16] rjeberhard opened #721 "Incorrect default domainHome when domainHomeInImage is true"
This is an issue against v2.0-rc1.

When domainHomeInImage is true and domainHome is not specified on the domain resource, the operator is supposed to look for a single directory under /u01/oracle/user-projects/domains in the introspector/server pod and use it as the domain home. Instead, it uses '/shared/domains' as the domain home.

[2018-12-21 17:19] rjeberhard opened #722 "Server services not recreated when labels/annotations changed"
This is an issue against v2.0-rc1.

When the user changes a server's service's labels or annotations, the service doesn't get recreated.

This can mess up load balancing (since sometimes customers add labels to server services to help with load balancer routing).

I think the current work around is to shut down the entire domain and restart it - not sure.

Also, I haven't checked, but I expect tha

[2018-12-21 22:04] tbarnes-us opened #726 "2.0-rc1 Operator: Clusters only support default channel"
Code inspection reveals that the 2.0 operator likely isn't generating services for cluster admin channel, SSL channel, or custom channels -- at least for dynamic clusters.   The work-around is to use the default channel.

[2018-12-21 22:15] tbarnes-us opened #727 "2.0 rc1 Operator: ListenAddress and log directories may be incorrect"
The Operator may fail to override the listen addresses and log directories in a Domain Home, and so leave them at their locations specified in the original Domain Home configuration when it starts WL pods.    This is usually not a significant issue for log directories, but can be for listen addresses.   A server will not start if its listen address is incorrect.

One work-around is to configure un

[2018-12-21 22:34] tbarnes-us commented on #727
Pull https://github.com/oracle/weblogic-kubernetes-operator/pull/716 looks like it works around the issue.

[2018-12-24 11:24] bollinenisravan opened #731 "Invalid parameter syntax given for create-domain.sh in documentation"
the script is not allowing "-v" option and also it says "-u" & "-p" options are mandatory. Not sure if it has something to do with my code. Please guide.

In quickstart.md , Section 5.b below line. Requests us to run below command to create the domain.

"$ ./create-domain.sh -i my-inputs.yaml -o /some/output/directory -e -v"

After passing both username and password to the script, it now fails wit

[2018-12-24 13:36] markxnelson commented on #731
@bollinenisravan I have created a PR to fix these issues.

[2018-12-24 15:20] bollinenisravan commented on #731
@markxnelson Thanks for the quick turnaround.

Also regarding passing option "-e" to create-domain.sh, it's worth noting users to use that option only if it is a single node. If it is a multi-node cluster, the image would not be available across worker nodes.

Just FYI, I have used below commands to delete the CRD resource.

[root@llg00cpv weblogic-kubernetes-operator]# kubectl get crd -o wide
NAM

[2018-12-24 19:10] #731 closed

[2018-12-27 04:31] bollinenisravan commented on #662
I used the master branch when it failed. But got this fixed by changing the weblogicOperatorImage value to weblogic-kubernetes-operator:1.1. Removed "oracle/" part from the file.

[2018-12-27 04:32] bollinenisravan commented on #692
I got that command from 1.1 docs.

[2018-12-27 06:52] simon-meng-cn commented on #662
The build failure reason is the value for weblogicOperatorImageName in create-weblogic-operator-inputs.yaml doesn't match the expected value in the unit tests. See CreateOperatorInputsFileTest.java.

To fix it, you can change values in the two files to make them match.

[2018-12-27 07:56] #662 closed

[2018-12-29 00:54] simon-meng-cn commented on #692
The command is in https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/v1.1/installation.md

[2019-01-02 19:47] rjeberhard commented on #726
Internal tracking: OWLS-70864

[2019-01-02 19:48] rjeberhard commented on #721
Internal tracking: OWLS-70858

[2019-01-02 19:54] rjeberhard commented on #722
Internal tracking: OWLS-70886

[2019-01-02 20:03] rjeberhard commented on #727
Internal tracking: OWLS-70905

[2019-01-08 09:59] charuni2018 opened #751 "While installing Operator 2.0 helm clint is not getting installed"

[2019-01-08 10:03] charuni2018 commented on #751
Hello Team,

I am trying to install the WebLogic Operator 2.0. I have the PKS cluster with me where Tiller is already installed on one of the namespace. I was trying to install helm client locally on my system, i have placed the helm.exe under the .kube directory but when I execute its not getting installed and getting the error.

$ ./helm.exe init
$HELM_HOME has been configured at C:\Users\charun

[2019-01-08 10:40] shaunxa opened #752 "repository docker.io/oracle/weblogic not found: does not exist or no pull access"
Hi All,

I followed the quick start procedure and I encountered an error at the step below. The error message shows it tried to pull a wrong repository docker.io/oracle/weblogic. Please kindly help. Thanks.

Cheers,
Shaun

---
[opc@centos7-1 domain-home-in-image]$ ./create-domain.sh -i my-domain-inputs.yaml -o my-domain-outputs.yaml -u weblogic -p welcome1 -e
...
BUILD_ARG= --build-arg CUSTOM_DOMA

[2019-01-08 11:04] #496 closed

[2019-01-08 14:24] moreaut commented on #752
Hi Shaun,

Did you set up a secret to access the docker store?

https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/weblogic-docker-images.md

kubectl create secret docker-registry SECRET_NAME
  -n NAMESPACE
  --docker-server=index.docker.io/v1/
  --docker-username=YOUR_USERNAME
  --docker-password=YOUR_PASSWORD
  --docker-email=YOUR_EMAIL

Thanks, -Tom

[2019-01-08 14:42] moreaut commented on #751
I'm trying to find out if anyone on the team knows how to address your helm installation issue.
Have you checked the helm documentation?  https://github.com/helm/helm

Please provide more details on weblogic image patching issue you're running into.

Thanks, -Tom

[2019-01-08 15:12] moreaut commented on #592
Are you still seeing this problem?  Can we close this issue?

Thanks, -Tom

[2019-01-08 15:39] moreaut commented on #530
Can you try this again with the latest version (2.0) of the operator (master branch)?

Thanks, -Tom

[2019-01-08 15:42] moreaut commented on #345
Hi Karan,

Did Marina's suggestion fix your problem?

Can this issue be closed?

Thanks, -Tom

[2019-01-08 15:45] moreaut commented on #344
Hi @shaunxa,

Did Ryan's advice solve your issue?  If not, could you try the most current version of the operator (2.0, i.e. the master branch).

Thanks, -Tom

[2019-01-08 16:50] shaunxa commented on #752
Tom, thank you for your help.

I realized that I missed some steps of building the images oracle/serverjre:8, oracle/weblogic:12.2.1.3-developer and oracle/weblogic:12213-patch-wls-for-k8s.
The issue was resolved after building the images.

Cheers,
Shaun

[2019-01-08 16:51] #752 closed

[2019-01-08 17:09] moreaut commented on #751
It looks like you might have successfully installed helm, i.e. that helm is just telling you that tiller is already installed.

What happens if you do a 'helm.exe --client-only'?

Also, how about 'helm.exe list'?

Thanks, -Tom

[2019-01-08 17:22] moreaut commented on #333
Hi Bryan,

Could you try again using the latest (2.0) version of the weblogic operator (the master branch)?

Thanks, -Tom

[2019-01-08 17:35] moreaut commented on #32
Hi Bryan,

The most current version of the operator (2.0, i.e. the master branch) lets you create your own kubernetes volumes by hand and tell the operator to mount them into the server pods.

Does this address your issue?

Thanks, -Tom

[2019-01-08 18:08] mriccell commented on #104
@antonionappi88 I have added this requirement to be tracked post GA of Operator 2.0.
Thanks
Monica

[2019-01-09 01:43] shaunxa commented on #344
Tom, thank your for your follow up.

I changed the environment and I am using the latest operator 2.0. I have no such issue now. I close it now. Thanks.

Cheers,
Shaun

[2019-01-09 01:43] #344 closed

[2019-01-09 04:44] charuni2018 commented on #751
with helm I am seeing the below error. I am also checking with my internal team on the access.
$ ./helm.exe list
Error: configmaps is forbidden: User "system:serviceaccount:kube-system:default" cannot list configmaps in the namespace "kube-system"

For WL image its not the error. Its on the understanding on the execution steps
I managed to pull the WL docker image 12.2.1.3 from the docker hub. aft

[2019-01-09 05:15] moreaut commented on #344
Thanks!

[2019-01-09 05:21] moreaut commented on #751
It looks like helm is working but tiller may not have been granted enough permissions to do 'helm list'.  Have you tried installing the operator helm chart?  Did it work?  Tiller will need to be granted enough permission to read and write both the operator and domain namespaces you choose, as well as permission to create global cluster roles and cluster role bindings.

[2019-01-09 13:55] moreaut commented on #751
Check out the sample to create a domain home in image at github oracle/docker-images/samples/OracleWebLogic/samples/12213-domain-home-in-image.
The documentation will help you set up your docker build.

The sample pulls your weblogic image and creates your domain home on top of the weblogic to create a domain home image during the docker build.  I highly suggest you use this to create your image.

[2019-01-10 21:42] haj commented on #592
You can close this issue, although I didn't test the dev branch nor release
2 yet.

Thanks,
Hassan

Den tir. 8. jan. 2019 kl. 16.12 skrev Tom Moreau <notifications@github.com>:

[2019-01-10 21:45] moreaut commented on #592
Thanks Hassan.  Please file an issue if you run into problems in 2.0.

[2019-01-10 21:46] #592 closed

[2019-01-11 02:15] namanshenoy opened #772 "Quickstart needs to be updated for rc1"
Current quick start does not work with latest version.

[2019-01-11 02:19] moreaut commented on #772
Can you please try the 2.0-rc2 branch?

And, if you jave problems in the quick start, please provide more details.

Thanks, -Tom

[2019-01-11 02:31] moreaut commented on #772
Thanks for the clarification.

It's more than a fix to the readme - you modified the product too (i.e. the operator helm chart's values.yaml).

[2019-01-14 16:32] alai8 commented on #772
Could you check if https://github.com/oracle/weblogic-kubernetes-operator/pull/776 has addressed the issue? Thanks

[2019-01-14 21:28] rjeberhard opened #788 "Provide support for adding Init Containers to generated server instance pods."
Several customers have described use cases that would be simplified if they could have [Init Containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/).

Very similarly to volumes and volumeMounts support, the operator should support allowing the customer to inject init containers at domain, cluster, or server instance scope.

[2019-01-14 21:31] tbarnes-us commented on #788
If any of the init container use cases involve modifying configuration, then there's also the need for an 'introspector scope'.

[2019-01-14 21:33] rjeberhard opened #789 "Sample support for dynamic PV provisioning"
Our domain creation samples assume that the customer will create a PV and then create a PVC.  It's a common use case; however, especially on cloud providers, that the PVC is created first and then that the PV is created dynamically based on a storage driver.  For instance, Oracle's OCI describes dynamically creating PV's [here](https://docs.cloud.oracle.com/iaas/Content/ContEng/Tasks/contengcreati

[2019-01-14 21:36] rjeberhard opened #790 "Consider samples using kubernetes-sigs' kustomize"
The Kubernetes sig-cli has created a tool to customize [YAML files](https://github.com/kubernetes-sigs/kustomize).

Consider using this tool in place of our current sample scripts.

[2019-01-14 21:51] bryantidd commented on #789
If appropriate, would a community samples page be supported. We could submit samples using the PVC and other cloud providers,or would that complicate this project in ways unnecessarily?

[2019-01-14 21:53] bryantidd commented on #789
Maybe just point folks to the storage class and Dynamic PV sections of Kubernetes documentation would be best after your sample.

[2019-01-14 21:56] bryantidd commented on #789
https://kubernetes.io/docs/concepts/storage/storage-classes/
https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/
https://github.com/kubernetes-incubator/external-storage

[2019-01-16 16:00] mriccell commented on #789
@bryantidd this is a great suggestion!  We are discussing what is the best way to implement community samples, as soon as we have a process we will document it so that you can contribute!

[2019-01-16 21:56] bryantidd commented on #789
@mriccell Thanks, I think that will be a great way for the project to flourish.

[2019-01-17 16:57] alai8 commented on #692
As of release 2.0-rc2, the "Build docker image" section has been moved to https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/developer.md and it has been updated with the buiid-arg in the example as suggested. Thanks

[2019-01-17 16:57] #692 closed

[2019-01-18 21:56] alai8 commented on #772
The quick start guide for 2.0-rc2 has been updated with the correct image name for the operator rc2 image specified in the helm install command example:

[code]

[2019-01-18 21:56] #772 closed

[2019-01-24 10:53] denismaggior8 opened #830 "Elasticsearch memory issues on memory constrained environment running Elasticsearch and Kibana sample"
In a memory constrained environment (ie: using Minishift or Minikube), running the weblogic-elasticsearch-kibana example (please refer to kubernetes/samples/scripts/elasticsearch-and-kibana/elasticsearch_and_kibana.yaml) may be frustrating due to the memory defaults used by Elasticsearch (1Gb heap). The results is that Elasticsearch doesn't start up and keeps looping.

[2019-01-25 17:35] alai8 commented on #345
Please reopen issue if you are still seeing the problem with the latest version of the WebLogic operator (2.0)

[2019-01-25 17:35] #345 closed

[2019-01-25 17:50] alai8 commented on #326
As Tom suggested, please try again with the latest version of the WebLogic operator. Feel free to re-open the issue if the problem can still be observed. Thanks.

[2019-01-25 17:50] #326 closed

[2019-01-25 17:58] alai8 commented on #333
Please re-open if you are still seeing this issue with version 2.0 of the WebLogic operator. Thanks.

[2019-01-25 17:58] #333 closed

[2019-01-25 20:41] #721 closed

[2019-01-25 20:41] #727 closed

[2019-01-25 20:42] #722 closed

[2019-01-25 20:42] #135 closed

[2019-01-25 20:43] #57 closed

[2019-01-25 20:43] #58 closed

[2019-01-25 20:44] #266 closed

[2019-01-31 14:34] bryantidd commented on #788
Use case that is the primary driver for me is preparing volumes that will be used later by server instances.
I am sure that there are many more. Possibly in the case that you have to create a domain, then complete a non-dynamic change that requires a restart.

[2019-01-31 14:35] bryantidd commented on #788
Would very much like an update on this one!

[2019-02-08 05:12] #751 closed

[2019-02-08 05:13] charuni2018 commented on #751
I managed to get the helm client installed and it is working.

[2019-02-08 09:30] mgueury opened #864 "WLS domain needs to be deleted if secret is wrong"
Version 2.0

Step by step
-------------
Follow the tutorial:

https://github.com/nagypeter/weblogic-operator-tutorial/blob/master/tutorials/domain-home-in-image.md

In part 4: Deploy WebLogic domain
Do an error in the creation of the ocirsecret like a bad password or a bad username
[code]

then create the domain.
Nothing happens.

Until there, it is expected:
[code]

[code]

Correct the ocirsecret

[2019-02-08 09:47] mgueury commented on #864
Then if you do:

[code]
Nothing happens too.

Work-around
--------------
The only way to get it working is to delete the domain and recreate it again

[code]

[2019-02-08 13:57] markxnelson commented on #864
This is normal k8s behavior, since it could not pull the image a number of times it gave up and put the pod into ImagePullBackOff state.  It will not keep retrying indefinitely.

[2019-02-08 14:20] rjeberhard commented on #864
This link defines the default Kubernetes behavior, which we have not changed: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#pod-backoff-failure-policy

I'd be open to making the backoff limit tunable, but ultimately, Kubernetes also gives up on any given Pod or Job, so that required action of deleting a resource, such as the domain, and recreating it to retry is

[2019-02-12 05:15] RobDolinORCL opened #869 "Headers on XML Files"
Are the headers on XML files like /swagger/pom.xml correct?  They seem to suggest the files are unreleased and proprietary but the files look like they're being provided in a repository that is licensed under the Universal Permissive License.

https://github.com/oracle/weblogic-kubernetes-operator/blob/9233a080fbc5a7a96364e46e221b5c41e9e2d838/swagger/pom.xml#L1-L2

[2019-02-12 11:53] markxnelson commented on #869
Thanks Rob, we will remove those incorrect headers.

[2019-02-12 12:27] rjeberhard commented on #869
Yes, thanks @RobDolinORCL.  I appreciate the bug.  We missed removing these headers.

[2019-02-12 12:55] #869 closed

[2019-02-12 18:08] denismaggior8 opened #876 "Logstash container (based on image logstash:5) inside the weblogic-operator pod doesn't start due to a bad permission on /var/lib/logstash directory"
When installing weblogic-operator using Helm, the value.yaml file used as a template to create (in my case) my-operator-values.yaml, contains the attribute logStashImage with value logstash:5. Unfortunately this container does not start due to the error:

Path "/var/lib/logstash" must be a writable directory. It is not writable

To reproduce the error just run, after having created your version of

[2019-02-12 22:10] denismaggior8 commented on #876
Just opened the PR "Issue #876 fix" that, in may case, solved the issue

[2019-02-12 22:27] denismaggior8 opened #880 "weblogic-operator container starts with errors about /operator folder permission until it stops due to SIGTERM to java process 11"
Using Minishift, when starting up weblogic-operator container complains about /operator folder permission.
Multiple errors about "Could not create Operator Liveness file /operator/.alive" are logged too, until OpenShift terminate the container.

[code]

[2019-02-12 22:47] #830 closed

[2019-02-12 22:54] denismaggior8 commented on #876
[code]

[2019-02-12 22:55] denismaggior8 commented on #880
[code]

[2019-02-13 18:05] markxnelson commented on #880
Hi @denismaggior8 we don't strictly support minishift, but we have been working to certify and support openshift.  I suspect you are hitting an issue I saw during that work.  OpenShift by default applies a security context and runs the container with a different userid, like 800001000, instead of 1000 (oracle), and so it probably does not have permission to access that directory.  I had to apply t

[2019-02-13 18:06] markxnelson commented on #880
for example, see https://weblogic.cafe/posts/weblogic-on-openshift/ and search for anyuid

[2019-02-13 18:08] markxnelson commented on #880
and this: https://blog.openshift.com/understanding-service-accounts-sccs/

[2019-02-13 22:21] denismaggior8 commented on #880
I think you are right, look what I can see if I enter within the weblogic-operator container:

[code]

I will double check the link you posted and try to solve the issue (may be the same I encountered with the Logstash container).

Also, I know that you do not official support Minishift but I think it's useful for demo or training purpose to have Weblogic and the operator working also on this envi

[2019-02-13 23:11] markxnelson commented on #880
great, thanks @denismaggior8 - we do try to help anyway even though it is not officially supported, when we can!

[2019-02-22 11:58] sharmasourabh commented on #51
[quikstart doc](https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/quickstart.md) should also be updated.

[2019-02-25 23:49] vkraemer commented on #530
Hi,

I have a couple questions about the 'details' of this issue:

1. How long had the worker node been unhealthy when you checked to see if the pods had migrated?

2. Was there space on the other nodes to accept the pod when it would have migrated?

3. How did you turn off the node when you encountered the problem scaling?  Did you drain pods off the node?

Thanks

[2019-02-28 19:53] tbarnes-us commented on #726
Fixed in pending release 2.0.1 by @jgrundback

[2019-03-04 17:26] #726 closed

[2019-03-04 17:26] #876 closed

[2019-03-11 19:23] rjeberhard commented on #788
@bryantidd, I'm working on finalizing this now (took it over from Mark).  What do you think about specifying InitContainers for the introspector job pod?  We don't presently have a section in the domain resource for the introspector job pod and, instead, we treat it similarly to the administration server.  However, @tbarnes-us correctly points out that if the InitContainer will change configuratio

[2019-03-12 02:07] anpanigr commented on #356
In Weblogic Operator v 2.0,  sample uses helm chart instead of script.  So this issue is no longer valid.

[2019-03-12 02:07] #356 closed

[2019-03-12 23:00] qvdang opened #931 "GID annotated PersistentVolume"
I followed the instructions on this page (https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/persistent-volumes.md) to set up a PersistentVolume for the WLS domain log directory when runing the Operator sample(https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/quickstart.md).  If I annotated(https://kubernetes.io/docs/tasks/configure-pod-container/configur

[2019-03-18 18:14] vkraemer commented on #530
Hi,

I have been working on recreating the configuration described in this issue.

I noticed that the admin server and domain are created on a minion node... not the master. When you 'turn off a worker node on purpose' did you turn off the node worker that did not host the domain content and was not hosting the WLS admin server for the domain?  If that node disappears things will be pretty broken.

[2019-03-20 21:23] rkaler opened #965 "not able to install ingress"
command used:

helm install ingress-per-domain --name soa-ingress --namespace rkoim --values ingress-per-domain/values.yaml
Error Message :
Error: error validating "": error validating data: found invalid field annotations for v1beta1.IngressSpec

Values.xml

sh-4.2$ cat ingress-per-domain/values.yaml

type: TRAEFIK

wlsDomain:
  domainUID: soainfra
  clusterName: soa_cluster
  managedServerPort:

[2019-03-20 21:44] cchaplin opened #966 "weblogic-kubernetes-operator and weblogic versions"
Is weblogic kubernetes operator dependent on weblogic version? My question is, can I use weblogic kubernetes operator with weblogic 10.3.6 ?

[2019-03-20 21:50] rjeberhard commented on #966
Hi, @cchaplin. The operator only works with WebLogic 12.2.1.3: https://github.com/oracle/weblogic-kubernetes-operator/blob/master/site/user-guide.md#prerequisites

[2019-03-20 21:50] #966 closed

[2019-03-20 21:52] rjeberhard commented on #965
@lilyhe123, I believe we just fixed this with PR #951, correct?

[2019-03-21 00:45] vkraemer commented on #530
This will need to be assigned to someone that has access to the resources necessary to form a multi-node cluster for further testing.

[2019-03-21 01:24] lilyhe123 commented on #965
Not sure. Usually the misplaced annotation doesn't cause any validation error, at least on bare-metal environment. But you can try the fix anyway. @rkaler

[2019-03-22 22:17] rkaler commented on #965
Tried on the latest build as well. I am getting the same exception. I tried to install the traefik-operator  again with the new build and then tried to install ingress-per-domain again..  but it fails with the same exception

[2019-03-25 08:05] lilyhe123 commented on #965
@rkaler can you add `--dry-run --debug` when running `helm install` as below and past the output? So I can see the generated Ingress resource.
[code]

[2019-03-25 08:53] rkaler commented on #965
@lilyhe123

It gives the sample exception even with the debug logs

sh-4.2$ helm install --dry-run --debug ingress-per-domain --name soa-ingress --namespace rkoim --values ingress-per-domain/values.yaml
[debug] Created tunnel using local port: '50560'

[debug] SERVER: "127.0.0.1:50560"

[debug] Original chart version: ""
[debug] CHART PATH: /scratch/rkaler/weblogic-kubernetes-operator/kubernetes/s

[2019-03-26 02:54] lilyhe123 commented on #965
Per our IM, the k8s version you used is v1.9.2 which is an old version the operator doesn't support. See doc https://oracle.github.io/weblogic-kubernetes-operator/userguide/introduction/introduction/#prerequisites. Pls upgrade to k8s 1.10 at least and rerun.

[2019-03-28 12:15] flistell opened #992 "Documents the steps needed to update the application running in a domain"
One of more interesting things about K8S is the possibility to update an application without any service interruption.
It's a primary use case for many customers.
It's not clear in the docs how this can be achieved when using domain-into-image paradigm.

[2019-03-29 09:30] wtdragon opened #995 "how to deploy P6 on this platform?"
I want to deploy P6 to this platform, is there any sugesstions?

[2019-03-29 10:46] markxnelson commented on #995
P6 is a managed service, you would not deploy it on your own WebLogic, you just subscribe to the service.  Can you give more details of what you mean by your question please?

[2019-03-29 15:29] wtdragon commented on #995
there's one P6 EPPM 18.8 need to be deployed.
with the  install guide, i must have one wls12c environment.
then install P6 EPPM 18.8.
after that deploy p6 and p6 connector .
yes, i think finally it's deployed only services, but where i should install P6 EPPM 18.8 and how the port assign with the two services?
I tried in the running node install P6 EPPM 18.8, it's can't be done.

[2019-03-31 13:55] rjeberhard commented on #995
@markxnelson @wtdragon, here is the documentation on installing P6: https://docs.oracle.com/cd/E90747_01/helpmain.htm?toc.htm?91798.htm.

This documentation assumes an on-premise installation.

The operator team is close to generally supporting layered products and we've been working with many upper stack teams (e.g. BI, SOA) to provide images and support at their product level.  I'm not aware tha

[2019-04-01 01:50] wtdragon commented on #995
@rjeberhard
get it.
I read this document and deployed one P6 EPPM 18.8 in an centos7 server,
and also setup successful on wls12c domain on a kubernetes  environment.

![image](https://user-images.githubusercontent.com/1210629/55298846-91228e80-5462-11e9-80ef-89952b741301.png)

![image](https://user-images.githubusercontent.com/1210629/55298938-0f7f3080-5463-11e9-8a20-a3f5b1ce82d3.png)

I am trying

[2019-04-01 03:31] wtdragon commented on #995
I copied the full worked P6 folder into the running  docker contrainer.
p6procloudconnect.war can be deployed.
p6.ear can't.
after deploy p6.ear the wls pod crashed, then deployed p6procloudconnect erased,
I used PVC to save data, looks like it's only save persistent wls data, deployed things lost.

Thanks.

[2019-04-01 16:39] maggiehe00 commented on #992
Public doc of "Run a WebLogic CI/CD Sample on Kubernetes Using Operator 2.0" will be published soon. Are you internal Oracle?

[2019-04-02 14:38] maggiehe00 commented on #992
I can see you are... :) so you can take a look at this wiki : http://aseng-wiki.us.oracle.com/asengwiki/pages/viewpage.action?pageId=5252470824#RunaWebLogicCI/CDSampleonKubernetesUsingOperator2.0-CI/CDProcess

[2019-04-09 10:43] maidirepelle commented on #880
@denismaggior8 @markxnelson I've tried and I think I've found a WA to solve the issue.

Please look at this and see if could work for you:

Substitute ${{PROJECT_EXP}} with your namespace.
[code]

After creating the custom service account, you'll add the service account instead of the 'default' one in the my-operator-values.yaml file.

Re-do all the steps of launching the operator after a `helm de

[2019-04-11 02:16] 360CodeSafe opened #1024 "Path penetration"
Hello
I am a 360 code security team staff member who found a path traversal vulnerability in weblogic-kubernetes-operator in our open source code detection project.Details are as follows：
weblogic-kubernetes-operator-master\integration-tests\src\test\java\oracle\kubernetes\operator\utils\PersistentVolume.java
![图片](https://user-images.githubusercontent.com/39950310/55926117-a9549380-5c42-11e9-9ebe

[2019-04-11 02:36] russgold commented on #1024
You do recognize that this is an integration test, right? It's not production code.

[2019-04-11 10:48] rjeberhard commented on #1024
We are grateful for your scan, but as Russ noted, this code point is in functional test setup logic that is not part of production code. Please limit your scans to production code.

[2019-04-11 10:48] #1024 closed

[2019-04-12 08:52] creativefre opened #1028 "create-domain.sh gives [ERROR] Create domain sample-domain1 failed."
Hello, I get the following error when I run the create-domain.sh

Kubernetes is setup correctly and the images are pulled.
I'm following the QUICK START guide from the documentation. Every command before this executed successfully.

When I try to create the domain with the following command,

`sudo ./create-domain.sh -i my-inputs.yaml -o /home/oracle/WERK -u weblogic -p welcome1 -e`

I get the fol

[2019-04-12 09:53] simon-meng-cn commented on #1028
Check you environment,  whether the file /home/oracle/weblogic-kubernetes-operator/kubernetes/samples/scripts/create-weblogic-domain/domain-home-in-image/docker-images/OracleWebLogic/samples/12213-domain-home-in-image/docker-build/domain.properties  exists?

[2019-04-12 09:56] simon-meng-cn commented on #1028
If the property file does not exist, copy /home/oracle/WERK/weblogic-domains/sample-domain1/domain.properties to that location. Then execute the create domain script with -k option

sudo ./create-domain.sh -i my-inputs.yaml -o /home/oracle/WERK -u weblogic -p welcome1 -e -k

[2019-04-12 10:22] creativefre commented on #1028
Thanks for the response,
The error is stil there.

I copied the domain.properties (the docker-build dir did not exist) to /home/oracle/weblogic-kubernetes-operator/kubernetes/samples/scripts/create-weblogic-domain/domain-home-in-image/docker-images/OracleWebLogic/samples/12213-domain-home-in-image/docker-build/
And executed the given command
[code]

[2019-04-12 11:56] simon-meng-cn commented on #1028
I ran the sample recently, it worked fine. The command I used is:
./create-domain.sh -i my-inputs.yaml -o my-output -u weblogic -p welcome1
my-output is relative path. It is subdir of current dir. Another difference is not runas root.

Could you try my way to diagnose the issue? I suspect the one of the difference caused the issue.

[2019-04-12 12:17] creativefre commented on #1028
Still the same error.
I'm running it on ubuntu 18.04 LTS desktop

[code]

[2019-04-12 12:36] simon-meng-cn commented on #1028
Which operator code branch that you used? I want use the same code to create domain on my machine.

[2019-04-12 12:39] creativefre commented on #1028
I used the master branch.

[2019-04-12 13:06] simon-meng-cn commented on #1028
I created the domain successfully followed by the quick start. Following is the output:

bash-4.2$ pwd
/scratch/simeng/weblogic-kubernetes-operator
bash-4.2$ kubernetes/samples/scripts/create-weblogic-domain-credentials/create-weblogic-credentials.sh \

secret "sample-domain1-weblogic-credentials" created
secret "sample-domain1-weblogic-credentials" labeled
The secret sample-domain1-weblogic-crede

[2019-04-12 13:23] simon-meng-cn commented on #1028
I am sorry for my misinformation. You need check the existence of this file
/home/oracle/weblogic-kubernetes-operator/kubernetes/samples/scripts/create-weblogic-domain/domain-home-in-image/docker-images/OracleWebLogic/samples/12213-domain-home-in-image/properties/docker-build/domain.properties.

If the property file does not exist, copy /home/oracle/WERK/weblogic-domains/sample-domain1/domain.prop

[2019-04-15 10:13] simon-meng-cn commented on #1028
Has the problem been solved?

[2019-04-15 12:46] creativefre commented on #1028
The file was present but the build.sh script failed to call setEnv.sh with the right parameter (location of the domain.properties)

Thet's why I get the error property file not found.

Location of the files:
build.sh: /home/oracle/weblogic-kubernetes-operator/kubernetes/samples/scripts/create-weblogic-domain/domain-home-in-image/docker-images/OracleWebLogic/samples/12213-domain-home-in-image/build

[2019-04-16 02:30] simon-meng-cn commented on #1028
The operator sample code works fine for me. So I still don't know what caused this error. But I am very glad to hear you solve it. Can we close this issue?

[2019-04-19 06:32] #1028 closed

[2019-04-26 18:40] TheFrogPad commented on #931
See PR #1054

[2019-04-29 11:19] creativefre opened #1055 "Rest api doesn't show any domains"
Global info:
Operating system: Ubuntu 18.04 LTS
Kubernetes setup: 1 master and 2 workers
Operating version: v2.1

I've succesfully setup the weblogic operator on kubernetes with 1 admin server and 2 managed servers running.
My setup script

[code]

![image](https://user-images.githubusercontent.com/23296871/56892138-fa57ea80-6a7e-11e9-8a92-d54dd243c8a9.png)

![working pods](https://user-images.git

[2019-04-29 15:17] shean-guangchang commented on #1055
I will ask the team to look into your issue.  As far as changing domain.yaml file do you think it has anything to do with REST certification issue or it is independent?

[2019-04-29 16:06] shean-guangchang commented on #1055
Can you set operator debug to FINE or FINER and post the log here when you see the problem?

[2019-04-29 19:14] shaunxa opened #1056 "Managed Sever failed to start : Boot identity not valid"

[2019-04-29 19:24] mriccell commented on #1056
@shaunxa How did you build your domain?  Is this a domain-home in image or on PV?

[2019-04-29 19:26] mriccell commented on #992
@flistell please take a look at the CI/CD documentation at https://oracle.github.io/weblogic-kubernetes-operator/userguide/cicd/

[2019-04-29 19:27] mriccell commented on #992
I will close this comment due to lack of response.

[2019-04-29 19:27] #992 closed

[2019-04-29 19:27] shaunxa commented on #1056
Hi All,

I created the domain 'sample-domain1' following the quick start procedure @ https://oracle.github.io/weblogic-kubernetes-operator/quickstart/ and using oracle/weblogic-kubernetes-operator   2.1. The managed servers failed to start. I recreated the domain a few times while no luck.

I did some troubleshooting and found the encrypted username and password in boot.properties of the managed s

[2019-04-29 19:30] shaunxa commented on #1056
@mriccell It is domain-home-in-image.

[2019-04-29 21:11] shean-guangchang commented on #1055
One potential workaround to try is to kill the operator pod and see if the re-create pod will solve your problem.  Before doing that could you gather the following info:
1. operator config map
2. helm chart

[2019-04-29 22:09] shean-guangchang commented on #1056
Could you share the exact steps you took to follow the quick start quide? I assume you are using the operator 2.1 and what version of k8s you are using?

[2019-04-30 02:21] shaunxa commented on #1056
@shean-guangchang shean, thank you for your help. Here are the product versions and the the procedure.

[opc@centos7-ad3-1 ~]$ kubectl get nodes
NAME            STATUS   ROLES    AGE   VERSION
centos7-ad3-1   Ready    master   45h   v1.14.1
centos7-ad3-2   Ready    <none>   45h   v1.14.1
centos7-ad3-3   Ready    <none>   43h   v1.14.1
[opc@centos7-ad3-1 ~]$

[opc@centos7-ad3-1 domain-home-in-image

[2019-04-30 08:40] flistell commented on #992
https://oracle.github.io/weblogic-kubernetes-operator/userguide/cicd/ is a great document. Thank you.

[2019-04-30 10:38] creativefre commented on #1055
I'm not sure the domain.yaml has something to do with the rest certification issue. On other occasions after some time (a few hours) I also had instability problems. Pods just failed and did not restart.
Apart from that,  I've setup the operator with javaLoggingLevel=FINEST and the operator was logging With FINEST.
When I enable the REST api. The operator pod recreates it self and goes back to jav

[2019-04-30 14:17] shean-guangchang commented on #1056
Does the steps you took work in a single node env?

[2019-04-30 14:41] shean-guangchang commented on #1055
I cannot see the exact steps you did so maybe you can simply answer the question I was looking for...
After you updated the domain namespace did you restart the operator pod and then did you still have issue of getting the domain thru REST?

[2019-04-30 15:39] creativefre commented on #1055
Yes, my exact steps are beginning from a kubernetes without the weblogic operator.

First I execute my setup script (First comment). Everything works fine after this.

After that I execute the following code to enable the rest API (Also in the first comment)
[code]

So I don't say to restart the pod, but it restarts itself for some reason

After that I tried to restart the pod manually with: (The

[2019-04-30 16:17] #931 closed

[2019-04-30 18:49] vanajamukkara commented on #1056
Is admin server starting up fine?

For a multi-node Kubernetes cluster, make sure that the generated image is available on all nodes before creating the domain resource using the kubectl apply -f command.

https://oracle.github.io/weblogic-kubernetes-operator/quickstart/create-domain/
If you run the sample from a machine that is remote to the Kubernetes cluster, and you need to push the new image

[2019-05-01 00:20] shean-guangchang commented on #1055
I can see from the helm chart you showed above the "targetNamespaces: default" is not the correct value.
Could you shutdown everything and start it again and this time first update the helm chart (e.g. the value yaml) with the desired target namespace and then run helm install and then show the configmap and verify REST command?

[2019-05-01 12:20] shaunxa commented on #1056
@shean-guangchang @vanajamukkara It is multi-node cluster (1 master and 2 worker nodes). For the images built in the master node, I save them to tar files and load them to the worker nodes. Here are the details of the cluster and the images in the mater and worker nodes.

[opc@centos7-ad3-1 ~]$ kubectl get nodes
NAME            STATUS   ROLES    AGE    VERSION
centos7-ad3-1   Ready    master   3d7

[2019-05-01 16:00] vanajamukkara commented on #1056
I am trying to follow quickstart and try to reproduce the issue..

[2019-05-01 16:08] vanajamukkara commented on #1056
@shaunxa Do you load the domain image in the worker nodes before you create the domain?

Also in the below commands you used to create domain, you should **not** use "-e" in the create-domain.sh command.
$ cd kubernetes/samples/scripts/create-weblogic-domain/domain-home-in-image
$ ./create-domain.sh -i create-domain-inputs.yaml -o /home/opc/wls-k8s-operator/sample-domain1 -u weblogic -p welcome1 -

[2019-05-01 18:25] vanajamukkara commented on #1056
I followed quickstart and able to bring up the domain on multi node cluster. I am pushing domain image to OCIR, so had to change the image and imagePullSecretName attributes and create secret in domain namespace. As you are saving the image to tar and loading on worker nodes, you don't have to these things. Please check my above comment for the correct steps.

[2019-05-02 06:44] shaunxa commented on #1056
Hi All, I recreated the domain using 'root' user and all the admin and managed servers started running. Many thanks for your advise.

[root@centos7-ad3-1 domain-home-in-image]# kubectl get po -n sample-domain1-ns
NAME                             READY   STATUS    RESTARTS   AGE
sample-domain1-admin-server      1/1     Running   0          73s
sample-domain1-managed-server1   1/1     Running   0

[2019-05-02 07:54] creativefre commented on #1055
Hello thanks for helping me. I found the solution, I executed a wrong command.

I installed the weblogic operator with custom values in my install script.
But when I enabled the operator there was also a step in the documentation to reinstall the operator with the my_cert_values.yaml.

Because I already installed the operator I only needed to update and recreate the pods.
So this step was not nece

[2019-05-02 15:46] shean-guangchang commented on #1056
If it is the same process except the user' privilege then did you run into any error prior that you can share?

[2019-05-02 15:50] shean-guangchang commented on #1055
so when did you set domainNamespaces now?

[2019-05-03 02:36] shaunxa commented on #1056
@shean-guangchang Yes.

[2019-05-03 02:38] shaunxa opened #1063 "Simple overrride made admin server CrashLoopBackOff"
Simple Override
-------------------------------------------------------------------
[root@centos7-ad3-1 wls-k8s-operator]# vi override.yaml
[root@centos7-ad3-1 wls-k8s-operator]# kubectl -n sample-domain1-ns create cm sample-domain1-cm --from-file /opt/wls-k8s-operator/simpleoverride
configmap/sample-domain1-cm created
[root@centos7-ad3-1 wls-k8s-operator]# kubectl -n sample-domain1-ns label cm sa

[2019-05-03 07:22] creativefre commented on #1055
I already set the domainNamespaces in my setup script.
[code]

[2019-05-03 13:20] shean-guangchang commented on #1063
Please describe what is the objective above? Are you following any doc or using any sample scripts?
 Is this in a multi-node env like before?

[2019-05-03 13:28] shaunxa commented on #1063
The simple objective is to get familiarize override and I started with the simplest thing first. I follow the user guide which is not as good as the quick start. Please kindly share some handy sample. And yes, I used the  multi-node env like before and execute all the steps under 'root'. Thanks.

[2019-05-03 14:29] shean-guangchang commented on #1063
What is the domain.yaml look like before the override?  Can you share your override.yaml?

[2019-05-03 14:52] mriccell commented on #1063
@shaunxa what configuration filed are you overriding?

[2019-05-06 15:55] jshum2479 commented on #1028
I actually have the same problem and I think the problem is because of ubuntu shell has different support for sourcing the setEnv.    I changed to use source instead of dot, eg.

source ../setEnv.sh .... in build.sh and it works fine.

[2019-05-07 01:34] shaunxa commented on #1063
Here is the domain.yaml

[root@centos7-ad3-1 sample-domain1]# cat domain.yaml | grep -v '#'

apiVersion: "weblogic.oracle/v3"
kind: Domain
metadata:
  name: sample-domain1
  namespace: sample-domain1-ns
  labels:
    weblogic.resourceVersion: domain-v2
    weblogic.domainUID: sample-domain1
spec:
  domainHome: /u01/oracle/user_projects/domains/sample-domain1
  domainHomeInImage: true
  image: "dom

[2019-05-07 01:35] shaunxa commented on #1063
and config override file

[root@centos7-ad3-1 simpleoverride]# cat config.xml
<?xml version='1.0' encoding='UTF-8'?>
<d:domain xmlns:d="http://xmlns.oracle.com/weblogic/domain"
          xmlns:f="http://xmlns.oracle.com/weblogic/domain-fragment"
          xmlns:s="http://xmlns.oracle.com/weblogic/situational-config" >
  <d:log>
    <d:name>sample-domain1</d:name>
    <d:file-name>sample-domain1-ov

[2019-05-07 01:36] shaunxa commented on #1063
and config override file - to override the log file of the admin server

[root@centos7-ad3-1 simpleoverride]# cat config.xml
<?xml version='1.0' encoding='UTF-8'?>
<d:domain xmlns:d="http://xmlns.oracle.com/weblogic/domain"
          xmlns:f="http://xmlns.oracle.com/weblogic/domain-fragment"
          xmlns:s="http://xmlns.oracle.com/weblogic/situational-config" >
  <d:log>
    <d:name>sample-doma

[2019-05-07 01:37] shaunxa commented on #1063
[root@centos7-ad3-1 wls-k8s-operator]# cat override.yaml
apiVersion: "weblogic.oracle/v2"
kind: Domain
metadata:
  name: sample-domain1
  namespace: sample-domain1-ns
  labels:
    weblogic.resourceVersion: domain-v2
    weblogic.domainUID: sample-domain1
spec:
  webLogicCredentialsSecret:
    name: sample-domain1-weblogic-credentials
  configOverrides: sample-domain1-cm

[root@centos7-ad3-1 wls-k

[2019-05-08 12:11] creativefre opened #1070 "How to add a new cluster to an active domain that the operator can manage?"
Hi,
I've setup kubernetes weblogic with the sample domain-home-on-pv. There is now one cluster active, "cluster-1" and 5 managed servers can be activated by changing the domain.yaml.

It's possible to add a new cluster or managed server resource by using the admin console or wlst online edit. But when I change the general domain.yaml file of the domain to activate the new cluster, the operator doe

[2019-05-08 14:22] tbarnes-us commented on #1070
Hi,

There's no Operator support for dynamically adding a cluster without restarting the entire domain.  As an alternative, it's often viable to simply pre-configure resources and simply choose not to activate them until you need them.

Can you describe your use case in detail?  It's been my assumption that there's a fairly common request to improve operator support for dynamic 'minor' changes (se

[2019-05-08 15:04] tbarnes-us commented on #1063
Overriding a log file name isn't supported since log file locations are controlled by the domain yaml configuration. Instead, you can set log locations using the domain yaml (which in turn happens cause the Operator to generate an internal override file).

See the '[configuration overrides documentation](https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/configoverrid

[2019-05-09 06:41] shaunxa commented on #1063
@tbarnes-us Thank you for your advise. I will take the approach and do it again. Thanks.

Cheers,
Shaun

[2019-05-09 08:02] creativefre commented on #1070
Hello, thanks for the reply.

I'm currently doing an internship for a company (Cronos) in Belgium. We are researching the possibilities around running weblogic in kubernetes. This company also want to use this feature in the future. The operator already has great functionality and support. But our use case is running and configuring even after the domain is setup, for example adding a new cluster

[2019-05-15 19:33] sczachariah opened #1076 "domain.yaml generated by sample script does not have t3ChannelPort set"
Operator Image : weblogic-kubernetes-operator:2.1

I am using the sample scripts to create domain.

1. Set exposeAdminT3Channel: true in create-domain-inputs.yaml
2. Run create-domain.sh

The generated domain.yaml is as below:

[code]

T3Channel is provided but the t3ChannelPort did not make into the yaml, as a placeholder for the same is missing.

If the above yaml is applied, the adminServer Ser

[2019-05-16 11:41] creativefre commented on #530
Operator version: 2.1
We also tested this on a multi-node environment. When disabling a worker machine (lnx-stage03), the managed servers do not migrate to the other healthy node (lnx-stage02).
![image](https://user-images.githubusercontent.com/23296871/57850664-be42ba80-77de-11e9-9c4b-129805180dc1.png)

This is the log of a managed server in pending state.
![image](https://user-images.githubuserc

[2019-05-16 12:07] rjeberhard commented on #530
Looks like this will need to be handled as a feature request as Kubernetes presently delays rescheduling nodes to avoid split brain behavior.

https://github.com/kubernetes/kubernetes/issues/12140

Will experiment with pod eviction and pod disruption budge configuration.

[2019-05-24 03:17] lilyhe123 opened #1083 "remove the limitation to set 777 mode for host folder of PV"
This step can be easily missing by customer and results in errors and it raises a security risk with a 777-mode host folder. So it's better we can remove this step.

To achieve this, we can first use root user to create the domainHome and then change the proper owner and mode for the domainHome. This can be done both via `docker run` or a k8s job.

[2019-05-24 03:37] lilyhe123 opened #1084 "t3 can not be accessed across namespaces"
Have a wls domain 'domain3' running in namespace 'test1' by the operator and a k8s service for the wls cluster named 'domain3-cluster-cluster-1' is created . Then running a jms client from namespace 'default' with InitialContext URL `t3://domain3-cluster-cluster-1.test1.svc.cluster.local:8001` and got following error. I run this in a single-node k8s cluster so it didn't seem to be a network proble

[2019-05-24 04:40] #965 closed

[2019-05-24 15:20] anpanigr commented on #1083
We can use the restrictive permission 770 if we annotate pv as follows
kubectl annotate pv -n domain-namesapce  $pv_name pv.beta.kubernetes.io/gid=$gid

where gid (`id -g`) refer to Group ID of the current user

Refer  to https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/persistent-storage/#persistent-volume-gid-annotation

[2019-05-27 02:38] lilyhe123 commented on #1083
imho, 770 is still a kind of compromise and it's not preferable in many case, e.g. sometimes we wants 755 or even 700.
Ideally we want to remove the dependency on the permission setting of the host folder.

[2019-05-30 17:10] bikramjeet77 opened #1091 "Managed Servers fail to start with weblogic.descriptor.BeanAlreadyExistsException: Bean already exists"
Hi,

I  have been testing the k8 weblogic operator and have been running into the following issue.

Any help will be greatly appreciated.

I used the create_domain.sh script at kubernetes/samples/scripts/create-weblogic-domain/domain-home-in-image as per the quickstart instructions documented at https://oracle.github.io/weblogic-kubernetes-operator/quickstart/get-images/.

The weblogic operator wa

[2019-05-30 19:13] bikramjeet77 commented on #1091
I also see that even though I chose to configure to create only 1 managed server in the domain.properties config file, weblogic operator still tries to configure and create all the 5 managed servers. I made sure that I set configuredManagedServerCount: 1 and  initialManagedServerReplicas: 1.

[2019-05-31 00:40] bikramjeet77 commented on #1091
After recreating domain and keeping both configuredManagedServerCount: and initialManagedServerReplicas  the same made it to work.

[2019-06-04 16:44] tbarnes-us commented on #1084
I think Shean Chang has already looked into this and come up with URL patterns that allow it.

[2019-06-04 16:45] tbarnes-us commented on #1083
@TheFrogPad FYI Hi Craig, I recall that you've looked into this?

[2019-06-04 21:20] tbarnes-us commented on #1084
@lilyhe123 - Per Pani, cross-namespace URLs need to be in the form (domain_uid)-(server_name).(namespace-for-the-domain_uid).svc.cluster.local for pods, which looks similar to the pod url you specified.  Can you double check that the name-space & service-name are correct, and also try a pod url instead of a cluster url to see if it works?

[2019-06-04 21:32] shean-guangchang commented on #1084
post your config.xml for the domain3 and which default channel or custom channel is serving port 8001?

[2019-06-04 21:41] TheFrogPad commented on #1083
Hi @lilyhe123, the file permissions have much to do with the overall setup an may involve the way the volume is handled in Kubernetes. I would not suggest any world permissions for a domain home in a production environment and as for user or group permission, the way the docker image is built has impact as well.

You can look at https://github.com/oracle/weblogic-kubernetes-operator/pull/1054#disc

[2019-06-05 06:48] feiwwang commented on #1084
Check bug 29344340.

[2019-06-05 13:40] shean-guangchang commented on #1084
the bug 29344340 is closed already.  I am asking the config.xml for the lily's case.  Is it the same as bug 29344340?  If yes, then please mark this as resolved.  Thanks!

[2019-06-06 02:05] shaunxa opened #1098 "What is the expected behavior of the pods of admin-server and managed-server when the worker node stopped / crashed?"
I tried to understand the behavior of the wls domain in the production incidents like the worker compute crash. I simulated the situation by stopping the compute in oci console. I observed different behavior between admin-server and managed-server pods and others like traefik, weblogic-operator and mysql. Here are their behaviors:

1. admin-server and managed-server pods changed to 'Unknown' about

[2019-06-06 03:49] lilyhe123 commented on #1084
Part of the config.xml related to the cluster:
[code]

[2019-06-06 03:52] lilyhe123 commented on #1084
I tried URL pattern (domain_uid)-(server_name).(namespace-for-the-domain_uid).svc.cluster.local but still the same error.
And I also tried the server pod IP but didn't work either.

[2019-06-06 04:44] feiwwang commented on #1084
The magic of bug 29344340 seems to be setting the ExternalDNSName for the servers.

Here is Pani's comment:
The sequence of bringing domain does not matter,  the external-listen address
MUST be set to the fully qualified service name of the local domain.

The test uses the py scripts packaged with sample which should be modified as
follows
---
set('ExternalDNSName',
'domain1-adminserver.weblogic-d

[2019-06-06 20:29] meenaal opened #1101 "Cannot connect to WLST : weblogic stop in k8s pod fails. (FMW 122130)"
Hi Team,

Need help in k8s regarding FMW 122130, applied both the patches p27117282_122130_Generic.zip and p29135930_122130_Generic.zip as mentioned in the readme
Using the available FMW 122130 docker file, I have built and create a new container, where admin-server is in running status, same is accessible from outside the machine as well. Able to deploy the application as well and able to connect

[2019-06-06 20:32] meenaal commented on #1101
Deployment yaml:
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: dom-pdc-two
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: dom-pdc-two
    spec:
      # hostNetwork: true
      containers:
      - name: dom-pdc-two
        image: pdcapp:12.0.0.2.0
        command: ["sh"]
        args: ["/u02/container-scripts/installOrStartPdc.sh"]
        ports:
        - co

[2019-06-06 20:33] meenaal commented on #1101
Service yaml
apiVersion: v1
kind: Service
metadata:
  name: dom-pdc-two
  labels:
    app: dom-pdc-two
spec:
  type: NodePort
  selector:
    app: dom-pdc-two
  ports:
    - name: pdc-http-port
      protocol: TCP
      port: 9771
      targetPort: 9771

[2019-06-06 20:35] meenaal commented on #1101
And also /u01 is root:root permission
but folders under /u01 are oracle:oracle permission

[2019-06-06 20:36] rjeberhard commented on #1101
Hi @meenaal, we just released operator version 2.2.0 today, which is the first operator version to work with FMW infrastructure domains.  Are you using this newest version?  Documentation for working with FMW infrastructure domains is here: https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/fmw-infra/

[2019-06-06 20:40] meenaal commented on #1101
I followed
https://github.com/oracle/docker-images/tree/master/OracleFMWInfrastructure

[2019-06-06 20:44] rjeberhard commented on #1101
Ah, okay.  The docker-images project has instructions for running in stand-alone Docker containers.  This project is for an operator that assists with running WebLogic in Kubernetes.  I would suggest that in order to run in Kubernetes, you use our operator and the documentation I linked to above.

[2019-06-06 20:52] meenaal commented on #1101
Really appreciate. But my task is to deliver both domain and application related docker and k8s files.
So I need to fix the issue.

[2019-06-06 21:02] rjeberhard commented on #1101
Yes, that's what we have in this project.  The operator is a controller for a custom resource type, Domain, representing a WebLogic domain.  Based on the Domain, the operator creates the necessary Pods and Services to run WebLogic server instances.

I'm not sure how to help on your issue, as we've never tested running the FMW infrastructure images in K8s without the operator.

[2019-06-06 21:07] rjeberhard commented on #1101
Would you consider coming to our public Slack channel?  It might be more efficient to get more people involved in the conversation.  It is here: https://weblogic-slack-inviter.herokuapp.com/

[2019-06-06 21:19] meenaal commented on #1101
Thanks, I m part of CGU unit, as part of private cloud initiative we are asked to deliver the docker files and k8s file for FMW Infra. with AdminServer domain and deploying CGBU application. With Docker, I didn't face any issue, it is working fine, only in k8s t3 is not connecting when I tried to stop the server and I m not able access WebLogic server using localhost as well. I will post the same

[2019-06-07 12:16] rjeberhard commented on #1101
Closing this as we are discussing the requirements separately and the use case described in the issue is not using the operator.

[2019-06-07 12:16] #1101 closed

[2019-06-10 19:00] senthil13 commented on #1091
+1 I too have the same issue. (weblogic.descriptor.BeanAlreadyExistsException: Bean already exists:  )

[2019-06-10 19:31] bryantidd commented on #1098
This is a great question and one that I've been working on as well. The answer is just as you described, It's application specific. This is because node outage, storage outage, etc. will affect each application differently. The application may still be working and making a blanket policy of restarting the workloads of that failed node could cause a split-brain scenario. The application owner has t

[2019-06-10 19:57] lennyphan commented on #1091
@bikramjeet77 and @senthil13 I'm investigating and am trying to reproduce this issue.

[2019-06-10 20:19] lennyphan commented on #1091
@bikramjeet77 and @senthil13   can you tell me what weblogic image you are using?  e.g.

bash-3.2$ docker images
REPOSITORY                            TAG                   IMAGE ID            CREATED             SIZE

store/oracle/weblogic                 12.2.1.3              12c456a86afb        4 months ago        1GB

[2019-06-10 23:00] lennyphan commented on #1091
@bikramjeet77 and @senthil13  can you also verify that the WebLogic docker image you're using is the 'latest' from the Oracle Container Registry?  The latest image has the necessary patches needed to run with WebLogic Operator.  More information on how to pull the latest WebLogic docker image and to verify the necessary patches can be found in https://oracle.github.io/weblogic-kubernetes-operator/

[2019-06-11 14:12] senthil13 commented on #1091
@lennyphan - thanks for the response. Please find the details

Weblogic version

[code]

Patches list

[code]
I guess we are missing these two patches, but we have super set of this 29016089, does this make any different.

29135930;One-off
27117282;One-off

So not using the correct version of patches causing the bean already exist issue ?

[2019-06-11 14:34] lennyphan commented on #1091
@bikramjeet77 and @senthil13,  yes these are all individual (one-off) patches that are necessary as the Operator can dynamically apply property updates (customizations) to WLS managed servers using a feature called 'config overrides':

https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/configoverrides/

The missing patches resolve the "weblogic.descriptor.BeanAlreadyE

[2019-06-11 14:37] mriccell commented on #1091
The pre-built WebLogic images in Oracle Container Registry or Docker Store are already patched.  Please take a look at the documentation of how to pull the WebLogic image from OCR  https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/domain-in-image/base-images/.

[2019-06-11 19:21] senthil13 commented on #1091
@mriccell @lennyphan  - My issue issue is resolved and thanks to both. I only installed `29135930;One-off`
as the other patch is a subset.
[code]

[2019-06-12 16:57] #1091 closed

[2019-06-12 21:21] rjeberhard opened #1108 "Templatized cluster members"
The requirement is to allow specification at the cluster level for templatized configuration of member servers.  The initial request was for a use case like as for Kubernetes StatefulSets, where each member server would mount its own persistent volume and where the relationship between a certain member and the persistent volume / claim would be stable over time (e.g. managed server "managed-server

[2019-06-12 21:31] rjeberhard opened #1109 "Cluster and member startup ordering"
The requirement is to allow specification of a startup ordering for clusters and managed servers, similar in intent to "deployment ordering" of applications.  For instance, customers may deploy a JMS store targeted to one cluster while the MDB's are deployed targeted to another cluster.  It's important in such a case that the first cluster is up and running before the second cluster begins to init

[2019-06-12 22:23] rjeberhard opened #1110 "External NodePort services for managed servers"
The requirement is to make individual managed servers externally visible using NodePort-type Services, similarly to what is currently offered for the administration server.

The current support for the administration server includes:
- Operator always creates a ClusterIP-type Service for the administration server that includes ports for all of the various "default" channels and all network access

[2019-06-12 22:59] #442 closed

[2019-06-12 23:00] #788 closed

[2019-06-12 23:01] #328 closed

[2019-06-12 23:01] #269 closed

[2019-06-12 23:01] #260 closed

[2019-06-13 18:41] bryantidd commented on #1108
This requirement reads as suggested in previous discussions. Would you mind supplying an example or two of how the "$<variable-name>" would be used. Thank you.

[2019-06-13 18:48] bryantidd commented on #1109
As this reads the inheritance model for resources and ability to define these value at cluster, server, server instance level is still maintained. Is this correct? Thank you.

[2019-06-13 18:57] bryantidd commented on #1110
Could this be achieved with a boolean at the cluster level for allowing a cluster IP on managed servers, instead of a service with an cluster IP set to none? Then access could be available within the cluster, or  added to an ingress.

[2019-06-13 19:13] bryantidd commented on #1110
In other words a second set of managed server instance services with Cluster IP: xx.xx.xx.xx

[2019-06-14 14:32] rjeberhard commented on #1108
@bryantidd, there is some other support currently limited to env. variables where variables can contain a "$(<variable-name>)" value, where the variable name has to come from a pre-defined set, such as DOMAIN_NAME or SERVER_NAME.  If we say that the format for this issue is also "$(<variable-name>)" then I could extend the current functionality to cover more or all string-typed fields.  This would

[2019-06-14 18:38] bryantidd commented on #1108
Looks great. I like that it would provide a clear understanding of what should be expected for PVCs created, etc.

[2019-06-17 10:32] KTwawawa opened #1113 "Failed to pull image "domain-home-in-image: 12.2.1.3" after executing "create-domain.sh""
An error occurs when creating the admin server after domain creation.

After "create-domain.sh" is executed, the domain becomes "RUNNING".
However, the status of the created pod will be "ImagePullBackOff".
It is assumed that the admin server and managed server will be started.

OS: ubuntu16.04
Execution command: sudo ./create-domain.sh -i create-domain-inputs.yaml -o / shared / -u weblogic -p welc

[2019-06-17 11:31] bhavaniravichandran commented on #1113
When you type docker images, does it list the image "domain-home-in-image: 12.2.1.3"? The image should have been built.

[2019-06-18 00:35] KTwawawa commented on #1113
Yes.
The image was being built.
However, this error message is displayed and the pod does not start.

[2019-06-18 00:39] markxnelson commented on #1113
Did you build the image on a different machine?  You need to push it to a registry or copy it to all the workers.

[2019-06-18 03:45] KTwawawa commented on #1113
Thank you very much.
I was able to launch the pod.

[2019-06-18 11:08] KTwawawa commented on #1113
Sorry.

The pod has been launched.
However, when you open the details of the pod, it will be displayed as "Readiness probe failed".

[code]

[2019-06-18 11:11] markxnelson commented on #1113
we need to check the pod log to see what is happening.
`kubectl logs <pod-name> -n <namespace>`

[2019-06-18 13:37] shaunxa commented on #1098
@bryantidd agree with you and thank you for your comments.

[2019-06-18 13:37] #1098 closed

[2019-06-19 00:40] KTwawawa commented on #1113
It becomes as follows.

[code]

[2019-06-19 07:55] KTwawawa commented on #1113
I'm sorry.

weblogic was running without problems.
I was able to connect to the console.

I expect it to be similar to the following events.
[＃175](https://github.com/pires/kubernetes-elasticsearch-cluster/issues/175)

This entry closes because there was no problem.
Thank you.