[2019-06-19 07:55] #1113 closed

[2019-07-02 18:24] josequaresma commented on #880
That worked for me @maidirepelle , thanks! It does required admin rights to the cluster though.

In case one wants to use the default service account, the following command can be executed instead:
`oc adm policy add-scc-to-user anyuid -z default -n`

[2019-07-05 04:18] madhuchilipi opened #1135 "error: unable to recognize "/des/eis/ipes/templates/pks/weblogic-build/weblogic-domain/weblogic-domains/domain8/domain.yaml": no matches for kind "Domain" in version "weblogic.oracle/v3""
Hi Team,

I am trying to create the domain using weblogic operator 2.0 i am facing API issue. Could you please help.

$ kubectl apply -f $CI_PROJECT_DIR/weblogic-domain/weblogic-domains/domain8/domain.yaml -n pks-cicd
error: unable to recognize "/des/eis/ipes/templates/pks/weblogic-build/weblogic-domain/weblogic-domains/domain8/domain.yaml": no matches for kind "Domain" in version "weblogic.oracle

[2019-07-08 21:53] rjeberhard commented on #1135
Sorry for the slow response!  Last Thursday was a holiday in the U.S. and almost everyone took Friday as well.  The error suggests that you don't yet have the custom resource definition (CRD) for the Domain type.  The operator should install this CRD in your Kubernetes cluster.  Can you share the output of `kubectl describe crd domains.weblogic.oracle`?  If this command returns that there is no su

[2019-07-08 21:54] rjeberhard commented on #1063
Did this resolve your issue?

[2019-07-10 06:00] shaunxa commented on #1063
@rjeberhard Thank you for your follow-up. Apparently it was my mistake. Changing log file is not supported. I will close it. Thanks.

[2019-07-10 06:00] #1063 closed

[2019-07-11 18:11] bikramjeet77 opened #1139 "Changes for configOverrides to domain object do not take affect without recreating domain object"
Hello,

We tried creating a new configmap and set that to the configOverrides property in the domain yaml config. We then applied those changes to the domain object (kubectl apply -f domain.yaml).

We also force restarted servers by updating the restartVersion field in the domain yaml config.

When admin server got restarted, it still did not have the configOverrides xml file deployed at optconfig

[2019-07-15 15:53] bikramjeet77 commented on #1139
Pinging to see if you have any comments/suggestions ?

[2019-07-16 22:37] tbarnes-us commented on #1139
Hi -

You're not missing anything - if a domain is running, then a domain restart is required for the operator to load new/changed configuration overrides.  This requirement is documented in the operator's override's documentation ([https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/configoverrides/)](https://oracle.github.io/weblogic-kubernetes-operator/userguide/man

[2019-07-17 06:20] charuni2018 commented on #1135
seems CRD is running, can you suggest further.

[2019-07-17 16:41] lennyphan commented on #1135
[crdoutput_txt.txt](https://github.com/oracle/weblogic-kubernetes-operator/files/3402891/crdoutput_txt.txt)

Attaching the CustomResourceDefinition from the command ```kubectl describe crd domains.weblogic.oracle```

[2019-07-17 20:13] bikramjeet77 commented on #1139
Thanks for a very detailed explanation. This was very helpful.

[2019-07-17 22:18] lennyphan commented on #1135
The version of the Domain that your domain.yaml represents is version "weblogic.oracle/v3" but the Domain described by your CRD that is deployed is 'Version: v2'.  Hence the error that the deployment of the Domain is not recognized since it is v3.  The best thing to do is:

1. delete the deployed CRD
2. Undeploy and redeploy the Operator (using helm) from the same cloned repository that your gener

[2019-07-18 04:26] lennyphan commented on #1135
Operator was updated to version 2.2.1.
CRD was deleted
Operator was redeployed to the k8s cluster

The install of the updated Operator deployed the latest CRD at v4 which resolved the issue.

[2019-07-18 04:26] #1135 closed

[2019-07-25 09:16] sczachariah opened #1158 "apache-webtier charts do not handle imagePullSecret"
apache-webtier charts present here - "https://github.com/oracle/weblogic-kubernetes-operator/tree/release/2.2.1/kubernetes/samples/charts/apache-webtier" do not handle "imagePullSecrets" in the deployment.yaml template file.

Kindly let know if this can be fixed.

[2019-07-26 08:27] simon-meng-cn commented on #1158
Yes. It can be fixed.

[2019-07-26 10:08] sczachariah commented on #1158
Let me know if I can raise a PR for the same.

[2019-07-26 11:42] markxnelson commented on #1158
Yes please do

⁣
Mark Nelson
Architect
https://weblogic.cafe
1 (972) 963-9435

Visit https://bit.ly/2QwRWZY to join our public WebLogic slack​

On Jul 26, 2019, 6:08 AM, at 6:08 AM, Sandeep Zachariah <notifications@github.com> wrote:

[2019-07-29 15:09] mnemonic01 opened #1161 "permission denied"
I still have this issue when rolling out a WebLogic or FMW domain, that when creating it uses uid 1000, the same as the cloud OPC user, so pod creating ends up in permission denied. Do you have solution for this?

Michel

[2019-08-01 06:30] wenjian80 opened #1167 "Modify the configuredManagedServerCount/ dynamic cluster size during runtime"
Is there a way to modify the configuredManagedServerCount/dynamic cluster size during run time for domain in an image?

Imagine let say we have been running the default max size dynamic size of 5 for some time and we need to do scale the number of pods/ms to cater for the load beyond that.

Do we have the edit the max dynamic cluster via the admin console or there is a configuration in the yaml fo

[2019-08-01 14:25] tbarnes-us commented on #1167
It is possible to make runtime changes for specific configuration attributes that _do not_ affect topology in a way that doesn't require a restart - see https://github.com/oracle/weblogic-kubernetes-operator/issues/1139. But modifying the dynamic cluster size or adding new servers is not one of these attributes.

Instead, it's best to pre-configure your cluster so that its sized a little larger th

[2019-08-01 14:41] tbarnes-us commented on #1167
One of the reasons for this limitation is that the current Operator learns the cluster topology using the 'introspector job' which it only runs before a domain starts its first WL pod.

[2019-08-02 02:58] wenjian80 commented on #1167
Understood, thanks

[2019-08-02 02:58] #1167 closed

[2019-08-02 13:52] shinystar93 opened #1169 "apiVersion mismatch in 2.2.1"
with 2.2.1 the installed apiVersion is still v2 (see att.) When trying to create a domain, the operator reads from domain.yaml where it finds apiVersion: "weblogic.oracle/v4". This leads to the following error: unable to recognize "c:\\data\\share\\domain/weblogic-domains/sample-domain1/domain.yaml": no matches for kind "Domain" in version "weblogic.oracle/v4". The workaround is to manually modify

[2019-08-02 15:15] shinystar93 commented on #1169
Sorry, mistake made by me! I used an old dokumentation from Peter Nagy and accidently installed v 2.0. After upgrade to v 2.2.1 also apiVersion v3 and v4 are present.

[2019-08-02 15:15] #1169 closed

[2019-08-04 18:51] volkermauel opened #1172 "Operator to watch ImageStream for new :latest tag"
Hey,

first of all, thanks for the project, so far it works really smoothly for me.
I'm trying to setup a CD-Pipeline with the operator in an OKD-Cluster (switching to OpenShift soon). The Building+Pushing part is handled by GitLab fine now, but I was wondering if a change to the ImageStreams :latest tag shouldn't cause a stopping of all pods and starting with the newest version of the Image.

If

[2019-08-05 12:56] russgold commented on #1172
If you change the image reference in the domain resource, the pods should do a rolling restart. Is this not happening for you? But if you are keeping the same image name, and replacing the image itself in docker, the operator will not notice.

[2019-08-06 06:54] volkermauel commented on #1172
That works correctly.
i switched my CI-pipeline to use
`oc patch domain domain1 -p '{"spec":{"image":"docker-registry.default.svc:5000/my-weblogic-namespace/gitlab-master:${CI_JOB_ID}"}}' -v 100 --type=merge`

Thanks for your help!

[2019-08-06 06:54] #1172 closed

[2019-08-07 16:06] tareynoso commented on #141
Hi, I got the same issues.I went like @rbaumgar said to docker.com, logged and search for  oracle-serverjre-8/
I had to select, fill the requirements, name, phone and thing like this, also accept agree the terms.
Then it's allows me to download the image
docker pull store/oracle/serverjre:8

[2019-08-07 16:09] mnemonic01 commented on #1161
Still no solution for this?

[2019-08-07 16:31] markxnelson commented on #1161
You might need to provide just a little more detail in order for us to help you.  Like what version of the operator are you using, what version of Kubernetes, what kind of domain, and so on.
From what you have said, I would guess that your Kubernetes is set up with a pod security policy that is causing the pod to be run with a different UID, and that is why it cannot read the files owned by UID 10

[2019-08-08 13:52] mnemonic01 commented on #1161
Hi Mark
I use OKE so version of k8s is v1.12.7, what OCI provides when I use OKE
Try to set up a SOA Suite domain on OKE. I use the official Oracle SOA Suite 12.2.1.3 from Oracle's container registry container-registry.oracle.com/middleware/soasuite:12.2.1.3
in this image the UID and GID are set to 1000 for oracle user, which is the similar UID for the OPC user on OCI. I suspect this is why I get

[2019-08-08 15:09] markxnelson commented on #1161
I would add a securityContext with user=1000 and fsGroup=1000 (or whatever the oracle user's default group is) -- see details here https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

[2019-08-08 16:31] russgold opened #1177 "Introspector job never ends when unable to find image"
While testing operator status updates, I created a domain with a bad image name. The introspection naturally failed to find it, and then kept restarting pods. Eighteen hours later, it was still trying. Surely there is some reasonable timeout after which the job should be declared to have failed?

[2019-08-08 19:40] rjeberhard commented on #1161
@mnemonic01, the domain resource (domain.yaml) has an element, "serverPod", which lets you specify a select set of elements that will be added to the pods the operator makes for WebLogic server instances.  The serverPod element supports the security context field that Mark mentioned.  So, your domain.yaml might have content like:

[code]

[2019-08-09 12:52] mnemonic01 commented on #1161
Thanks, already tried it :)

[2019-08-09 12:52] #1161 closed

[2019-08-14 12:09] mnemonic01 opened #1185 "Introspect job fails with startNodemanager"
After the domain introspect starts it failes at the startNodeManager.sh

 @[2019-08-14T12:06:36.458 UTC][introspectDomain.sh:96] Info: DOMAIN_UID='wls-domain-1'
@[2019-08-14T12:06:36.482 UTC][introspectDomain.sh:96] Info: NAMESPACE='domain-namespace-soa'
@[2019-08-14T12:06:36.519 UTC][introspectDomain.sh:96] Info: DOMAIN_HOME='/shared/domains/wls-domain-1'
@[2019-08-14T12:06:36.558 UTC][introspect

[2019-08-15 09:53] huxiaodongsjtu opened #1187 "helm install weblogic-operator failed with exception"
When we try to install weblogic-operator on openshift，got this exception below：
(Can you tell us what cause the exception? and how to fix it?)
{"timestamp":"08-15-2019T03:41:07.050+0000","thread":11,"fiber":"","domainUID":"","level":"WARNING","class":"oracle.kubernetes.operator.helpers.ClientPool","method":"getApiClient","timeInMillis":1565840467050,"message":"Exception thrown: {0}","exception":"\

[2019-08-15 11:43] markxnelson commented on #1187
We will look into it. What version of openshift are you using?

[2019-08-15 12:32] rjeberhard commented on #1187
We will also need to please know the version of the WebLogic operator.

[2019-08-16 01:43] huxiaodongsjtu commented on #1187
openshift version: v3.11.82, kubernetes version: v1.11.0+d4cacc0, WebLogic operator version: 2.2.1

[2019-08-20 12:00] Hawk-360 opened #1198 "Issue with Environment variables"
Hi,

While looking at different ways I can get dynamic values inside domain I was trying to use Environment variable using value tag which worked flawlessly, Next in agenda was to try valueFrom tag so that I can use configmaps or Secrets as source of values but sadly it didn't work,

Looking at the Domain definition it looks like valueFrom should be picked if value tag is undefined or empty.
URL :

[2019-08-20 13:23] rjeberhard commented on #1198
This was an oversight in that logic (read, "bug").  I'll make sure it gets corrected.

[2019-08-20 13:24] rjeberhard commented on #1198
Oh, you can also mount configmaps as volumes/volume mounts.  The keys will show up as files in the directory at the mount point with the files containing the values.

[2019-08-20 15:19] markxnelson commented on #1187
Hi, Would it be possible to share the command you used to install the operator please, then helm command?  And/or the values.yaml file that you used.  I have not been able to reproduce this issue on our OpenShift 3.11 system.

[2019-08-21 20:22] kavicse87 opened #1203 "WebLogic Admin Console doesn't allow login via Traefik ingress"
Traefik ingress weblogic console doesn't allow me logging in.

1)Configured traefik igress for weblogic console  and I'm able to hit the console page from internet.
2)But I couldn't logging into the console used the credentials that I've supplied through the domain.properties "myuser" "admin123".The default username "weblogic" and password "weblogic" also not working.
3) Attached the ingress file

[2019-08-21 20:39] markxnelson commented on #1203
HI, I think we need some extra config to make the console work through an ingress, I will ask the team for details, but in the mean time, are you sure you want to expose the console to the public internet? Have you considered using `kubectl port-forward` instead? So that you console access would be over an encrypted channel, and the console would only be available to people with access to your clu

[2019-08-21 20:44] kavicse87 commented on #1203
Hi Mark, Thanks for your quick response. For the experiment purpose I wanna check this and I would do kubectl port-forward before I move it to pre prod and prod. First I want this should work so that we can do the demonstration with the stake holders. your help on this would be much appreciable and helpful too.

[2019-08-21 20:45] markxnelson commented on #1203
OK I understand.  I would say that using a node port is much easier to configure... is that an option?  If your worker nodes don't have public IP's then let me know.  I am trying to get in touch with our engineer who worked on setting this up with another customer a few months ago.

[2019-08-21 20:59] markxnelson commented on #1203
[console through traefik ingress.zip](https://github.com/oracle/weblogic-kubernetes-operator/files/3527278/console.through.traefik.ingress.zip)

[2019-08-21 20:59] markxnelson commented on #1203
ok I think I might see the issue.  I added a video just above of this working for me.

[2019-08-21 20:59] kavicse87 commented on #1203
Yes, my worker nodes doesn't have public ips and no internet access too..

On Wed, 21 Aug, 2019, 16:45 Mark Nelson, <notifications@github.com> wrote:

[2019-08-21 21:00] markxnelson commented on #1203
In your ingress you are pointing at the `external` service - in mine I point at the internal one, like this:
[code]

[2019-08-21 21:01] markxnelson commented on #1203
Then I hit it through traefik's node port, which is 30305 in my case - http://mark.weblogick8s.org:30305/console

[2019-08-21 21:02] markxnelson commented on #1203
[code]

please excuse the name, i was testing our new "slim" images, and so i had "fat" and "slim" domains....

[2019-08-22 16:17] kavicse87 commented on #1203
Hello Mark,

Thanks for the response! I'm trying this.. I wanted to make it clear.. were you able to login to the console using the domain user name and password credentials.. My issue is I'm able to hit & view the console page but couldn't login to the console using the domain properties credentials which we've used during the domain IMAGE and WDT image built..

[2019-08-22 17:01] markxnelson commented on #1203
Hi, yes I used those credentials. You need to use the same credentials when you run WDT as when you create the k8s secret. Maybe that is the issue?  You could try using WLST from inside the admin server pod to connect to the server to confirm the credentials work.

Something like:
[code]

[2019-08-22 17:29] kavicse87 commented on #1203
Thanks for the clarification!!That one thing I should check. But i used
sealed secrests so i think I must try with the credentials which I've used
while creating that secret..

On Thu, 22 Aug, 2019, 13:01 Mark Nelson, <notifications@github.com> wrote:

[2019-08-22 17:33] markxnelson commented on #1203
Yeah, they have to match - if you use different credentials when you create the image than the ones in the secret that are used to start it, you won't be able to get in :)

[2019-08-22 19:57] v-2vikc commented on #1203
I tried with the suggestion, its throwing and exception as below.

Initializing WebLogic Scripting Tool (WLST) ...

Welcome to WebLogic Server Administration Scripting Shell

Type help() for help on available commands

wls:/offline>  connect('myuser','admin','t3://localhost:7001')
Connecting to t3://localhost:7001 with userid myuser ...
Traceback (innermost last):
  File "<console>", line 1, in ?

[2019-08-22 19:59] markxnelson commented on #1203
could you try changing `localhost` to the admin server address, something like `domain1-admin-server`

[2019-08-22 20:02] markxnelson commented on #1203
for example:
[code]

[2019-08-22 20:02] markxnelson commented on #1203
that should tell us if the domain uid/password is right

[2019-08-22 20:15] markxnelson commented on #1203
ok, that's progress. did you say you "sealed" your secret? can you tell me more about that? maybe the operator/domain can't decrypt it right...

[2019-08-22 20:19] kavicse87 commented on #1203
Mark, Yes Kubernetes SealedSecret.. I'm just trying it with the general kubernetes secret in this case that should work if there is an issue with decrypting the SealedSecret. Will let you know shortly. Thanks! for your quick response.

[2019-08-22 20:53] markxnelson commented on #1203
I am not familiar with sealed secrets - is it a third party thing that you added into k8s?  I think our code is assuming it can read the userid and password out of the secret (which is mounted in /var/run/secrets/whatever) in cleartext.  maybe this sealed secrets thing is changing the interface in some way

[2019-08-23 02:39] kavicse87 commented on #1203
Hi Mark,
No luck yet, still authentication failed. I'm wondering because I'm using a domain called walmart in the wdt image. Also in the weblogic cluster creation (domain.txt).  **I used the same domain.I see the admin server connected to domain1.** wasn't supposed to be walmart right ? Also I've labeled the secrets with the domainuid and domainname with the  domain called walmart only.. Looking f

[2019-08-23 17:57] markxnelson commented on #1203
ok, sounds like maybe there is something going wrong in the overall process... did you join our public slack? let's start a private chat there so you can share config files and things and we can work out where the problem is  you can ping me with @Mark Nelson there... if you need a slack invite, go to https://weblogic-slack-inviter.herokuapp.com/

[2019-08-25 18:04] lightistor opened #1218 "WL-Operator not creating the shared domain directory under the Kubernetes node its trying to spawn the pod"
**Setup:**
I am using the "$WLOP_SAMPLE_SCRIPTS/create-weblogic-domain/domain-home-on-pv/create-domain-inputs.yaml" input file (modified accordingly) and "$WLOP_SAMPLE_SCRIPTS/create-weblogic-domain/domain-home-on-pv/create-domain.sh" to create our weblogic domain.

Docker: 18.03.1-ce
K8S-Cluster: kubeadm, kubelet and kubectl versions are v1.12.9 (We've had major stability issues with k8s cluster

[2019-08-25 18:59] markxnelson commented on #1218
Sounds like you are using a HostPath PV. If that is the case, then that directory must be available on every node where pods can be scheduled.

[2019-08-25 19:05] lightistor commented on #1218
Hello Mark, it is available on both master and worker. But as the first time the job pod gets created the files are generated but never get replicated back under the master node where another pod would get created.

[2019-08-25 19:08] markxnelson commented on #1218
Not sure what you mean by replicated, it has to be the same storage, shared, not just two directories with the same name. You need to use something like NFS to mount the same storage on all nodes

[2019-08-26 12:49] TheFrogPad commented on #1218
Is $HOME really a shared volume or `HostPath` that is seen by both nodes?

Have you double checked that the `PersistentVolume` and `PersistentVolumeClaim` are correct and that there are no POD errors obtaining the claim and/or mounting the volume?

[2019-08-26 19:05] lightistor commented on #1218
@FrogPad the issue was not with PVC allocation but due to the PV hostpath being a local directory for both master and worker nodes with the provisioning happening on either when the first time the domain got created on an initial node whereas the other node not having access to domain files. Setting up another droplet (setup is on digital ocean which does not have a managed service for shared volu

[2019-08-26 19:05] #1218 closed

[2019-08-26 19:15] lightistor opened #1221 "What is the latest supported kubernetes and docker versions for the WebLogic Operator?"
As per the wiki page
(https://oracle.github.io/weblogic-kubernetes-operator/userguide/overview/k8s-setup/#install-kubernetes-on-your-own-compute-resources-for-example-oracle-linux-servers-outside-a-cloud) the latest version for docker is 17.03.1-ce and kubernetes (kubeadm, kubelet and kubectl) is 1.8.4
However, with this setup I could not keep the cluster alive for more than few days with kubelet

[2019-08-27 16:49] sibendu opened #1222 "Error in Creating Domain: missing DOMAIN_HOME directory '/u01/oracle/user_projects/domains/sample-domain1'"
Hi,
I am following "Quick Start" in the documentation https://oracle.github.io/weblogic-kubernetes-operator/quickstart/
All the steps till "Prepare for a Domain" works fine.
During "Create a Domain", I am getting error. When I see "sample-domain1-ns", the pod sample-domain1-introspect-domain-job-xxxx  showing status as "Terminated: Error"
In the logs, I find following line at the end:
Error: missi

[2019-08-27 23:09] alan-cao opened #1227 "Support k8s service account for wls domain/cluster/server"
enhancement request for wls operator to set k8s service account for the wls domain or even cluster/server level.

The service account can be used to establish identity and enforce authorization for service-to-service calls via Istio authorization https://istio.io/docs/concepts/security/#authorization

 The lower level value will override. So that it is possible to make access control on different

[2019-08-28 05:05] sibendu commented on #1222
Here is the my-input.yaml. I had built the image separately by running  ./docker-images/OracleWebLogic/samples/domain-home-in-image/build.sh and pushed to my docker hub account.

# Copyright 2018, 2019, Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.

# The version of this inputs

[2019-08-28 05:06] sibendu commented on #1222
Here is the my-input.yaml. I had built the image separately by running ./docker-images/OracleWebLogic/samples/domain-home-in-image/build.sh and pushed to my docker hub account.

[2019-08-28 05:07] sibendu commented on #1222
Here is the my-input.yaml  (extension changed to .txt).
I had built the image separately by running ./docker-images/OracleWebLogic/samples/domain-home-in-image/build.sh and pushed to my docker hub account. During docker build, it seems the domain_home folder is present in the image.

[my-inputs.yaml.txt](https://github.com/oracle/weblogic-kubernetes-operator/files/3549190/my-inputs.yaml.txt)

[2019-08-28 18:02] TheFrogPad opened #1228 "Introspector pod not picking up the container context from the domain resource"
https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/domain-resource/#pod-generation

"The job pod for the introspector is generated using the serverPod entries for the administration server", however, the `containerSecurityContext` from the `serverPod` is not being applied to the introspector pod where it is applied to the admin and managed servers.

[2019-08-29 10:42] sibendu commented on #1222
Thank you. The image and other details in domain.yaml is correct. As I restart the domian with kubectl apply -f domaijn.yaml; the pods are up and running.
However I am unable to access the WLS console.  I tried by port-forward the admin server pod for 7001/ 30701 , but none of this seems working.

[2019-08-29 16:57] alai8 commented on #1222
Are you not able to bring up the WLS console login page at all? Please check that you have created your domain with `exposedAdminNodePort: true` in your my-inputs.yaml. After the domain has started, verify that a node port type service has been created for the admin server, such as:

sample-domain1-admin-server-external   NodePort    10.111.222.223   <none>        7001:30701/TCP       29s

Could y

[2019-08-29 17:05] alai8 commented on #1185
This looks like your domain is on a persistent volume. Could you check if a WebLogic domain has been created successfully at the path pointed to by the pv? Thanks

[2019-08-29 17:51] anilarora opened #1231 "livenessProbe.sh should use JAVA_HOME if set"
livenessProbe.sh script mounted via the operator generated config map at /weblogic-operator calls jps, which is assumed to be in the PATH.  Instead, this should use the JAVA_HOME environment variable if it is set.

Reference...
https://github.com/oracle/weblogic-kubernetes-operator/blob/master/operator/src/main/resources/scripts/livenessProbe.sh

[2019-08-30 05:50] sibendu commented on #1222
I am using OKE. With exposedAdminNodePort: true, it exposed the NodePort; and I am able to configure Load balancer to access the console. Thank you. I am closing this.

[2019-08-30 05:51] sibendu commented on #1222
I am using OKE. With exposedAdminNodePort: true, it exposed the NodePort; and I am able to configure Load balancer to access the console. Thank you. I am closing this.

[2019-08-30 05:51] #1222 closed

[2019-08-30 07:41] anilarora opened #1232 "Error using SERVER_NAME variable in pod template when server name has underscore"
Have a managed server named "ess_server1" which contains an underscore.  In my domain resource, I am using the $(SERVER_NAME) variable in the template as follows.

[code]

Which results in
[code]

The templating code should convert the underscores per convention as persistentVolumeClaim doesn't allow for underscore.

[2019-08-30 08:06] anilarora opened #1233 "Enh: Provide volumeClaimTemplate functionality for serverPod"
Would like to be able to define a claim template in the serverPod similar to what is offered by the statefulset resource type.  While not critical, this could just simplify the domain resource definition a little bit.

[code]

[2019-08-30 16:11] tbarnes-us commented on #1232
As a potential work-around, does templating support using $(SERVICE_NAME) ?  The operator generates env var SERVICE_NAME for its pods that consists of  `domain-uid + "-" server-name` with all lower case and any underscores to hyphens. So perhaps it also already supports a template variable for SERVICE_NAME?

Side note:  Include $(DOMAIN_UID) to ensure decorated names are fully unique.

[2019-08-30 20:16] anilarora commented on #1232
Yes, this works and could work for our use case.

[2019-09-03 15:08] anilarora commented on #1232
In a cluster case, wouldn't the SERVICE_NAME be `domain-uid + "-" + cluster-name`?  In our case, each managed server needs its own PVC.

[2019-09-03 15:25] tbarnes-us commented on #1232
No. SERVICE_NAME is `domain-uid + "-" server-name` (all lower case, underscores converted to hyphens) regardless of whether the server participates in a cluster.

[2019-09-03 18:17] tbarnes-us commented on #1232
@rjeberhard FYI

[2019-09-04 18:05] anilarora opened #1239 "Document requirements for custom docker images"
It's not clear what are the exact requirements for custom docker images.  At the moment, it seems like there's an assumption that the custom image extends one of the official images.  If the custom image does not extend these images, there needs to be some requirements on what is expected in terms of file layout, environment variables, etc.

[2019-09-04 18:48] anilarora commented on #1231
It would seem that JAVA_HOME is a required environment variable according to https://github.com/oracle/weblogic-kubernetes-operator/blob/master/operator/src/main/resources/scripts/wlst.sh

[2019-09-06 07:36] lilyhe123 commented on #1083
The common approach is via `initContainer`.

Add an init container as below in the domain creation job to set the proper file permission, instead of the manual step.

[code]

[2019-09-06 12:55] TheFrogPad commented on #1083
The use of `initContainers` may be fine for some environments but will likely be ineffective if your cluster does not allow containers to run as `root` or if `root` does not have permissions with NFS volume mounts.

Another reasonable alternative that customers have used is the Kubernetes annotation `pv.beta.kubernetes.io/gid` for the `PersistentVolume` as this will establish a GID for file access

[2019-09-06 16:00] anilarora opened #1244 "Support domain on PV using directory path root in image (/u01)"
The operator is not able to introspect the domain in the "domain on PV" use case unless the domain home is located under /shared.  I tried setting the following in the domain resource

  domainHome: "/u01/config/domains/domain3"
  domainHomeInImage: false

where /u01/config is the volume mount point.

[2019-09-06 16:50] tbarnes-us commented on #1244
I wonder if the issue has something to do with choosing '/u01/config' as the mount path, since the '/u01' directory typically already exists within the image.

Is there a mount error reported in a kubectl describe of the introspector job? This would indicate that kubernetes wasn't able to mount the specified location in the first place.  If not, what error is reported in the job's log? If so, can

[2019-09-06 20:03] anilarora commented on #1244
Interesting...If I change the mount to /testconfig, it seems to go through.

[2019-09-06 20:19] anilarora commented on #1244
When I use /u01/config as the mount point, I don't see the introspector job created.  I see this in the weblogic-operator logs.

{"timestamp":"09-06-2019T20:18:00.546+0000","thread":29,"fiber":"","domainUID":"","level":"INFO","class":"oracle.kubernetes.operator.DomainProcessorImpl","method":"dispatchDomainWatch","timeInMillis":1567801080546,"message":"Watch event triggered for WebLogic Domain with

[2019-09-06 23:09] tbarnes-us commented on #1244
Hmm. Are you sure the job wasn't created? I've yet to see a case where the Operator doesn't at least try to create the job. Usually a failed mount reports an error in the 'kubectl describe' of the job (or maybe it's the job's pod?).

Regardless, it looks like the issue is solved. PV/C mount points that overlap an image's burned-in directory tree are apparently verboten in kubernetes.  (We learn so

[2019-09-07 00:34] anilarora commented on #1244
I don't know if the job was created but I don't see it when I do a "kubectl get pods -n <namespace>" so if it's getting deleted in some loop somewhere...

BTW, I use the same volumeMount mapping in my job batch resource that creates the domain, so it should be technically possible.

Let's keep this open because it still feels like an issue.  We have been using /u01/config for our domain storage an

[2019-09-07 04:02] tbarnes-us commented on #1244
If the mount is failing, it could be the reason you can't see the pod.  A kubectl describe of the job might be instructive.  "kubectl get jobs", then "kubectl describe job the-job".

I'm not sure what can be done to directly work around the issue.  This looks like a limitation of docker/kubernetes - not the operator.  Off the top of my head, all I can think of is modifying the job/pod start script

[2019-09-07 04:22] tbarnes-us commented on #1244
Hmm, I might be assuming to much that this is a docker/kubernetes limitation.   I wonder if this is simply a permission issue.

It looks like u01 is owned by oracle:  "drwxr-xr-x   1 oracle oracle 4096 Sep  5 15:01 u01" is owned by oracle.   Where as /shared in my sample is owned by root, which indicates to me that a pv/c creates a mount using root by default even if the pod is running as the orac

[2019-09-08 17:34] mnemonic01 commented on #1185
You are right, its on a PV, and there is nothing written, correct
I had issues with permissions first because in the image the Oracle UID is 1000, but Im running OKE where opc user had ID 1000 so it failed to create dirs
But now no domain is writte on pv

[2019-09-09 04:55] lilyhe123 commented on #1083
@TheFrogPad you are right. It's better to let customer choose whatever they want.

[2019-09-09 04:55] #1083 closed

[2019-09-10 16:45] tbarnes-us commented on #1244
Issue #1228 may be related.

[2019-09-10 16:46] tbarnes-us commented on #1228
Related pull:  #1247

[2019-09-12 06:52] amyles opened #1251 "prepare.sh will not run on Ubuntu due to use of function keyword"
The [prepare.sh](https://github.com/oracle/weblogic-kubernetes-operator/blob/master/kubernetes/samples/scripts/create-weblogic-domain/domain-home-on-pv/wdt/prepare.sh) script will not run on Ubuntu due to the use of the function keyword, this results in files not being copied into container.
Changing this section:
[code]
to
[code]
means it's more POSIX compliant and runs on Ubuntu,

[2019-09-12 06:58] amyles opened #1252 "Config map not updated with new files on second run of create-domain.sh"
When [create-domin.sh](https://github.com/oracle/weblogic-kubernetes-operator/blob/master/kubernetes/samples/scripts/create-weblogic-domain/domain-home-on-pv/create-domain.sh) is run for a second time (perhaps after a failure) the config map containing domain creation files is not updated with any new or updated files. This is because the config map is created with kubectl create and a second call

[2019-09-13 20:28] alai8 commented on #1185
If you are following the samples at https://oracle.github.io/weblogic-kubernetes-operator/samples/simple/domains/domain-home-on-pv/ and the create-domain.sh script was not able to generate the WebLogic domain on the pv successfully, could you take a look at the Troubleshooting section on that page? Also, could you check the output of `kubectl describe pod <name-of-create-weblogic-sample-domain-job

[2019-09-13 22:53] #1227 closed

[2019-09-14 14:43] lightistor opened #1257 "create-fmw-infrastructure-domain/domain-home-on-pv/create-domain.sh failure cases."
Hello,
Thanks for the help in [Issue-1218](https://github.com/oracle/weblogic-kubernetes-operator/issues/1218 ) @markxnelson it did help me in having a stable environment to play with the operator. Though as standard wls was not I set my eyes on fmw and beyond with which I have encountered further issues and would like your opinion on it.

I have encountered the two following scenarios when trying

[2019-09-16 19:42] TheFrogPad commented on #1257
Hi @lightistor, can you help gather more information as it is not clear what your issues might be?

1) For your first item about the job getting stuck writing the domain, can you obtain the logs from the job/pod that is creating the domain? An example of using `kubectl` would be:

`kubectl logs job/domain1-create-fmw-infra-sample-domain-job -n domain1-ns`
or
`kubectl logs domain1-create-fmw-infra-

[2019-09-17 03:32] maleficarum commented on #1028
I'm dealing with the same issue, and it seems that the domain.properties is in the proper path ( ~/projects/oracle/weblogic-kubernetes-operator/kubernetes/samples/scripts/create-weblogic-domain/domain-home-in-image/docker-images/OracleWebLogic/samples/12213-domain-home-in-image/properties/docker-build/domain.properties), and got the same error (A properties file with variable definitions should be

[2019-09-17 05:14] simon-meng-cn commented on #1028
According to previous comments, this issue may be related to the operating system and the shell. Can you try the solutions provided by creativefre and jshum2479?

[2019-09-17 13:47] labster97 opened #1260 "how to deploy app source on git repo (gitlab or githut,,) when WLS start"
WLS domain was created on PV and /shared is PV and source code is located on /shared.
customer deployed an application using WLS console.

My customer wants to store source code on git repository and want to deploy the application to WLS Server when the WLS start.
in my idea, I need to modify domain.yaml and then kubectl apply -f domain.yaml.

But I don't know how to input the parameter and value

[2019-09-17 17:48] TheFrogPad commented on #1257
One other item to check is your `PersistentVolume` definition and check the documentation around NFS that we have at https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/persistent-storage/#storage-locations

[2019-09-23 21:28] #1221 closed

[2019-09-24 16:08] anpanigr commented on #1260
In current form domain.yaml does not support any application deployment.

You may consider domain-in-image model as an alternative, where the application archive is available inside the domain image.

[2019-09-25 00:50] labster97 commented on #1260
Hi Antaryami

Thanks for your guidance.

I have some question for the domain-in-image model. please advice for my question.

1. Is it supported Github (or Gitlab) for application deployment when image build?
2. If not support #1, the application archive should be located on PV (persistent volume) or docker image or others?
3. If the customer uses the domain-in-image model, can they use PV for log

[2019-09-26 16:38] NidaRe opened #1269 "Deploying Application in Domain when source code is placed in GitHub"
CURRENT SCENARIO
=================
Currently using Persistence Volume in Kubernetes to store the application(EAR/WAR/JAR) and using Weblogic Console to pick the application from Persistance Volume location for the deployment.

REQUIRMENT
===========
Use GitHub Repository to store the deployments (EAR/WAR/JAR) instead of storing them Persistance Volume(/shared).
AND
Deploy the same in Weblogic Doma

[2019-10-02 14:05] lightistor commented on #1257
Apologies for not replying back. This issue seems to span from overall cluster connectivity (Running the setup on digital ocean droplets to mirror an on-premise scenario. I might be wrong regarding this observation)
Out of 50 trials in doing deployment for FMW-I, SOA and OSB (Total of 150 or even more), I had a success rate of 40% with either of the aforementioned scenarios occuring in the rest of

[2019-10-02 14:05] #1257 closed

[2019-10-02 23:15] lightistor opened #1287 "Issue in using a WLDF policy rule and script action to call the operator’s REST scale API"
I am trying out WLDF policy+action to run the scalingAction.sh (https://github.com/oracle/weblogic-kubernetes-operator/blob/master/src/scripts/scaling/scalingAction.sh) to trigger a configured domain's (FMW-infra based) scale-up but the script is not executing even when the alert for the threshold is fulfilled for the managed-servers. Is there anyone who tried a similar scenario and was able to ex

[2019-10-08 23:16] markxnelson opened #1293 "Customer request: Support authentication on elasticsearch host operator sends logs to"
Requested by @Vikram in our public slack today 10/8/2019

Customer would like us to enhance the operator to allow them to provide credentials for the elasticsearch server that the operator sends its logs to.

Shadow of OWLS-77204

[2019-10-09 16:34] markxnelson opened #1294 "MARK: fix doc for create domain sample"
reported by @ddsharpe
https://oracle.github.io/weblogic-kubernetes-operator/samples/simple/domains/domain-home-in-image/
this page is unclear, after the create credentials, it is missing instructions on which directory to go to next, to find the create-domain.sh etc

[2019-10-09 18:42] lennyphan commented on #1287
To help debug how WLDF is evaluating the metrics and rules, you can run the managed server at which the policy is targeted (for example Admin Server for Cluster-scoped smart rules) with the following system properties for debug output of the WLDF component:
-Dweblogic.StdoutDebugEnabled=true -Dweblogic.log.LogSeverity=Debug -Dweblogic.log.LoggerSeverity=Debug  -Dweblogic.debug.DebugDiagnosticWatch

[2019-10-18 15:07] satyendrakarn commented on #345
I too am facing the same problem. In order to shutdown all the servers, I have set serverStartPolicy: "NEVER" for the domain and again to bring all the servers up I have set it to IF_NEEDED. On restart, only the admin server came up. I tried recreating the domain, still managed server didn't start.
I have also tried deleting the NFS mounts from all the nodes but no luck. Can you help?

[2019-10-18 15:35] alai8 commented on #345
Were the manage server pods created? If so could you upload the pod log? Otherwise, we would probably need to look at the operator log to see if it provides any clues. Thanks

[2019-10-18 19:28] satyendrakarn commented on #345
Exposed node port was already in use by another service. Issue is resolved now. Thanks.

[2019-10-18 20:44] satyendrakarn commented on #1185
No error as such with kubectl describe. On kubectl logs it displays the error, startNodeManager.sh:77][SEVERE] /shared/domains/wls-domain-1//config/config.xml' not found.
So, Unable to set the domain home on nfs pv, although log home on nfs pv works fine.

[2019-10-19 04:44] rjeberhard opened #1303 "Upgrade apiVersions for Kubernetes 1.16"
From a customer:

Note that Kubernetes 1.16 deprecates apiVersions for v1beta1 for deployments and other resources, etc. So the current Helm chart for the Operator fails. Not sure yet the extent of what needs to be changed yet.

There are likely runtime changes needed as well.

[2019-10-24 16:25] lennyphan commented on #1185
Do you have the output from running the create-domain.sh script?

[2019-10-29 07:41] satyendrakarn commented on #1185
[logs-from-weblogic-server-in-searchsvc-wl-domain-admin-server.txt](https://github.com/oracle/weblogic-kubernetes-operator/files/3782195/logs-from-weblogic-server-in-searchsvc-wl-domain-admin-server.txt)

[2019-10-29 14:55] tbarnes-us commented on #1185
(1) Are you using a multi-node k8s cluster?  If so, you need to make sure that the host path that your pv/c references is in a shared location that all machines in the cluster can access.   If you haven't that would explain the errors.

(2) If (1) doesn't help, please provide more debugging information:

- The DOMAIN_HOME changed from your original post.
- Note that 'logs-from-weblogic-server...'

[2019-10-29 17:10] satyendrakarn commented on #1185
- DOMAIN_HOME is on a a NFS path which is mounted in all the nodes.

- In earlier comment, I have used the original post to describe the issue that I was facing and that is why DOMAIN_HOME has changed.

- In order to proceed ahead with the setup earlier, I changed the DomainHomeInImage to true and domainHome as /u01/oracle/user_projects/domains/searchsvc-wl-domain. To recreate the issue I changed

[2019-10-29 18:36] tbarnes-us commented on #1185
Are you using a multi-node kubernetes cluster?

[2019-10-29 18:37] tbarnes-us commented on #1185
And can you edit/replace the above 'describes' with file links or attachments?  The formatting was lost when you cut-and-pasted them into comments.

[2019-10-29 18:51] tbarnes-us commented on #1185
It's very strange that your PV/C & mount are providing a domain home directory to the introspector job but not to the pod.  This is an indication to me that your PV/C & mount is somehow unstable, or that the introspector job and admin-server pod are somehow running as different users.

I have little experience with the "NFS" type PV mount - are you sure that it's IP address ' 10.3.234.137' is reso

[2019-10-29 18:54] tbarnes-us commented on #1185
(Historically, we've found that things are less likely to go wrong to have a host-path PV that in turn mounts an existing shared directory instead of directly using an NFS PV.)

[2019-10-29 19:33] satyendrakarn commented on #1185
I am getting the exact same error when trying with Host path PV and DomainHomeInImage set to false.

[2019-10-29 20:02] tbarnes-us commented on #1185
The logs don't care if they resolve to a new directory location each time.

I'm sure it's resolving to.  The question is whether it's resolving to the same location each time.

Is  the error always being reported by the introspector or the wl pod?  Or does this change with each retry?

Can you clean up everything, and try reproduce solely with the 'host path' approach, while making absolutely sure

[2019-10-29 20:22] satyendrakarn commented on #1185
Error is always reported by the introspector.
Alright, I will recreate it with 'host path' approach.
Yes, I do have zoom access. I will message you separately on slack.

[2019-11-15 11:33] fpacilio opened #1330 "Checksum fails in a Docker image"
Hi all,
I created a WebLogic domain home in a Docker image using one of the domain home in image samples.
Since I run the sample from a machine that is remote to the Kubernetes cluster, I need to push the new image to a registry that is local to the cluster. The image is built successfully but when I push the image in a docker registry, I get this error:
file integrity checksum failed for "u01/ora

[2019-11-15 13:54] mriccell commented on #1330
@fpacilio could you tell me which of the samples you are running?

[2019-11-15 16:44] TheFrogPad commented on #1330
@fpacilio You may want to try the sample and/or docker build steps again from another machine/node or simply clean up the local docker registry and try again ensuring that `--no-cache` is used by the underlying scripts.

It's likely something might be up with your local registry or file system and there is a closed issue on this topic from Docker at https://github.com/moby/moby/issues/33991

[2019-11-15 19:08] fpacilio commented on #1330
@mriccell I'm running https://github.com/oracle/weblogic-kubernetes-operator/tree/master/kubernetes/samples/scripts/create-weblogic-domain/domain-home-in-image.

@TheFrogPad the build already use --no-cache:
docker build --force-rm=true --no-cache=true $BUILD_ARG -t  ${tagName}  ${scriptDir}
I am going to check the memory used.

[2019-11-16 01:44] #1228 closed

[2019-11-16 01:44] #1198 closed

[2019-11-16 01:44] #1231 closed

[2019-11-16 01:44] #1232 closed

[2019-11-18 11:09] fpacilio commented on #1330
Using 'docker system prune -a', I solved the problem.
thanks.

[2019-11-18 11:09] #1330 closed

[2019-12-05 01:39] luizooliveira opened #1360 "Erro in create-domain.sh script - domain-home-in-image"
I'm getting this error when I try to create my domain:

[code]

Does anyone got the same?

[2019-12-05 03:01] markxnelson commented on #1360
Thanks for reporting this - we will check it out and get back to you - can you confirm which type of domain you are using? WebLogic/FMW Infrastructure; on PV, in image; what version.  Thanks

[2019-12-05 13:26] luizooliveira commented on #1360
Thank you for your prompt reply.

It is a WebLogic domain in Image version 12.2.1.3

[2019-12-09 16:06] anpanigr commented on #1360
The root cause of the issue is due to a recent merge into docker-images repository. A pull request has been opened to resolve the issue.

[2019-12-09 19:30] luizooliveira commented on #1360
Thank you. Could you reference it here?

[2019-12-09 22:22] anpanigr commented on #1360
The change has been reverted in docker-images project. Can u try to re-build your domain image now.

[2019-12-10 14:38] luizooliveira commented on #1360
Now it's working!

Thank you!

[2019-12-10 14:38] #1360 closed

[2020-01-07 12:45] mnemonic01 opened #1380 "Permission denied when creating folders still exists"
Hi
Building a WebLogic Cluster on OKE still results in a permission denied when the create job tries to make the specific directories for the domain.
I used the HOST_PATH value in the input yaml

But where to I set the security context?
spec:
  serverPod:
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000

In the create-domain-job-inputs.yaml? There is no yaml fo

[2020-01-07 12:46] mnemonic01 commented on #1380
domain home should is configured on a PV

[2020-01-07 12:51] mnemonic01 commented on #1303
All to apps/v1
See https://github.com/helm/charts/pull/17343

[2020-01-07 14:15] rjeberhard commented on #1303
Yes, the changes needed are straight-forward for working with Kubernetes 1.16.  However, it's more complex in that I would like to support an upgrade across 1.14 through 1.16.  @mnemonic01, do you have a particular feature or requirement that requires Kubernetes 1.16 or are you just trying to work with latest out of good practice?

[2020-01-07 14:29] mnemonic01 commented on #1303
Not specific, like to keep up with the most recent ones

[2020-01-07 14:56] pfmackin commented on #1380
Hi, what image are you using?  Also, can you verify the owner of /u01 and the child directories?  The owner should be oracle.

[2020-01-07 15:16] mnemonic01 commented on #1380
The official one from the oracle container registry,.fmw infrastructure 12.2.1.3. owner and group are oracle, uid guid 1000

[2020-01-07 15:27] pfmackin commented on #1380
Hi, can you please try container-registry.oracle.com//fmw-infrastructure:12.2.1.3  with the default settings and not override the security context just to make sure that is working?

[2020-01-07 15:29] mnemonic01 commented on #1380
I did... That's why it's not working. Either on OKEor AKS, it gets stuck on this

[2020-01-07 15:38] pfmackin commented on #1380
Are you using operator 2.4.0 ?

[2020-01-07 15:40] mnemonic01 commented on #1380
Yes, the latest,but it also happened in previous versions

[2020-01-08 02:03] pfmackin commented on #1380
Hi, I just tested OKE domain on PV using HOST_PATH and had no problem.   I followed the instructions in this blog for setting up NFS: https://blogs.oracle.com/weblogicserver/how-to-run-weblogic-clusters-on-the-oracle-cloud-infrastructure-container-engine-for-kubernetes

Can you verify that your shared directory is owned by opc and accessible from all of you K8s nodes?

[2020-01-10 12:54] mnemonic01 commented on #1380
worked for me, thanks

[2020-01-10 12:54] #1380 closed

[2020-01-17 16:22] volkermauel opened #1395 "How to create a custom readiness/liveness probe"
I tried editing the cluster serverPod in the Domain to reflect a custom live/ready check, but it was not taken into account when creating the managed server pods.

also i'd like to have a longer grace-period before a container is finally killed since i'm using an in-memory database (hazelcast), but that was also not taken over in the final pods.

Thanks for your help!

[2020-01-17 16:51] rjeberhard commented on #1395
We don't presently have support for custom liveness or readiness checks.  Can you tell me about your use case?

We do have support for configuring graceful shutdown: https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/domain-lifecycle/startup/#shutdown-options.

[2020-01-17 17:33] volkermauel commented on #1395
Thanks for the quick reply, i'm trying the graceful shutdown right now.

My usecase for custom liveness/readiness checks is that, for some reason, the deployment of my application seems to fail from time to time. Still the weblogic will be available, thus HAproxy is trying to hand off sessions to the not-running application.

With a custom readiness/liveness-check, i could simply try to HTTP-GET t

[2020-01-17 17:43] rjeberhard commented on #1395
You could integrate your application with the server's ready framework: https://docs.oracle.com/middleware/12213/wls/DEPGD/managing.htm#DEPGD-GUID-C98443B1-D368-4CA4-A7A4-97B86FFD3C28

[2020-01-17 17:52] volkermauel commented on #1395
Didn't know about that, giving that a try now, thanks for your help!

[2020-01-31 15:10] arnabold opened #1412 "Customer issue: Application deployment on AWS failed"
Customer is trying to deploy a "real world" application on its pilot k8s environment on AWS. That application is correctly deployed on amazon ec2 environment, but not on the containerized environment. They had successfully deployed some test applications on the containerized environment (snoop, testwebapp, ...).

They want to understand

-  a) if they stumbled upon a BUG
-  b) which metrics/tuning

[2020-01-31 15:31] mriccell commented on #1412
I see the following exceptions in the logs

####<Jan 28, 2020 2:32:37,702 PM GMT> <Critical> <WebLogicServer> <dwslmsb-i1wslmsb1> <i1wslmsb1> <main> <<WLS Kernel>> <> <6dc7c604-1a77-4d5f-9e5b-bafebcc5dfe8-00000005> <1580221957702> <[severity-value: 4] [rid: 0] [partition-id: 0] [partition-name: DOMAIN] > <BEA-000386> <Server subsystem failed. Reason: A MultiException has 2 exceptions.  They are:
1

[2020-01-31 15:35] mriccell commented on #1412
I see another unrelated issue where the test connections on reserve in the Data Source "JDBC PoolCompac" is set to the wrong query Test "select count(*) from ABILITAZIONI_LMSB" set up for pool "JDBC PoolCompac" failed with exception: "java.sql.SQLSyntaxErrorException: ORA-00942: table or view does not exist
If there is a failure to connect to the database it will not be able to recover.  The Test

[2020-01-31 15:37] mriccell commented on #1412
Can you ask post the  nfs mount configuration?

It should be something like defaults,_netdev,sync

[2020-02-14 15:36] v-2vikc opened #1430 "operator fails to deploy pods with init container"
Error:

A security.properties file with the username and password needs to be supplied.
The file was not found in the properties directory /u01/oracle/properties

Weblogic kubernetes operator version: 2.2.1

POD deployment Yaml:

apiVersion: "weblogic.oracle/v4"
kind: Domain
metadata:
  name: domain1
  namespace: domain1-ns
  labels:
    weblogic.resourceVersion: domain-v2
    weblogic.domainUID:

[2020-02-14 18:20] TheFrogPad commented on #1430
Hi @v-2vikc  can you please describe more details of when the error you showed happens?

Can you also upload the `create-domain-inputs.yaml` used to run the domain home in image sample?

The username and password are usually supplied when creating the domain and I believe the sample scripts update or create the properties file that is used at domain creation time.

Also, you list Operator 2.2.1, h

[2020-02-14 20:10] TheFrogPad commented on #1430
Hi @v-2vikc so I just tried adding `initContainers` to a domain YAML file I had from an existing sample domain to the `adminServer` section and this worked fine:
[code]
after `kubectl apply` the updated domain.yaml file and the admin server started I could see the init container results:
[code]
So more details about when you see the error would help... Thanks!

[2020-02-17 03:04] atjapan2015 opened #1433 "weblogic admin server&managed server can NOT start on OKE after computer instances reboot"
Hi Experts,

We're using weblogic kubernetes operator v2.4.0 on oke to verify domain-on-pv for Japan users.
We had deployed sample-domain1 on OKE successfully, we stopped the compute instances(for saving money) at night, we started the compute instances next morning, but  weblogic admin server&managed server can NOT start.

We find error message using describe command, are trying to figure out whe

[2020-02-17 03:04] atjapan2015 commented on #1433
[kubectl_get_nodes_pods_logs.txt](https://github.com/oracle/weblogic-kubernetes-operator/files/4211640/kubectl_get_nodes_pods_logs.txt)
[kubectl_describe_logs_logs.txt](https://github.com/oracle/weblogic-kubernetes-operator/files/4211641/kubectl_describe_logs_logs.txt)

[2020-02-17 11:38] markxnelson commented on #1433
That error is a kubernetes problem, your overlay network is not working. It is not weblogic but the underlying infrastructure

[2020-02-17 11:40] markxnelson commented on #1433
Notice how all your pods, even the system ones, keep restarting

[2020-02-18 01:47] atjapan2015 commented on #1433
@markxnelson
Thanks for you quick response.
We're using OKE, not customized Kubernetes cluster,  so we did nothing to the original cluster.
We found below messages from slack, it seems in private network, it's using proxymux, so it takes a little time for flannel to create /run/flannel/subnet.env.
-----
So it looks like, post-reboot, /run/flannel/subnet.env isn't showing up as rapidly as we've see

[2020-02-18 02:19] atjapan2015 commented on #1433
We tried deploying an nginx image as a statefulsets, it cloud become running after compute instances restart. It's appreciated if weblogic kubernetes operator cloud do the same thing even there is any problem (?)with OKE.

[nginx_service.yaml.txt](https://github.com/oracle/weblogic-kubernetes-operator/files/4217019/nginx_service.yaml.txt)
[20200218_get_pods_after_restarts.txt](https://github.com/o

[2020-02-18 08:34] atjapan2015 commented on #1433
We've confirmed with OKE team, allow me to share the answer here,
1, We should not stop the compute nodes from OCI console as this could leave them in an unknown state as far as Kubernetes is concerned.
2, If this is something you want to do then you should do this by draining the nodes using kubectl and then scale the node pool to zero. This will ensure that Kubernetes is aware of the state of th

[2020-02-18 14:26] markxnelson commented on #1433
NO, if you do that you should not have any WebLogic problems

[2020-02-19 10:55] atjapan2015 commented on #1433
Told by one expert and share the method and test result here.
I changed spec.serverStartPolicy to "NEVER" before shutdown OKE work node, then started OKE work node, after that changed spec.serverStartPolicy to "IF_NEEDED".
admin-server and managed-server became "RUNNING" properly.
Best Regard!

[2020-02-19 10:55] #1433 closed

[2020-02-25 05:22] muhammadwasay opened #1447 "/usr/bin/env: ‘bash\r’: No such file or directory in sh scripts"
While following the quick start guide at
https://oracle.github.io/weblogic-kubernetes-operator/quickstart/
I faced the following errors when running bash script files.
/usr/bin/env: ‘bash\r’: No such file or directory in sh scripts
I am running ubuntu 18.0.4 os and i faced this issue in the folloing files
- weblogic-kubernetes-operator/kubernetes/samples/scripts/create-weblogic-domain-credentials/

[2020-02-26 10:04] israelgoracle opened #1451 "Helm error for kubernetes/charts/weblogic-operator"
Hi,
Since yesterday I have been experiencing problems trying to install, update or inspect the "kubernetes/charts/weblogic-operator":

$helm inspect values kubernetes/charts/weblogic-operator
Error: failed to download "kubernetes/charts/weblogic-operator" (hint: running `helm repo update` may help)

$helm --debug inspect values kubernetes/charts/weblogic-operator
Error: repo kubernetes not found

[2020-02-26 16:16] #1252 closed

[2020-02-26 17:02] #1451 closed

[2020-02-26 17:04] israelgoracle commented on #1451
From 2.4 to 2.5 version, to install the operator Helm chart from GitHub chart repository, repo is different: weblogic-operator/weblogic-operator

[2020-02-26 17:29] rjeberhard commented on #1451
I see that you closed this, but then your message suggests you are still having an issue.  We just tried this with both helm 2.14.3 and helm 3.0.3 and all was working.

[2020-02-26 17:30] #1177 closed

[2020-02-26 18:03] #1187 closed

[2020-02-26 18:03] #1084 closed

[2020-02-26 18:04] #995 closed

[2020-02-26 18:04] #1203 closed

[2020-02-26 18:05] #1395 closed

[2020-02-26 18:05] #1294 closed

[2020-02-26 18:07] #1108 closed

[2020-02-26 18:07] #1260 closed

[2020-02-26 18:08] #1269 closed

[2020-02-26 18:08] #864 closed

[2020-03-03 01:31] dborysenko opened #1457 "SSL Enabled: false"
Setting "SSL enabled: false" causing introspectDomain.py script to fail with NullPointerException.

my wdt model:
[code]

exception during introspect phase:
[code]

If you change SSL enabled to "true":
[code]
 introspect phase completes successfully.

[2020-03-03 15:12] vanajamukkara commented on #1457
Hi @dborysenko, can you please provide the steps you followed to create the domain? also what version of WebLogic Kubernetes Operator are you using?

[2020-03-03 22:23] dborysenko commented on #1457
Hi @vanajamukkara ,
Thanks a lot for your quick response.
Below you can find detailed steps to reproduce described issue. Please take a look and let me know if any step is confusing or not clear.

1. Install operator 2.5
2. Clone operator
git clone https://github.com/oracle/weblogic-kubernetes-operator.git

3. Prepare namespace resources
kubectl create namespace domain1
kubectl -n domain1 create s

[2020-03-04 16:10] vanajamukkara commented on #1457
Thanks for the detailed steps. We will try to reproduce the issue and get back to you.

[2020-03-09 10:46] mkratky opened #1462 "Missing DOMAIN_HOME directory '/u01/oracle/user_projects/domains/sample-domain1'"
Hi, I'm following the wls operator quick start but I'm struggling to setup wls domain using wls operator. I'm using wls operator on OCI OKE.
I have used domainHomeImageBase: container-registry.oracle.com/middleware/weblogic:12.2.1.3.

I ran the following commands:
kubectl apply -f out_dir/weblogic-domains/sample-domain1/domain.yaml
domain.weblogic.oracle/sample-domain1 created
kubectl get pods -n

[2020-03-09 14:50] tbarnes-us commented on #1457
The work-around for now is to avoid specifying the SSL clause in its entirety when it isn't needed (when SSLEnabled is false).

[2020-03-09 15:05] ddsharpe commented on #1457
@ dborysenko please confirm that when you leave the SSL section out of the WDT model that you no longer see the NPE.

[2020-03-09 18:19] dborysenko commented on #1457
@ddsharpe I do confirm. Basically the steps I've provided earlier confirm that as long as your wdt model does not have SSL section everything works. And it stops working if you put SSL section with  Enabled: false flag.

[2020-03-10 17:13] mkratky commented on #1462
SOLVED.  The image was cashed image on worker nodes. I used the imagePullPolicy Always to solve it.

[2020-03-26 22:17] kocic11 opened #1504 "Installing the operator fails with javax.net.ssl.SSLHandshakeException"
When following the Quick Start guide the install command fails with an error:
helm install kubernetes/charts/weblogic-operator \
  --name sample-weblogic-operator \
  --namespace sample-weblogic-operator-ns \
  --set image=oracle/weblogic-kubernetes-operator:2.5.0 \
  --set serviceAccount=sample-weblogic-operator-sa \
  --set "domainNamespaces={}" \
  --wait
The pod logs show the following error (

[2020-03-26 22:19] rjeberhard commented on #1504
We don't yet support Kubernetes 1.16 or above.

This is the bug against the JDK: https://bugs.openjdk.java.net/browse/JDK-8236039.

It's fixed in the upcoming maintenance release, JDK 11.0.7, which is planned to be available on April 14th.  As soon as that is available, we'll release a version of the operator based on that JDK.

[2020-03-27 13:03] kocic11 commented on #1504
Thanks.

[2020-03-27 13:03] #1504 closed

[2020-03-30 18:56] #1462 closed

[2020-03-30 20:07] marinakog commented on #1447
Hi @muhammadwasay  it looks like it fixed already, please confirm if you still see same issue

[2020-04-05 21:18] sp1d3rino opened #1539 "sysctl: error setting key 'vm.max_map_count': Read-only file system"
When I try to start elasticsearch-kibana only kibana pod is running and elasticsearch goes in Init Crash Loop Back-off.

I read the pod logs
`kubectl logs elasticsearch-7fc6f9b9bb-8ffgg --all-containers=true`
and this is the content
`sysctl: error setting key 'vm.max_map_count': Read-only file system
Error from server (BadRequest): container "elasticsearch" in pod "elasticsearch-7fc6f9b9bb-8ffgg"

[2020-04-06 17:03] marinakog commented on #1539
looks like elastic search related, did you try to resolve following this solution: https://github.com/spujadas/elk-docker/issues/99

[2020-04-06 17:10] hzhao-github commented on #1539
Hi sp1d3rino,

Can you please try to add the block below to your elk yaml file?

       spec:
      initContainers:
      - name: set-vm-max-map-count
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ['sysctl', '-w', 'vm.max_map_count=262144']
        securityContext:
          privileged: true
      containers:
      - name: "elasticsearch"
      .....

[2020-04-06 19:45] rjeberhard commented on #1539
@hzhao-github, I believe that @sp1d3rino needs to make these changes on the host machines.  This initContainer will make the change in that container and then exit without persisting the changes to host machine configuration.

[2020-04-07 16:31] hzhao-github commented on #1539
@rjeberhard sure, based on @sp1d3rino, either way should work

[2020-04-07 16:37] sp1d3rino commented on #1539
@hzhao-github  the code block is already present in the elk yaml.

[2020-04-07 16:41] hzhao-github commented on #1539
@sp1d3rino and it still not working?

[2020-04-07 16:42] hzhao-github commented on #1539
Have you tried the solution  Marina found, https://github.com/spujadas/elk-docker/issues/99?

[2020-04-07 16:51] sp1d3rino commented on #1539
@hzhao-github yes I just tried also to set vm.max_map_count=262144 on the hosting OS but it doen't work yet

[2020-04-07 17:09] hzhao-github commented on #1539
@sp1d3rino I didn't do it on machine, but from the config in the container, "command: ['sysctl', '-w', 'vm.max_map_count=262144']", try giving a write permission when setting it

[2020-04-07 17:13] sp1d3rino commented on #1539
@hzhao-github how to give write permission?
I needed to change this

[code]
setting to false because I get this
`Error creating: pods "elasticsearch-6f4d6b7b4c-" is forbidden: unable to validate against any security context constraint: [spec.initContainers[0].securityContext.privileged: Invalid value: true: Privileged containers are not allowed]`

[2020-04-07 17:20] hzhao-github commented on #1539
@sp1d3rino do you need to make changes on the host machines or in the container?

[2020-04-07 17:23] sp1d3rino commented on #1539
@hzhao-github In the container. but as I notice at the beginning of this thread this seems not possible due to read only file system error...

[2020-04-07 17:37] sp1d3rino commented on #1539
I solved.
1) from the host I ran
`sudo sysctl -w vm.max_map_count=262144`

2) from the elk yaml I removed this line
 `decommand: ['sysctl', '-w', 'vm.max_map_count=262144']`
  and I put privileged: false

deleted the elasticsearch deployment and applied one more time.

[2020-04-07 17:37] #1539 closed

[2020-04-07 21:45] sp1d3rino opened #1546 "Error preparing server: error opening listener: listen tcp :80: bind: permission denied"
I reached the traefik installation but it fails on helm command:

[code]

I get this error in the traefik-operator pod logs

`Error preparing server: error opening listener: listen tcp :80: bind: permission denied
`

any idea?

[2020-04-08 17:45] lennyphan commented on #1546
What version of Helm are you using?  Did you give helm cluster role permissions?

[2020-04-08 17:52] sp1d3rino commented on #1546
client/server both 2.9.0
no I didn't give helm cluster role perm
what do you suggest to do?

[2020-04-08 17:55] lennyphan commented on #1546
From the Quick Start guide, https://oracle.github.io/weblogic-kubernetes-operator/quickstart/install/:

$ cat <<EOF | kubectl apply -f -
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: helm-user-cluster-admin-role
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: default
  namespace:

[2020-04-08 18:12] sp1d3rino commented on #1546
no man

I just tried
[code]
but the error is still present. I found that this should solve because the 80 port is a privileged prod(less than 1024)

`setcap 'cap_net_bind_service=+ep' $(which traefik)`

but I don't know how to execute that command in the POD.

[2020-04-25 21:32] HenryXie1 opened #1594 "How to Add module in orginal config.xml when using Domain in image"
We follow the guidelines of https://oracle.github.io/weblogic-kubernetes-operator and use domain in image to create a Weblogic cluster. It was successful.

We need to add JDBC data resource to connect Database after that. According to the doc,

A MODULENAME must correspond to the MBean name of a system resource defined in your original config.xml file. It’s not possible to add a new module by usin

[2020-04-27 02:07] HenryXie1 opened #1597 "About Dockerfile from Hands on Lab Tutorial"
Thanks for the hands-on lab. It is very helpful.

https://github.com/oracle/weblogic-kubernetes-operator/tree/master/kubernetes/hands-on-lab

Can you share the Dockerfile of  "iad.ocir.io/weblogick8s/weblogic-operator-tutorial-store:1.0"?

It would be helpful that we can understand how we add artefacts.

Thank you

[2020-04-27 23:57] HenryXie1 commented on #1597
The related Dockerfile can be found on
https://github.com/nagypeter/weblogic-operator-tutorial/blob/master/Dockerfile.create

https://github.com/nagypeter/weblogic-operator-tutorial/tree/master/scripts

[2020-04-27 23:57] #1597 closed

[2020-04-28 00:01] HenryXie1 commented on #1594
To add a 'skeleton' module in domain in image, we can add to create them when we build docker images.

Please refer this Dockerfile
https://github.com/nagypeter/weblogic-operator-tutorial/blob/master/Dockerfile.create

model.py and datasource.properties from
https://github.com/nagypeter/weblogic-operator-tutorial/tree/master/scripts

[2020-04-28 00:01] #1594 closed

[2020-04-29 10:39] ashageetha opened #1610 "Scripts under create-rcu-schema does not support different namespace, DB sys and schema password and uses scott demo user"
Scripts under create-rcu-schema has below issues and will not work in some use-cases as listed below:
1)  Uses namespace “default” which may not work if the user does not have access to it and need to provide specific namespace.
2) "rcu.yaml" always uses imagePullSecret even if docker-secret is not passed.
3) Both sys and schema database password is hard coded to “Oradoc_db1” and does not give opt

[2020-05-05 01:59] anpanigr opened #1618 "ServerPod label is not updated after patching the domain resource"
Start an Operator (namespace weblogic-operator)  with Domain (namespace weblogic-domain)
Patch the domain CRD with the following kubectl command

$ kubectl patch domain domain1 -n weblogic-domain --type merge --patch --patch $(cat label.server.json)
domain.weblogic.oracle/domain1 patched
$ cat label.server.json
`{"spec":
  {"serverPod":
   { "labels":
     {
      "custom": "LABEL_SERVER"
    }

[2020-05-05 11:27] GerthH opened #1621 "Coherent naming convention for SOA and OSB clusters"
WKO uses in create-domain-inputs.yaml
-  a default static suffix "osb_cluster" when it creates the the OSB cluster
-  a changable suffix "soa_cluster" when it creates the the SOA cluster
if eg type soaessosb has been chosen.

See
# Cluster name
clusterName: soa-cluster

This should be replaced by eg
osbClusterName: osb_cluster
soaClusterName: soa_cluster
to let users be able to maintain a coherent

[2020-05-05 11:35] GerthH opened #1622 "Coherent naming convention for SOA and OSB managed servers"
WKO uses in create-domain-inputs.yaml

a default static managedServerNameBase "osb_server" when it creates the the OSB managed servers
a changable managedServerNameBase "soa_server" when it creates the the SOA managed servers
if eg type soaessosb has been chosen.
See

# Base string used to generate managed server names
managedServerNameBase: soa_server
# Port number for each managed server
managed

[2020-05-05 18:48] jshum2479 commented on #1621
I can only deduce you are requesting the ability to configure the osb and soa cluster name when the domainType is set to soaosb?

[2020-05-05 18:50] jshum2479 commented on #1622
Similar comment as 1621, you are asking options to configure the base server name for each cluster, when the domainType is set as soaosb?

[2020-05-05 19:23] GerthH commented on #1621
Yes, for any of the domain types:
soa: Deploys a SOA domain
osb: Deploys an OSB (Oracle Service Bus) domain
soaess: Deploys a SOA domain with Enterprise Scheduler (ESS)
soaosb: Deploys a domain with SOA and OSB
soaessosb: Deploys a domain with SOA, OSB, and ESS

Especially for soaosb and soaessosb since two clusters are created for these.

[2020-05-05 19:24] GerthH commented on #1622
Yes, for any of the domain types:
soa: Deploys a SOA domain
osb: Deploys an OSB (Oracle Service Bus) domain
soaess: Deploys a SOA domain with Enterprise Scheduler (ESS)
soaosb: Deploys a domain with SOA and OSB
soaessosb: Deploys a domain with SOA, OSB, and ESS

Especially for soaosb and soaessosb since two clusters, each with their on set of managed servers are created.

[2020-05-07 21:50] jshum2479 commented on #1618
This is fixed in the latest develop branch

[2020-05-07 21:55] tbarnes-us commented on #1457
Pull request with fix under review:  https://github.com/oracle/weblogic-kubernetes-operator/pull/1631

[2020-05-13 14:47] GerthH opened #1644 "Proposal to introduce an environment variable KUBECTL to support variants of kubectl clients."
I propose that an environment variable KUBECTL is introduce to support use of K8s variants like Canonical’s microk8s or Red hats Openshift in WKO and possibly others.

This would allow users to state the kubectl command that is used in their installation of a K8s variant in a manner similar to how *nix commands sudo and crontab allows users to use their favourite editor by setting the environment

[2020-05-16 03:05] ranajoy-paul opened #1654 "Oracle weblogic Kubernetes Operator failed to deploy in Pod and returns with openapi.ApiException: javax.net.ssl.SSLHandshakeException"
Was trying Oracle weblogic Kubernetes Operator for setting up Weblogic admin & managed server to run from Cloud following : https://oracle.github.io/weblogic-kubernetes-operator/quickstart/ in IBM cloud using Docker Desktop win windows 10 with kubernetes

The "traefik"application started and running in Remote IBM cloud using below command:
helm install traefik-operator stable/traefik --namespace t

[2020-05-16 10:44] rjeberhard commented on #1654
The 2.5.0 version of the operator doesn't support Kubernetes version 1.16+, because of a change in the SSL certificate extensions, as you noticed.

We have published a release candidate for operator version 3.0.0 that does support operator 1.16.  Replace "--set image=oracle/weblogic-kubernetes-operator:2.5.0" with "--set image=oracle/weblogic-kubernetes-operator:3.0.0-rc1".

[2020-05-17 10:18] ranajoy-paul commented on #1654
Thanks Ryan for quick response, I have updated to version 3.0.0 and completed weblogc operator deployment which is fine now. Then I followed remaining steps at :https://oracle.github.io/weblogic-kubernetes-operator/quickstart/create-domain/             The Domain script completed successfully as given below,
Command executed:
$ ./create-domain.sh -i create-domain-inputs.yaml -o /weblogicdomain -u

[2020-05-17 15:19] ranajoy-paul opened #1657 "Weblogic admin & managed severs are running from remote cloud Kube Pods but not ale to connect admin console URL from browser"
I was following https://oracle.github.io/weblogic-kubernetes-operator/quickstart/create-domain/ and all operator,traeffic & admin , managed server pods( as in past admin server failed aftr 1 day, so this time set only 1 managed server) are running fine now.
@rjeberhard
$ kubectl get pods -n sample-domain1-ns
NAME                             READY   STATUS    RESTARTS   AGE
sample-domain1-admin-ser

[2020-05-18 18:24] anpanigr commented on #1618
I verified the resolution in the develop branch.
First, patch the domain and then restart the domain.  Then I can see the label on each server pod

[2020-05-18 18:24] #1618 closed

[2020-05-19 17:22] ranajoy-paul commented on #1657
Thanks all, issue resolved as i needed to use my worked nodes public IP which opened the admin console. Thanks @mriccell & Team :-)

[2020-05-19 17:22] #1657 closed

[2020-05-19 17:22] ranajoy-paul commented on #1654
Thanks all, issue resolved as i needed to use my worked nodes public IP which opened the admin console. Thanks @mriccell & Team :-)

[2020-05-19 17:22] #1654 closed

[2020-05-20 15:19] tbarnes-us commented on #1109
Interesting idea.

See #operator slack thread https://oracle-weblogic.slack.com/archives/CE3M9DGSY/p1589297030185700 for where this has come up again.

Note that this naturally would also need a corresponding controlled _shutdown ordering_.

[2020-05-22 15:25] fabras78 opened #1673 "repository docker.io/my-domain1-image not found: does not exist or no pull access"
Hello,

I'm using minishift minishift v1.34.1+c2ff9cb

I stucked on this step
$ oc apply -f domain.yaml

in minishift events I found this error:

Failed to pull image "my-domain1-image:1.0": rpc error: code = Unknown desc = repository docker.io/my-domain1-image not found: does not exist or no pull access

but if I do
$ docker images | grep my-
my-domain1-image                      1.0

[2020-05-22 15:29] markxnelson commented on #1673
We do not support minishift. I think that it runs the cluster in a vm, and do you probably need to run some command to load the image into that vm, or copy it into the local minishift registry.

[2020-05-25 09:55] fabras78 commented on #1673
exactly!
with hyperV you have a VM with docker so you need to export on filesystem the image using sequence:
1) build image on local docker with quickBuild.sh
2) export the image with command:  docker -o my-domain1-image 1.0 my-domain
3) login on hyperV docker using docker login
4) docker -i my-domain my-domain1-image 1.0

[2020-05-25 10:20] fabras78 opened #1677 "Failed to create domain1"
Hello,

I stucked on this command:
$ oc apply -f domain.yaml

the operator watches for new domains and it starts to create the pod domain1-introspect-domain-job-2h86k

the pod quits after a couple of minutes without errors and the operator try to start it again

this is the full log on the this pod

@[2020-05-25T10:10:54.338 UTC][introspectDomain.sh:60][FINE] Introspecting the domain
@[2020-05-25T

[2020-05-25 14:53] ankedia commented on #1677
Can you please provide the operator logs and output of "kubectl describe pod" command for domain1-introspect-domain-job pod while job is running?

[2020-05-26 14:21] fabras78 commented on #1677
Hello ankedia
I'm using weblogic-operator 2.5.0 and this is the log of weblogic-operator container

thx

Launching Oracle WebLogic Server Kubernetes Operator...
Importing keystore /operator/internal-identity/temp/weblogic-operator.jks to /operator/internal-identity/temp/weblogic-operator.p12...
Entry for alias weblogic-operator-alias successfully imported.
Import command completed:  1 entries succ

[2020-05-26 15:06] ankedia commented on #1677
Thanks. I see below error from introspection job in logs. It seems introspection job is taking more time than job's default time out (120 seconds). You can increase the timeout for the introspection job by using configuration.introspectorJobActiveDeadlineSeconds in your domain resource to override the default. Please make sure that all domain dependencies have been deployed and use "kubectl descri

[2020-05-26 15:44] fabras78 commented on #1677
hi ankedia, can you give me an example where I can set configuration.introspectorJobActiveDeadlineSeconds to a higher value?

thx

[2020-05-26 16:40] ankedia commented on #1677
Can you first try to describe the introspector job/pod and see if it provides more information on job failure? Normally you shouldn't have to increase the timeout value unless it's specific domain type (JRF domain). Please see https://github.com/oracle/weblogic-kubernetes-operator/blob/release/3.0.0-rc1/kubernetes/samples/scripts/create-weblogic-domain/model-in-image/domain-resources/JRF/mii-initi

[2020-05-27 14:11] fabras78 opened #1680 "unable to install traefik"
Hello,
I'm using helm3 and to install traefik I'm using this command
helm install traefik traefik/traefik --values kubernetes/samples/charts/traefik/values.yaml       --set "kubernetes.namespaces={traefik,weblogic}"      --wait

But in OCP I the pod hangs on this error

Error creating: pods "traefik-5d8cccbc76-" is forbidden: unable to validate against any security context constraint: [fsGroup: In

[2020-05-27 14:59] vicicode opened #1681 "SetDomainEnv.sh"
Hi,
Thank you for preparing and sharing lab materials such as (https://bit.ly/weblogic_lab_steps).

fistful i try to learn Docker and Kubernetes

i followed steps and run the admin console but just i want to learn how to configure directory paths which i previously do this on SetDomainEnv.sh and directory of Weblogic

Thank in advance

[2020-05-27 15:42] fabras78 commented on #1680
I solved removing this configuration from deployment yaml

      securityContext:
        fsGroup: 65532

ok on the next deploy

[2020-06-01 17:53] inarayana opened #1697 "Weblogic-operator failled with 143 exit code(CrashLoopBackOff)"
osboxes@wlskmaster:~$ kubectl get all -n sample-weblogic-operator-ns
NAME                                     READY   STATUS             RESTARTS   AGE
pod/weblogic-operator-65cb65d6cc-9z5k5   0/1     CrashLoopBackOff   45         121m

NAME                                     TYPE        CLUSTER-IP     EXTERNAL-IP   PORT(S)    AGE
service/internal-weblogic-operator-svc   ClusterIP   10.102.120.4

[2020-06-01 17:54] inarayana commented on #1697
osboxes@wlsknode1:~$ docker ps|grep 68c85b452159
68c85b452159        69a7a5fc7fa8             "bash /operator/oper…"   4 minutes ago       Up About a minute                       k8s_weblogic-operator_weblogic-operator-65cb65d6cc-9z5k5_sample-weblogic-operator-ns_cfe4ebf4-e255-4f30-8780-fdf89190b1d5_43
osboxes@wlsknode1:~$ docker exec -it 68c85b452159  "bash"
bash-4.2$ df -h
Filesystem      Size

[2020-06-01 17:59] rjeberhard commented on #1697
The 2.5.0 version of the operator does not support Kubernetes 1.16. We have a 3.0.0 release candidate (3.0.0-rc1) that you may try.  Soon we will have both 2.6.0 and 3.0.0 releases that will support Kubernetes 1.16 and 1.17.

[2020-06-01 17:59] #1697 closed

[2020-06-01 18:03] inarayana commented on #1697
Thank you Ryan.

I am using this link "https://oracle.github.io/weblogic-kubernetes-operator/userguide/introduction/introduction/"

Operator prerequisites

For the current production release 2.5.0:

    Kubernetes 1.13.5+, 1.14.8+, and 1.15.7+ (check with kubectl version). Not supported on Kubernetes 1.16 or later; see note below. See note below for OpenShift.
    Flannel networking v0.9.1-amd64 o

[2020-06-01 18:06] rjeberhard commented on #1697
Are you on OpenShift? I should have asked.

We've seen 2.5.0 work on OpenShift because the certificates in that environment are different from regular Kubernetes; however, the issue you shared is exactly the stack from the underlying Java bug preventing us from earlier supporting Kubernetes 1.16.

Yes, I would ask you to please try the 3.0.0 release candidate.

[2020-06-01 18:08] inarayana commented on #1697
Thank you I will give a try. I am practicing in my own lab. Since I have to implement this soon in PKS.

[2020-06-02 15:59] doxiao commented on #1681
If you follow the instructions in the link that you mentioned, the WebLogic domain home should be created and included in the Docker image that is generated by the create-domain.sh script, and used by the Operator uses to start up  a server inside a Kubernetes pod.

You can get into the admin server pod by running the following command.
$ kubectl exec -it sample-domain1-admin-server -n sample-doma

[2020-06-03 14:17] vicicode commented on #1681
ツ Thanks

[2020-06-08 20:56] tbarnes-us commented on #1681
I'm closing because it looks like the re-open was inadvertent (it was done with no other comment than 'Thanks').  Please feel free to re-open if needed.

[2020-06-08 20:56] #1681 closed

[2020-06-08 20:59] tbarnes-us commented on #1673
Closing because it looks like the problem is resolved.  Feel free to re-open if this isn't true.

[2020-06-08 20:59] #1673 closed

[2020-06-09 22:28] xiancao opened #1718 "scalingAction.sh must be copied to $DOMAIN_HOME/bin/scripts on the admin pod"
When using a WLDF policy rule and script action to scale a cluster in the domain, we need to copy the scalingAction.sh script to $DOMAIN_HOME/bin/scripts. If copied to other location, it will not work.

According to the WLDF configuration doc:

Configuring Script Actions
You can use the script action to execute an external command line script, which can be written in any language.
To set the execu

[2020-06-09 23:28] tbarnes-us commented on #1718
Filed internal tracking JIRA OWLS-82374 to track.

[2020-06-24 01:26] dai0384448 opened #1761 "Release operator 2.6.0: create domain success, but POD error."
An error occurs when creating the admin server after domain creation.

After "create-domain.sh" is executed, the domain becomes "RUNNING".
However, the status of the created pod will be "Error".

Kubernetes Operator:
https://oracle.github.io/weblogic-kubernetes-operator/quickstart/prerequisites/

OS: CentOS Linux release 8.1.1911 (Core)
Docker Version: 19.03.8
K8S:Version: 1.18.2
Release operator

[2020-06-24 02:02] rjeberhard commented on #1761
For WebLogic 12.2.1.3, the WebLogic installation in your Docker image must have patch 29135930 applied. The pre-built image on the Oracle Container Registry already has this patch applied, but if you build the WebLogic image yourself then you must include this patch. Please see the documentation here: https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/domain-in-image/

[2020-06-26 07:10] sbattagi opened #1769 "Deployment's api version in 'oracle.db.yaml' should be changed to 'apps/v1' for K8S version 1.18.x"
Hi,

Creating a Database deployment using the file "weblogic-kubernetes-operator/kubernetes/samples/scripts/create-oracle-db-service/common/oracle.db.yaml" throws below error on K8S version 1.18.x.
ERROR:
error: unable to recognize "/scratch/sbattagi/workdir/weblogic-kubernetes-operator-2.6.0/kubernetes/samples/scripts/create-oracle-db-service/common/oracle.db.yaml": no matches for kind "Deploymen

[2020-06-26 07:24] sbattagi opened #1770 "Please review the copyright in 'domain-template.yaml'"
The copyright in 'weblogic-kubernetes-operator/kubernetes/samples/scripts/common/domain-template.yaml' file has the phrase 'All rights reserved.'.  Please review if this is correct ? I see this phrase is removed from other files earlier.

[2020-06-26 08:38] sbattagi commented on #1769
This issue is seen in operator 2.6.0 release branch.

[2020-06-26 08:38] sbattagi commented on #1770
This issue is seen in operator 2.6.0 release branch.

[2020-06-26 10:47] markxnelson commented on #1770
Thank you for reporting the issue.  Fixed now.

[2020-06-26 10:47] #1770 closed

[2020-07-13 21:25] edburns opened #1801 "Document using the Operator on Azure Kubernetes Service"

[2020-07-13 21:26] edburns commented on #1801
@markxnelson Please assign this to me.

[2020-07-13 21:47] edburns commented on #1801
![image](https://user-images.githubusercontent.com/75821/87356919-f784d080-c530-11ea-8adf-777759412b6c.png)

[2020-07-13 21:59] edburns commented on #1801
[code]

[2020-07-13 22:03] rjeberhard commented on #1801
Hi, Ed. Welcome!

[2020-07-13 22:04] edburns commented on #1801
@rjeberhard hello, happy to be here.  I will be smoothly applying the excellent work from my team at Microsoft, including @galiacheng.  The credit is all hers.

[2020-07-14 08:57] dai0384448 commented on #1761
Sorry for the late reply. It's settled. thank you

[2020-07-14 08:57] #1761 closed

[2020-07-15 07:15] dai0384448 opened #1809 "MOUNT PV ERROR, Logs show "Permission denied""
/data directory Has authorized oracle:oracle.

[root@k8s-1 uuu-domain]# ll /
total 28
drwxr-xr-x    3 root   root     25 May  9 14:56 apps
lrwxrwxrwx.   1 root   root      7 May 11  2019 bin -> usr/bin
dr-xr-xr-x.   6 root   root   4096 Apr 29 17:12 boot
drwxrwxrwx    4 oracle oracle   66 Jul 14 16:35 data
drwxr-xr-x   18 root   root   3320 May 11 13:59 dev

**The environment is as follows:**

OS:

[2020-07-15 13:41] russgold commented on #1809
According to the log, it is unable to create the /data directory. How are your PV and PVC defined?

[2020-07-15 14:32] dai0384448 commented on #1809
I don't have a definition, just a local directory specified in the script.Please advise how to define it, thank you!

[2020-07-15 15:45] russgold commented on #1809
https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/

[2020-07-22 07:33] dai0384448 commented on #1809
After using PVC, the WebLogic cluster can be deployed normally, but when the application is deployed, the directory corresponding to PVC is not selected and empty.

![图片](https://user-images.githubusercontent.com/47651287/88147876-64365400-cc30-11ea-9cbb-9d1a348e08ef.png)
[root@k8s-1 data]# kubectl get pv
NAME                  CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS        CLAIM

[2020-07-23 22:34] sy1968 opened #1833 "Weblogic-kubernetes-operator 3.0 : Hands on lab referencing Operator version 2.5"
Looks like labs still have references to 2.5. Need to updates for 3.0

[2020-07-29 15:27] tanmaygarg-oracle opened #1836 "Add new properties in the sample scripts to be used to create domain for Oracle Identity Governance"
We need the following properties to be added in the operator samples under  # extra entries for FMW Infra domains in common/utility.sh

frontEndHost
frontEndPort

code required to be added

sed -i -e "s:%FRONTEND_HOST%:${frontEndHost}:g" ${createJobOutput}
sed -i -e "s:%FRONTEND_PORT%:${frontEndPort}:g" ${createJobOutput}

[2020-08-10 03:39] galiacheng opened #1857 "Failed to deploy testwebapp"
Hello experts,

I created WebLogic domain on pv and got error while deploying testwebapp.
Below is information of steps:
The WebLogic Operator version: v3.0.0

I used script in `kubernetes\samples\scripts\create-weblogic-domain\domain-home-on-pv\create-domain.sh`, the domain was created successfully with the follow output:

[code]

and then I create load balancer with the configuration:

Load bala

[2020-08-10 07:00] galiacheng commented on #1857
I got the answer from @edburns, should use the image from Oracle Container Registry https://oracle.github.io/weblogic-kubernetes-operator/quickstart/get-images/.

[2020-08-10 08:08] galiacheng commented on #1857
The error still happens to `container-registry.oracle.com/middleware/weblogic:12.2.1.3`, reopen this issue.
[code]

[2020-08-10 13:16] jshum2479 commented on #1857
What is your base image based on,  we have seen similar issue when using the weblogic image from docker hub (which is out of date).  If you are, please switch to use the image from https://container-registry.oracle.com  (under middleware, you will need to sign in to the browser, select the image and accept license agreement first)

[2020-08-10 13:22] galiacheng commented on #1857
Hello @jshum2479  I got the same error running with images from https://container-registry.oracle.com/, my steps were:
1. open https://container-registry.oracle.com/, search "weblogic"
2. click "weblogic", sign in, and accept license agreement.
3. set image path `image="container-registry.oracle.com/middleware/weblogic:12.2.1.3"`

I am running the image on Azure Kubernetes Service.

[2020-08-10 15:02] jshum2479 commented on #1857
How do you change the image field?  Did you change it in the domain.yaml  and reapply the yaml or you just change the input.yaml?

[2020-08-10 15:04] jshum2479 commented on #1857
Do you have time for a zoom session?

[2020-08-11 01:18] galiacheng commented on #1857
I created a new AKS instance, cloned operator source code, changed `kubernetes\samples\scripts\create-soa-domain\domain-home-on-pv\create-domain-inputs.yaml`,  and ran `kubernetes\samples\scripts\create-soa-domain\domain-home-on-pv\create-domain.sh`.

I am glad to have a zoom session, thank you!
My working time is UTC+8, I am available now, please let me know when you are available.

[2020-08-13 18:49] jshum2479 commented on #1857
Hi @galiacheng ,

Are you able to make further progress in this issue or is it still an issue?

I think the main difference between my environment and your environment is the PV, other than I use a specific resource group

1.  I added the persistentVolumeReclaimPolicy:  Retain
2.  Removed the mountOptions
3.  I pointed the right testwebapp.war to use, but you can compare the md5sum between the one

[2020-08-14 12:13] PieperCH opened #1868 "Error creating: pods "domain1-introspect-domain-job-" is forbidden: unable to validate against any pod security policy: []"
Hi all,

I've a issue creating a new domain following the sample scripts: https://github.com/oracle/weblogic-kubernetes-operator/tree/master/kubernetes/samples/scripts/create-weblogic-domain/domain-home-in-image

Operator is running fine:
$ helm get values weblogic-operator
USER-SUPPLIED VALUES:
dedicated: false
domainNamespaces:
- myname-wls
elasticSearchHost: elasticsearch.default.svc.cluster.lo

[2020-08-14 12:53] rjeberhard commented on #1868
Hi Christian,

It seems like your Kubernetes cluster has pod security policies: https://kubernetes.io/docs/concepts/policy/pod-security-policy/

Either the service account that you've selected for the WebLogic pods (including our "introspector" job) to use does not have permission to use the available pod security policies or the pods the operator is creating don't match the expectations of those

[2020-08-14 13:57] #318 closed

[2020-08-14 13:57] #1833 closed

[2020-08-14 13:58] rjeberhard commented on #1769
Fixed in 3.0.

[2020-08-14 13:58] #1769 closed

[2020-08-14 13:58] #1680 closed

[2020-08-14 13:59] #1430 closed

[2020-08-14 13:59] #1303 closed

[2020-08-14 14:00] #1139 closed

[2020-08-14 14:00] #1076 closed

[2020-08-14 14:00] #1070 closed

[2020-08-14 14:01] #1056 closed

[2020-08-14 14:01] #1158 closed

[2020-08-14 14:01] #880 closed

[2020-08-14 14:02] #530 closed

[2020-08-14 14:02] #357 closed

[2020-08-14 14:03] #70 closed

[2020-08-14 14:03] #1677 closed

[2020-08-14 14:38] tbarnes-us commented on #1868
The discussion continues in the slack weblogic#operato thread https://oracle-weblogic.slack.com/archives/CE3M9DGSY/p1597406265002300

[2020-08-15 20:31] edburns commented on #1801
@rjeberhard @jshum2479 @mriccell Here is another revision of this PR.  Thanks for your help.  https://github.com/oracle/weblogic-kubernetes-operator/pull/1873

[2020-08-17 04:35] galiacheng commented on #1857
This issue is solved by applying pv/pvc config from @jshum2479

[code]

[2020-08-17 04:35] #1857 closed

[2020-08-31 06:22] SMConsultants commented on #1232
Thanks a lot for sharing a great blog I was just browsing through the internet looking for some information and came across your blog. I am impressed by the information that you have on this blog. It shows how well you understand this subject. Bookmarked this page, will come back for more keep going on it helped me a lot I have gained a lot of knowledge by reading your blog.

[Oracle SOA Training]

[2020-09-03 20:46] rishiagarwal-oracle opened #1901 "The value of USER_MEM_ARGS in domain-template.yaml is not configurable through an inputs yaml file"
The value of USER_MEM_ARGS in domain-template.yaml is not configurable through an inputs yaml file.

The value is hardcoded as: "-Djava.security.egd=file:/dev/./urandom -Xms256m -Xmx512m " in domain-template.yaml
Also the value is hardcoded as : "-Djava.security.egd=file:/dev/./urandom -Xms256m -Xmx1024m " in jrf-domain-template.yaml

Like any other key in the template files, the value of USER_MEM

[2020-09-03 20:47] rishiagarwal-oracle commented on #1901
@rjeberhard @ankedia filed this issue as per our discussion

[2020-09-09 14:13] GerthH opened #1908 "WKO 3.0.1 Users Guide Initial use case Model in image example fails with error: unable to convert uid/gid chown string to host mapping: cant find gid for group oracle: no such group: oracle"
In the sample code for initial use case model in image we have:
$ cd /tmp/mii-sample/model-images
$ ./imagetool/bin/imagetool.sh update \
  --tag model-in-image:WLS-v1 \
  --fromImage container-registry.oracle.com/middleware/weblogic:12.2.1.4 \
...
This fails at
Step 6/24 : COPY --chown=oracle:oracle weblogic-deploy.zip /tmp/imagetool/
[SEVERE ] Response code: -1, message: docker command failed wi

[2020-09-09 16:42] mriccell commented on #1908
We did push new images where the owner changed to oracle:root to meet a requirement.  We are in the process of making changes to the MII sample to indicate that you must add --chown oracle:root to the imagetool.sh command.  In the future we will make a change to the WebLogic Image Tool so that the chown command is not necessary.
Thanks
Monica

[2020-09-14 06:51] galiacheng opened #1915 "Duplicate Name of the Kubernetes Secret in document"
There are two docker secret names in this doc: https://oracle.github.io/weblogic-kubernetes-operator/samples/simple/domains/domain-home-on-pv/
`imagePullSecretName`
`weblogicImagePullSecretName`

I didn't find a reference to `weblogicImagePullSecretName` in scripts.

[2020-09-14 19:58] tbarnes-us commented on #1915
Thanks Galia!

There's a pending fix in [pull 1920](https://github.com/oracle/weblogic-kubernetes-operator/pull/1920)

[2020-09-15 09:28] GerthH opened #1922 "Failed scaling request cause duplicate entries of result in scalingAction.log"
Please see weblogic-kubernetes-operator-master/src/scripts/scaling/scalingAction.sh
...
if [ $? -ne 0 ]
then
  echo "Failed scaling request to WebLogic Operator" >> scalingAction.log
  echo $result >> scalingAction.log
  exit 1
fi
echo $result >> scalingAction.log

[2020-09-16 09:42] GerthH commented on #1922
Missed: exit 1

[2020-09-16 09:42] #1922 closed

[2020-09-17 18:55] tbarnes-us commented on #1908
@mriccell I think this issue is addressed in 3.0.2? If so, can you close it out?

[2020-09-17 18:56] tbarnes-us commented on #1915
The documentation has been fixed. Thanks for letting us know!

[2020-09-17 18:56] #1915 closed

[2020-09-30 11:33] streethawkz opened #1960 "Error: parse error at (weblogic-operator/templates/_operator-secret.tpl:12): function "lookup" not defined"
git clone https://github.com/oracle/weblogic-kubernetes-operator.git

and then if try to install wls-operator using helm :

@cloudshell:weblogic-kubernetes-operator (ap-hyderabad-1)$ helm install sample-weblogic-operator \

I get this error error :

Error: parse error at (weblogic-operator/templates/_operator-secret.tpl:12): function "lookup" not defined

--

If clone older version :

git clone ht

[2020-09-30 11:45] streethawkz commented on #1960
I see this issue on version 3.0.2 and 3.0.1.

But it works fine on version 3.0.0 :

git clone https://github.com/oracle/weblogic-kubernetes-operator.git -b v3.0.0
Cloning into 'weblogic-kubernetes-operator'...
remote: Enumerating objects: 943, done.
remote: Counting objects: 100% (943/943), done.
remote: Compressing objects: 100% (548/548), done.
remote: Total 164455 (delta 406), reused 633 (delta

[2020-09-30 13:04] rjeberhard commented on #1960
In order to fix an issue in the Helm chart, we had to use a feature introduced in Helm 3.1. I will ask the Cloud Shell team when they will update the default Helm version.

[2020-10-01 20:08] dborysenko opened #1966 "Oracle Enterprise Manager Cloud Control"
Hello Team,
Thanks for awesome job you doing here with weblogic operator.
We are working on adopting this technology in our environment. Even though you've provided a lot of monitoring possibilities like Elasticsearch, Prometheus, but we'd like to preserve our OEM Cloud Control 13c monitoring system as well. In other words are weblogic operator deployed domains supported by Cloud Control? If so wo

[2020-10-05 14:02] #1908 closed

[2020-10-06 02:32] watsh-rajneesh opened #1970 "Adminserver pod fails to start up if dataHome is set in domain CR and OKE cluster node pool is scaled up/down"
After scaling up (changing shape) for the OKE cluster node pool we are seeing the below error during startup of admin server pod.

[code]

The file _WLS_WRRCU1-ADMINSERVER000000.DAT is on the shared NFS filesystem under /u01/shared/data/store/wrrcu1domain directory.

In domain.yaml we set the dataHome for the domain as:

[code]

A workaround we have currently is:

1. Edit domain.yaml and comment o

[2020-10-13 18:55] csegedicsaba opened #1987 "NullPointerException in operator when admin server http listening is disabled"
Disabling admin server http port cause NullPointerException in operator. The admin server starts but the operator can't check the state.

`domainInfo:
  AdminUserName: '@@SECRET:__weblogic-credentials__:username@@'
  AdminPassword: '@@SECRET:__weblogic-credentials__:password@@'

topology:
  Name: 'test-domain'
  AdminServerName: 'admin-server'
  ProductionModeEnabled: 'false'

  Cluster:
    'test

[2020-10-13 19:16] tbarnes-us commented on #1987
I think https://github.com/oracle/weblogic-kubernetes-operator/pull/1902 would fix this, but I don't think this is included in 3.0.2.

@qvdang Can you confirm?

[2020-10-13 20:07] qvdang commented on #1987
I ran into similar NPE recently and I believe #1902 would resolve it.

[2020-10-13 20:14] csegedicsaba commented on #1987
Thanks for quick reply!

How can I install the operator from develop branch?
What is the next release date?

[2020-10-14 14:20] qvdang commented on #1987
I don't know when is the next release but you can build it yourself.  It's straightforward:
https://oracle.github.io/weblogic-kubernetes-operator/developerguide/building/

[2020-10-14 19:25] csegedicsaba opened #1991 "includeServerOutInPodLog implementation"
includeServerOutInPodLog is implemented as **tail**ing the file specified in -Dweblogic.Stdout server startup parameter.
Can this be implemented without starting the server with -Dweblogic.Stdout parameter? (no *.out file will be created)

Overriding the -Dweblogic.Stdout with /proc/1/fd/1 (=stdout) (specifying in USER_MEM_ARGS overrides the value generated by nodemanager) works on CRI-O container

[2020-10-14 20:55] tbarnes-us commented on #1991
Why is this helpful?

(Side note: the operator defaults USER_MEM_ARGS to `-Djava.security.egd=file:/dev/./urandom`, which can significantly speedup boot time on systems with low entropy.)

WebLogic stdout can be configured to be more verbose via configuration or system properties.  For example pass `-Dweblogic.log.StdoutSeverity=Debug` in JAVA_OPTIONS .  I recall that there's also an additional op

[2020-10-14 21:09] tbarnes-us commented on #1991
Another side note:  I've been told that verbose pod logs can sometimes be problematic. They take up disk space on the nodes, and so additional "manual" steps at the k8s machine level outside of k8s itself may be needed to keep the files trimmed...

[2020-10-26 16:26] csegedicsaba opened #2010 "adminService annotations and labels not working"
**adminService** annotation and label are not present on the created service for admin server.

    adminServer:
      serverStartState: "RUNNING"
      adminService:
        annotations:
          test: test
        labels:
          test: test

kubectl describe service test-domain-admin-server:

    Name:              test-domain-admin-server
    Namespace:         default
    Labels:

[2020-10-26 16:37] csegedicsaba commented on #1991
Our original concept was redirecting application logs to stdout too. In this case the server's .out log would be quite big because no rotation can be configured on it. Redirecting stdout direct to container out (without writing the server's .out log and tailing it) would solve this problem.
It is not CRI-O issue only.

Finally we decide to use fluentd as side container for pushing all logs (server

[2020-10-26 16:37] #1991 closed

[2020-10-26 17:45] tbarnes-us commented on #1991
Sounds like a good solution to me - thanks for closing out the issue.

FYI, about:

This isn't true.  See [https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/#log-files](https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/#log-files) for background.

But note that the minimum amount of time between rotations can be something like a few min

[2020-10-28 17:51] mriccell commented on #1970
A workaround to this problem if the stores are placed in the Database.

[2020-11-03 16:11] y-tee commented on #1539
I am on macOS and i cant do `sudo sysctl -w vm.max_map_count=262144`,
even the solution on docker on mac [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#docker-cli-run-prod-mode) is not working for me (says tty file not found)
I am running on docker engine v19.03.13 and Catalina 10.15.7 if anyone could help

[2020-11-20 13:40] rikumabokss opened #2063 "Error While runing create-domain.sh"
Hi
Getting following Error:

[2020-11-20 13:40] rikumabokss commented on #2063
[vagrant@master1 domain-home-in-image]$ ./create-domain.sh -i my-inputs.yaml -o /tmp/t -u weblogic -p welcome1 -e -k
Input parameters being used
export version="create-weblogic-sample-domain-inputs-v1"
export sslEnabled="false"
export adminPort="7001"
export adminServerSSLPort="7002"
export adminServerName="admin-server"
export domainUID="sample-domain1"
export serverStartPolicy="IF_NEEDED"
export

[2020-11-23 19:15] csegedicsaba opened #2069 "Readiness probe issue if deployment failed to start"
We use readiness probe with ReadyApp as mentioned in #1395.
If our deployment failed to start the ReadyApp framework bypass the deployment and the pod became ready.

It would be great to use custom readiness probe or ability to use StartupProbe for this issue.
Or is there any solution to handle this case?

[2020-11-25 16:37] anpanigr commented on #2069
A successful application deployment is the minimum requirement for the ReadyApp framework to work.  As of now there is no plugin for custom readiness probe in WebLogic Kubernates Operator.

[2020-11-27 02:55] wenjian80 opened #2076 "domain.yaml generated by create-domain.sh has a duplicated serverService tag."
Any reason why i am hitting the below error? The domain yaml was generated by create-domain.sh under weblogic-kubernetes-operator/kubernetes/samples/scripts/create-soa-domain/domain-home-on-pv.Am using operator 3.0.1.

root@soak8master soainfra]# kubectl apply -f domain.yaml
error: error validating "domain.yaml": error validating data: [ValidationError(Domain.spec.clusters[0].serverService): unkno

[2020-12-02 13:59] Vinaum8 commented on #1539
Thanks for help!

[2020-12-08 06:29] Uday-Knetworks commented on #1539
"max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144]" am facing this issue in windows 10 ,
is that elassandra is working in windows 10 perfectly ??????

[2020-12-17 18:16] pasimoes opened #2110 "Documentation : Warning about SOA be only supported for non-production use in Kubernetes"
After the [public announcement](https://blogs.oracle.com/integration/announcing-oracle-soa-suite-on-containers-kubernetes-for-production-workloads) about the general availability of Oracle SOA Suite on Containers and Kubernetes for Production environments. IMO the [warning message](https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-fmw-domains/soa-suite/) (box) can be removed

[2020-12-22 07:24] pradeepakiwate opened #2116 "Managed server not connecting to Admin in a weblogic container"
Hi All,
I have created a weblogic container with a domain and admin server using the Oracle registry image and the below command

docker run -d -p 7001:7001 -p 9002:9002 --name WLS_CONTAINER -v $PWD:/u01/oracle/properties container-registry.oracle.com/middleware/weblogic:12.2.1.4-dev

My container is up and running. I am able to access the admin console via 9002 port (https).

After creating a nod

[2020-12-22 14:54] mriccell commented on #2116
Are you using the WebLogic Operator?

[2020-12-24 10:48] Denesh11 commented on #1447
Please help me I was facing this same error while setup the flutter in lower compatible version

[2021-01-30 02:44] joaqquin89 opened #2172 "problems when i try to connecting in the admin server"
Hi everybody

I have a big problem when i try to use weblogic operator , because i did the tutorial(this tutorial https://oracle.github.io/weblogic-kubernetes-operator/samples/simple/domains/domain-home-in-image/ ) step by step  , but when i try to access to the admin console, i have an authentication denied error (below i show the photo)

![image](https://user-images.githubusercontent.com/1673505

[2021-01-30 19:42] joaqquin89 commented on #2172
PD: i'm using Weblogic operator 3.0

[2021-02-01 10:08] mjagyo opened #2173 "Invalid Domain Name"
I dont know if this is a newbie question but I could not understand the issue here, I tried removing the hyphens (-), but still doesnt work is this really the issue or I am missing something here.

[code]
Here is the domain.properties file sample content:
[code]

Thanks for the help!

[2021-02-01 13:17] markxnelson commented on #2173
That domain name looks fine.  Could you please share a little more detail?  Are you creating the domain with WDT?

[2021-02-01 17:52] marinakog commented on #2172
It looks like you have login info in Spanish on website ,could you please switch to English and use your credentials ?

[2021-02-01 18:56] joaqquin89 commented on #2172
@marinakog  ,the problem is the HTTPS , because i defined an ingress controller (using nginx ) , but today i left the ssl annotations( using http way  ) in my ingress and i could using the console ... maybe the enforce ssl cause the problem.

then ... why activate the ssl cause problems ?

[2021-02-01 19:51] marinakog commented on #2172
just to verify when you could not connect to console using your credentials you used this url  -https://${HOSTNAME}:${SSLPORT}/console , is it correct?

[2021-02-01 20:18] joaqquin89 commented on #2172
@marinakog  , yes i'm trying to connecting  to https://name-dns/console .., because i'm using nginx ingress controller .

[2021-02-01 21:05] marinakog commented on #2172
is it possible to share your ingress deployment yaml ? also have you tried to access console via curl?

[2021-02-01 21:08] joaqquin89 commented on #2172
sure , let me share you the deployment domain.yaml and the ingress.yaml

[2021-02-01 21:44] joaqquin89 commented on #2172
`# Copyright (c) 2017, 2020, Oracle Corporation and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
#
# This is an example of how to define a Domain resource.
#
apiVersion: "weblogic.oracle/v8"
kind: Domain
metadata:
  name: sample
  namespace: domain1
  labels:
    weblogic.domainUID: sample
spec:
  # The WebLogic Domain

[2021-02-01 21:57] joaqquin89 commented on #2172
`apiVersion: "weblogic.oracle/v8"
kind: Domain
metadata:
  name: sample
  namespace: domain1
  labels:
    weblogic.domainUID: sample
spec:
  domainHome: /u01/oracle/user_projects/domains/sample
  domainHomeSourceType: Image

  image: "iad.ocir.io/falabellaoraclecloud/weblogick8s:2.0.0"

  imagePullPolicy: "IfNotPresent"

  imagePullSecrets:
  - name: oci-registry

  webLogicCredentialsSecret:

[2021-02-02 03:31] mjagyo commented on #2173
@markxnelson I have been deploying this on an aws instance and currently trying to deploy this on a ec2 instance.

And YES I am deploying using weblogic-deploy-tool, I am also using weblogic-operator version 3.1.1.

[2021-02-02 03:44] marinakog commented on #2172
thank you @joaqquin89 , but you also mentioned the issue happened with ssl, what configuration/steps had you performed for that?

[2021-02-02 05:41] mjagyo commented on #2173
Closing this one, filed the issue on WDT Repository: https://github.com/oracle/weblogic-deploy-tooling/issues/830

[2021-02-02 05:41] #2173 closed

[2021-02-02 14:12] joaqquin89 commented on #2172
@marinakog  , yes the problem occur always when i enable the ssl ... in other hand i tried to enable the ssl using the nexts annotations:

    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"

and the result was the same , but when i put both annotations in false , i could use the console

![image](https://user-images.githubusercontent.co

[2021-02-02 19:29] joaqquin89 commented on #2172
@marinakog  , the information attached by my is usefull ??

[2021-02-03 19:25] marinakog commented on #2172
Hi @joaqquin89 unfortunately can't reproduce your problem, since it is basic auth error, some info should be posted in the admin server log. it feels like some config/env mismatch.

[2021-02-03 21:58] joaqquin89 commented on #2172
hi @marinakog  , thanks for your response... maybe the mismatch is in some config(but i think that i need annotations in the ingress controller ) ... in other hands i will try to use traefik , because the examples are using traefik ...

thanks for you help

[2021-02-11 07:14] abinashkd opened #2190 "Readiness probe failed for both Admin and MS"
Upon the deployment of domain, both admin and ms server readiness probe are failing.
The domain is active but the readiness probe never recovers, thus it is difficult to integrate with Istio.

Warning  Unhealthy  27s (x4 over 42s)  kubelet, 10.215.101.2  Readiness probe failed: Get http://172.30.68.114:8001/weblogic/ready: dial tcp 172.30.68.114:8001: connect: connection refused

 Warning  Unhealt

[2021-02-11 17:24] lennyphan commented on #2190
Can you take a look at the logs of the pods (admin server and managed servers) to see if the WLS servers have reached RUNNING state.  Would like to see the state of the servers.

[2021-02-11 17:34] jshum2479 commented on #2190
@abinashkd  What version of istio are you using?  istio 1.6.x is broken with headless service and will never work with WKO.

[2021-02-12 06:01] abinashkd commented on #2190
It was an configuration issue with istio readiness port, which is default to 8888, but I have configured it for 7001. Now pointing to 8888 got it working. Thanks @lennyphan @jshum2479

[2021-02-12 06:01] #2190 closed

[2021-02-12 10:38] aitorkime opened #2194 "Error when creating a domain by domain-home-in-image.Error: DOMAIN_HOME directory not found"
Hi all,
I following this steps to create a Weblogic domain by conatiner image. url:https://oracle.github.io/weblogic-kubernetes-operator/quickstart/

When i run the step to create de domain , with the script

./create-domain.sh -i my-inputs.yaml -o /root/weblogic -u user -p password -e

The pod could create , but had this error:
[root@k8master ~]# kubectl describe domain sample-domain1 -n sample-d

[2021-02-12 17:51] alai8 commented on #2194
Can you try changing `imagePullPolicy` from `NEVER` to `ALWAYS` and see if that helps?

[2021-02-12 20:27] aitorkime commented on #2194
Hi ,

I try to run changed the paremeter in the my-inputs.yaml file , but the result is other error type:
[root@k8master domain-home-in-image]# kubectl describe domain sample-domain1 -n sample-domain1-ns
Name:         sample-domain1
Namespace:    sample-domain1-ns
Labels:       weblogic.domainUID=sample-domain1
Annotations:  <none>
API Version:  weblogic.oracle/v8
Kind:         Domain
Metadata:

[2021-02-12 20:38] aitorkime commented on #2194
Then i try to check if i can pull the image. I can do succesfully:
[root@k8worker1 ~]# docker rmi 0ea2cd3b676e
Untagged: container-registry.oracle.com/middleware/weblogic:12.2.1.4
Untagged: container-registry.oracle.com/middleware/weblogic@sha256:41b313ec2e4df25090dbebf158c0da31c39451b133b45327b6adc47f6aef095a
Deleted: sha256:0ea2cd3b676ea145efca44d135ccad41008bda1298963f2b9e2357f474a708cc
Deleted

[2021-02-12 20:56] lennyphan commented on #2194
@aitorkime on the root node, does the domain-home-in-image:12.2.1.4 exist in the docker repository?  If so, you need to save, copy and then load  'domain-home-in-image:12.2.1.4' to the docker repository on the worker node.  Alternatively, push the image to a registry that all nodes in the k8s cluster can access.

[2021-02-15 15:07] aitorkime commented on #2194
@lennyphan thank you!! I copy the domain-home-in-image:12.2.1.4 in all workers and the installataion create the admin server , and the other server managed.

[2021-02-15 15:07] #2194 closed

[2021-02-18 13:19] textanalyticsman opened #2202 "Question"
There are some business cases where we are not allowed to move into containers. For example, BPM is not certified on containers, companies that do not want to use containers, etc. Thus, would not it be good to have some of these functionalities for domains running on virtual or physical machines? Executing tasks such as start servers, restart servers, stop servers, etc. on hundreds of domains are

[2021-02-18 15:12] mriccell commented on #2202
Kubernetes infrastructure, APIs, objects, services etc allows us to offer this functionality and offer high availability out of the box.
WebLogic has functionality such as Node Managers, ZDT for updates, for monitoring you can use OEM etc.  that offers some of these capabilities.
The WebLogic Kubernetes Operator is specific to Kubernetes, the operator  is a controller that invokes K8s APIs, RBAC p

[2021-02-18 22:10] alexis-rodriguez-21 opened #2207 "DOMAIN_HOME directory not found '/u01/oracle/user_projects/domains/sample-domain1'"
Hi,
I am following "Quick Start" in the documentation https://oracle.github.io/weblogic-kubernetes-operator/quickstart/
All the steps till "Prepare for a Domain" works fine.
During "Create a Domain", I am getting error. When I see "sample-domain1-ns", the pod sample-domain1-introspect-domain-job-xxxx showing status as "Terminated: Error"
In the logs, I find following line at the end:
Error: missin

[2021-02-19 16:31] joaqquin89 opened #2209 "problems with the service account"
Hi everybody ,

i have problems in my oke cluster deploying weblogic operator ... i'm using the oficial documentation to install weblogic operator and create an weblogic domain , the problem appear when i tried to start an weblogic domain ... because i could to start and weblogic cluster (admin server and managed servers) ... i applied the domain.yaml file but the operator didin't create the weblo

[2021-02-19 17:06] bhavaniravichandran commented on #2209
What namespace is the domain running on?
Do you see any errors in kubectl get events -n <domain-namespace>?
Also want to see the output of kubectl describe cm weblogic-operator-cm -n <weblogic-operator-namespace>

[2021-02-19 17:47] bhavaniravichandran commented on #2207
Can you please add a few more lines from the logs or attach the log? Did you see any other error message when you ran create-domain.sh?

[2021-02-19 17:52] alexis-rodriguez-21 commented on #2207
of Course, these are the domain logs
![image](https://user-images.githubusercontent.com/78376955/108541913-ab5cf400-72a8-11eb-9591-13edfaf33482.png)

[2021-02-19 17:58] alexis-rodriguez-21 commented on #2207
I do not see any other error in the creation logs, I also attach everything that throws me.
[logs-create-domain.txt](https://github.com/oracle/weblogic-kubernetes-operator/files/6011975/logs-create-domain.txt)

[2021-02-19 18:00] bhavaniravichandran commented on #2207
The log doesn't have much information. Are you running this in a linux box or in a cloud environment?

[2021-02-19 18:02] alexis-rodriguez-21 commented on #2207
In Google Cloud Platform

[2021-02-19 18:08] bhavaniravichandran commented on #2207
If you are running this in a cloud, then you have to create the domain image first, push the image to a registry  and then create the domain.
create-domain.sh -i "your-inputs.yaml" -o "dir where domain.yaml will be created" -u "weblogic username" -p "weblogic-password"  - This command will create the domain image for you. You then have to push the image to an external registry and then when you "k

[2021-02-19 18:12] joaqquin89 commented on #2209
@bhavaniravichandran  i create 2 domains called "domain1" and  "domain2" in the domain1 i can create a weblogic domain  and those servers works fine ... but in the domain 2 i have the next problem:

![image](https://user-images.githubusercontent.com/16735054/108543744-3ac3d080-72c4-11eb-86fe-af66f1f8191c.png)

the output  in the describe is :

joaquinjachurachavez@MacBook-Pro sample % kubectl desc

[2021-02-19 18:41] alexis-rodriguez-21 commented on #2207
This is the process I did
#docker run -d -p 5000: 5000 --name registry registry: 2
#docker pull container-registry.oracle.com/middleware/weblogic:12.2.1.4
#docker image tag container-registry.oracle.com/middleware/weblogic:12.2.1.4 localhost: 5000 / myfirstimage
#docker push localhost: 5000 / myfirstimage
#docker pull localhost: 5000 / myfirstimage
#. / create-domain.sh -i create-domain-inputs.yam

[2021-02-19 18:49] alexis-rodriguez-21 commented on #2207
this is the previous error
Message: rpc error: code = Unknown desc = Error response from daemon: Get http: // localhost: 5000 / v2 /: dial tcp [:: 1]: 5000: connect: connection refused
Reason: ErrImagePull

[2021-02-19 18:57] bhavaniravichandran commented on #2207
The image (myfirstimage) you pushed to the registry is the weblogic image. When you run create-domain.sh without the -e option, it will create an image with the domain in  it. But I see the problem with your input-yaml. The following line in your input yaml needs to be fixed -
image: container-registry.oracle.com/middleware/weblogic:12.2.1.4
You should give an image name for your domain here -exam

[2021-02-19 19:01] bhavaniravichandran commented on #2209
Which model are you running - domain-in-image, domain-on-pv or model-in-image?

[2021-02-19 19:59] bhavaniravichandran commented on #2209
Also, if you run "kubectl describe domain sample -n domain2" you might see error message in the status section

[2021-02-19 20:50] joaqquin89 commented on #2209
i think that i solve this problem .. i enabled the next option :

![image](https://user-images.githubusercontent.com/16735054/108559401-0e1ab380-72da-11eb-88eb-98631cbbaf63.png)

and i can see the wl infra in the namespaces (everything is ok) , but i have another doubt ... when i deploy the same domain.yml in another namespace (changing the domain name and  namespace ) in wl operator appears the n

[2021-02-19 22:01] bhavaniravichandran commented on #2209
Can you please tell me what model your are running. I want to test what you are tryign to do first. Are you using domain in image model?

[2021-02-19 22:04] bhavaniravichandran commented on #2209
You must have to create the weblogic domain first with that domain name.

[2021-02-21 00:55] joaqquin89 commented on #2209
@bhavaniravichandran , i am using the domain in image

[2021-02-22 03:10] bhavaniravichandran commented on #2209
You have to first create weblogic domain first. so, you have to update the create-domian-inputs.yaml int he samples first and run create-domain.sh. This will create an image with weblogic domain named domain2 and then create pods as well if you use the -e option. Changing the namespace and domain name in the domain.yaml file and apply the yaml file is not sufficient. Let me know if misunderstood y

[2021-02-22 12:34] xxhoffmann opened #2212 "no matches for kind "Domain" in version "weblogic.oracle/v8""
Our model.yaml are generated by preparemodel.sh script

running : kubectl apply -f model.yaml
error: unable to recognize "model.yaml": no matches for kind "Domain" in version "weblogic.oracle/v8"

Model.yaml:
apiVersion: "weblogic.oracle/v8"
kind: Domain

[2021-02-22 14:01] jshum2479 commented on #2212
What version of operator have you installed?  This looks like the domain crd is not there for v8.   Can you try `kubectl explain domain` .   You can also get the crd definition by  `kubectl describe crd domains.weblogic.oracle` and look for Versions.Name

[2021-02-23 05:14] alexis-rodriguez-21 commented on #2207
I tried to deploy weblogic following your instructions, but I found a problem that could not be solved. the $ HOME_DOMAIN for the version container-registry.oracle.com/middleware/weblogic:12.2.1.4
It seems to be / u01 / oracle / user_projects / domains / base_domain, I deployed the image over docker and it is the path that creates me, how can I go about changing that path?

[2021-02-23 15:42] bhavaniravichandran commented on #2207
Can you capture the output of create-domain.sh and post it here?

[2021-02-23 17:08] alexis-rodriguez-21 commented on #2207
![image](https://user-images.githubusercontent.com/78376955/108878758-30584e00-75c6-11eb-9a13-d96db54702c2.png)
This is the new error that appears to me, the only thing that I see strange is that in the data-home = in the domain.yaml file it appears empty

output create-domain.sh
./create-domain.sh -i my-domain.yaml -o /home/alexis_rodriguez_condor/weblogic-kubernetes-operator/kubernetes/samples/s

[2021-02-23 17:52] alexis-rodriguez-21 commented on #2207
![image](https://user-images.githubusercontent.com/78376955/108885567-9a282600-75cd-11eb-8e7c-4a7f6df42920.png)

[2021-02-23 17:52] bhavaniravichandran commented on #2207
I do see that the domain is created at the correct place. If you run kubectl apply -f /home/alexis_rodriguez_condor/weblogic-kubernetes-operator/kubernetes/samples/scripts/create-weblogic-domain/domain-home-in-image/weblogic-domains/sample-domain1/domain.yaml, do you see the same error? Also run the following command to see if the domain is created in the image-
docker run -ti weblogic-sample-doma

[2021-02-24 06:04] kenankule opened #2220 "Limit log size"
Currently the operator is writing its logs to a file and i couldnt find a way to limit the log size. The logs grow in time (especially with higher log levels like FINE) and with or without a PVC in place (mounted under /logs), this is a problem.

Either use log rotation or disable logging to a file if logstash/elk is not enabled.

[2021-02-25 02:10] shaunxa opened #2225 "creating domain-home-image failed with [ERROR] docker is not installed"
Hi Team,

I setup up a k8s cluster using https://github.com/oracle/vagrant-projects/tree/main/OLCNE. It uses cri-o instead of docker.

The step of creating domain-home-image failed with [ERROR] docker is not installed. See the details below. Is docker a requirement? and it doesn't support cri-o? or there is some other issue? Let me know if more details required. Thanks.

[vagrant@master1 domain-ho

[2021-02-25 13:32] jshum2479 commented on #2225
This purpose of this script is to create an image using docker,  you will need to have docker installed.

[2021-02-25 16:30] jshum2479 commented on #2220
Thanks @kenankule ,  we are looking into this.

[2021-03-02 20:31] joaqquin89 commented on #2172
i used traefik to reproduce the example in the offcial doc , but i could achieve the https

[2021-03-02 20:32] #2209 closed

[2021-03-02 20:33] joaqquin89 commented on #2209
the problem was when i trying to bring up 2 domains with the same docker image (t3 port was the problem)

[2021-03-04 14:31] devopsenggineer commented on #1539
facing same issue in GKE auto-pilot mode

[code]

[2021-03-05 20:29] joaqquin89 commented on #2172
the problem was solved ,  we needed to configure the steps in this doc https://github.com/oracle/weblogic-kubernetes-operator/blob/master/kubernetes/samples/charts/nginx/README.md

regards

[2021-03-05 20:29] #2172 closed

[2021-03-11 11:07] ashageetha opened #2258 "Typo in create-kuberetes-secrets folder name in samples"
Hi Team,
There is typo in folder name **create-kuberetes-secrets** present  in samples (weblogic-kubernetes-operator/kubernetes/samples/scripts/create-kuberetes-secrets/).

Typo: 'n' is missing from kuberetes.

[2021-03-15 14:47] textanalyticsman commented on #2202
Thanks a lot :)

[2021-03-15 14:47] #2202 closed

[2021-03-15 18:56] anpanigr opened #2264 "Update the image field of the Operator values.yaml in release/3.0.4"
The values.yaml in the directory
https://github.com/oracle/weblogic-kubernetes-operator/tree/release/3.0.4/kubernetes/charts/weblogic-operator

image: "oracle/weblogic-kubernetes-operator:3.0.4"  --> image: "ghcr.io/oracle/weblogic-kubernetes-operator:3.0.4"

[2021-03-15 19:17] anpanigr opened #2266 "README.md file is missing from integration-test directory"
README.md file is missing from integration-test directory
https://github.com/oracle/weblogic-kubernetes-operator/tree/master/integration-tests/

[2021-03-15 20:13] ddsharpe commented on #2266
The Readme.md file is in 3.0.x branches, but seems to have been lost cutting over to 3.1.x.

[2021-03-29 18:49] tbarnes-us commented on #2266
I see the integration-tests/README.md in the 'develop' and '3.2' branches.

If it doesn't show up when 3.2 is cut, please re-open the issue.  @rjeberhard FYI

[2021-03-29 18:49] #2266 closed

[2021-03-29 19:12] tbarnes-us commented on #2258
I've put out a candidate pull #2287 to fix this.   @rjeberhard FYI

[2021-03-29 19:33] tbarnes-us commented on #2225
I agree - docker is a pre-requisite for the sample.

I'm closing this issue as resolved. Feel free to re-open if it's still a problem.

@rjeberhard FYI

[2021-03-29 19:33] #2225 closed

[2021-03-29 19:34] tbarnes-us commented on #2220
Issue is resolved by #2229, which will be available in upcoming WKO version 3.2.  @rjeberhard FYI

[2021-03-29 19:34] #2220 closed

[2021-03-29 19:40] tbarnes-us commented on #2212
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

For future questions of this nature please feel free to use WKO's public `#operator` slack channel at `oracle-weblogic.slack.com` (sign-up here:  `https://weblogic-slack-inviter.herokuapp.com/`).

[2021-03-29 19:40] #2212 closed

[2021-03-29 19:44] tbarnes-us commented on #2207
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to filing an Issue.

[2021-03-29 19:44] #2207 closed

[2021-03-29 19:47] tbarnes-us commented on #2116
This does not look like a WKO question, feel free to re-open the issue if I'm incorrect.

For future questions of this nature please feel free to use WebLogic's public `#general` slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/).

[2021-03-29 19:48] #2116 closed

[2021-03-29 19:55] tbarnes-us commented on #2076
I'm sorry there was no response directly in the Issue, this one somehow flew under the radar.

I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is cl

[2021-03-29 19:55] #2076 closed

[2021-03-29 20:02] tbarnes-us commented on #2069
I'm assuming this issue was resolved as per the @rjeberhard note in Issue #1395 . Please feel free to re-open if I'm incorrect.

For future questions of this nature please feel free to use WKO's public `#operator` slack channel at `oracle-weblogic.slack.com` (sign-up here: `https://weblogic-slack-inviter.herokuapp.com/`). The slack channel is closely monitored, and tends to get a quicker response

[2021-03-29 20:02] #2069 closed

[2021-03-29 20:05] tbarnes-us commented on #2063
I'm sorry you didn't get a response to this Issue, but am closing the issue assuming that you have a solution by now.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to

[2021-03-29 20:05] #2063 closed

[2021-03-29 20:09] tbarnes-us commented on #2010
Definitely looks like a bug.

@csegedicsaba Do you know if this is till a problem? (It's certainly OK to respond with "I don't know".)

@rjeberhard Any thoughts?

[2021-03-29 20:10] tbarnes-us commented on #2010
Assigned to Ryan for triage...

[2021-03-29 20:12] tbarnes-us commented on #1987
I'm closing this because I'm pretty sure the fix has made it into a public release branch by now.

Thank you for filing the Issue!

[2021-03-29 20:12] #1987 closed

[2021-03-29 20:32] tbarnes-us commented on #1970
Hi @watsh-rajneesh, I'm closing this issue.  There have been related ongoing discussions in slack IIRC, and I suspect you've already been participating.  Please feel free to re-open the Issue if you feel it's necessary, or simply continue the discussions in slack.

To summarize:

- Make sure all WL server pods are given a chance to shutdown gracefully before deleting a node. Otherwise k8s simply k

[2021-03-29 20:32] #1970 closed

[2021-03-29 20:34] rjeberhard commented on #2010
I've verified that this is a bug. I'll get someone to fix it.

[2021-03-29 20:36] tbarnes-us commented on #1966
Hmm. I apologies that the Issue somehow received no response.

I'm reassigning it to the WKO PM @mriccell

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to filing an I

[2021-03-29 20:36] tbarnes-us commented on #1966
@rjeberhard FYI

[2021-03-29 20:38] tbarnes-us commented on #1960
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to filing an Issue.

[2021-03-29 20:38] #1960 closed

[2021-03-29 20:45] rjeberhard commented on #2010
[Replacing my original response] The spec.adminServer element has two different children related to services: adminService and serverService. If you want labels on the admin server's ClusterIP service then you need to use spec.adminServer.serverService.labels similarly to what you would do for cluster members. The labels and annotations under adminService are related to the second, optional NodePo

[2021-03-29 20:48] tbarnes-us commented on #1901
@rishiagarwal-oracle Is a resolution needed here? I ask because:

(1) I see there is a 'javaOptions' parameter in inputs. Is that sufficient for sample purposes? Anyone that needs to update the sample for their own uses can follow the pattern of the javaOptions parm to add more env var parms...
(2) The 'inputs' file and its attendant helper scripts are intended only for sample use, not production

[2021-03-29 20:48] #1901 closed

[2021-03-29 20:57] tbarnes-us commented on #1868
I'm assuming the issue is resolved by now.  If I'm incorrect, feel free to re-open the issue (or better yet, restart the discussion in slack).

[2021-03-29 20:57] #1868 closed

[2021-03-29 20:59] tbarnes-us commented on #1836
I'm assuming the issue is resolved by now and the consequent enhancement is now available in a public release.

Feel free to re-open the issue if I'm incorrect.

[2021-03-29 20:59] #1836 closed

[2021-03-29 21:01] tbarnes-us commented on #1809
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to filing an Issue.

[2021-03-29 21:01] #1809 closed

[2021-03-29 21:02] tbarnes-us commented on #1801
Hi Ed -

I'm assuming this can be considered resolved by now.

Feel free to re-open the issue if I'm incorrect.

[2021-03-29 21:02] #1801 closed

[2021-03-29 21:04] tbarnes-us commented on #1718
Resolved on June 11, 2020 using https://github.com/oracle/weblogic-kubernetes-operator/pull/1720 .

[2021-03-29 21:04] #1718 closed

[2021-03-29 21:07] rosemarymarano commented on #2110
@tbarnes-us Documentation for Managing SOA domains was moved out of the Oracle WebLogic Server Kubernetes Operator project to the Oracle Fusion Middleware on Kubernetes project a while ago, https://oracle.github.io/fmw-kubernetes/.

[2021-03-29 21:24] tbarnes-us commented on #1644
Sorry for the late response.

This is a good idea.

A good many WKO sample shell scripts now allow specifying a different CLI than 'kubectl' using the `KUBERNETES_CLI` env var (perhaps you or this Issue spurred this work!), but there are still more than a few that don't. To find these scripts:

[code]

OPEN ISSUE:  How about other helper scripts?  For example, those within 'integration-tests"?

I'

[2021-03-29 21:25] tbarnes-us commented on #1644
Assigning to Ryan for triage.

[2021-03-29 21:27] tbarnes-us commented on #1622
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to filing an Issue.

[2021-03-29 21:27] #1622 closed

[2021-03-29 21:30] tbarnes-us commented on #1610
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

[2021-03-29 21:30] #1610 closed

[2021-03-29 21:31] tbarnes-us commented on #1621
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

[2021-03-29 21:31] #1621 closed

[2021-03-29 21:33] tbarnes-us commented on #1546
I'm sorry your last post did not get a response, but I'm assuming the issue is resolved by now.   Feel free to re-open the issue if I'm incorrect.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quic

[2021-03-29 21:33] #1546 closed

[2021-03-29 21:34] tbarnes-us commented on #1457
Oops! The issue has long been resolved. I should have closed it almost a year ago!

[2021-03-29 21:34] #1457 closed

[2021-03-29 21:36] tbarnes-us commented on #1447
I'm assuming the issue was resolved long ago, but feel free to re-open if I'm incorrect.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to filing an Issue.

[2021-03-29 21:36] #1447 closed

[2021-03-29 21:37] tbarnes-us commented on #1412
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to filing an Issue.

[2021-03-29 21:37] #1412 closed

[2021-03-29 21:39] tbarnes-us commented on #1293
OWLS-77204 is still open.   Assigning to Ryan for triage.

[2021-03-29 21:40] tbarnes-us commented on #1287
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to filing an Issue.

[2021-03-29 21:40] #1287 closed

[2021-03-29 21:48] tbarnes-us commented on #1251
I know this is an old Issue, but I'm not sure if it should be pursued.

I'm assigning this to Monica and Ryan for triage.

Note: if we do pursue this, I recommend adding a compile/unit-test step that verifies that all scripts are 'ubuntu compliant'.

@amyles : Assuming ubuntu support becomes a priority, do you know if there some kind of global shell flag that can be used to make ubuntu more forgiv

[2021-03-29 21:50] tbarnes-us commented on #1244
I'm assuming the issue was long ago resolved by now, but feel free to re-open if I'm incorrect.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to filing an Issue.

[2021-03-29 21:50] #1244 closed

[2021-03-29 21:53] tbarnes-us commented on #1239
I don't think extending an official image is required. The main requirement is that WLS be at PS4, or, if at PS3, that certain patches be installed (see the WKO doc).  Note that leveraging the 'WebLogic Image Tool' to create your image is highly recommended.

Regardless, I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

For future questions of this nature

[2021-03-29 21:53] #1239 closed

[2021-03-29 22:06] tbarnes-us commented on #1233
@anilarora Can you provide the use case?

I'm closing this for now given how old the request is, and given that this the first time I've run across such a request.  But please do feel free to file a new Issue if you can provide a use case.

For future questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-s

[2021-03-29 22:08] tbarnes-us commented on #1239
@rosemarymarano @rjeberhard FYI

[2021-03-29 22:10] tbarnes-us commented on #1109
@rjeberhard Is this still an open issue?

[2021-03-29 22:13] tbarnes-us commented on #1110
@rjeberhard @mriccell Is there an internal JIRA tracking this? If, so please add it here.

[2021-03-29 22:18] tbarnes-us commented on #1110
I'm assuming the issue is resolved by now: from what I can tell, it may have been left open by Ryan as a reminder to enhance the documentation.  Feel free to re-open the issue if I'm incorrect.

@rjeberhard FYI

[2021-03-29 22:19] tbarnes-us commented on #1110
Oops, that last comment, and the 'close' was in error (they were meant for a different Issue).  Re-opening.

[2021-03-29 22:20] tbarnes-us commented on #1055
I'm assuming the issue is resolved by now: from what I can tell, it may have been left open by @rjeberhard  as a reminder to enhance the documentation. Feel free to re-open the issue if I'm incorrect.

[2021-03-29 22:20] #1055 closed

[2021-03-29 22:21] tbarnes-us commented on #789
@rjeberhard : Please triage this issue.

[2021-03-29 22:24] tbarnes-us commented on #317
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect. For example, I think we've provided doc/samples for terminating SSL at the LB.

[2021-03-29 22:24] #317 closed

[2021-03-29 22:25] tbarnes-us commented on #316
This looks quite old. Feel free to re-open if/when needed.

[2021-03-29 22:25] #316 closed

[2021-03-29 22:28] tbarnes-us commented on #136
#135 has been addressed to allow for arbitrary pv/c mounts (which can in turn hold jars), and users are free to pass in PRE/POST/CLASSPATH env vars to modify the system classpath to reference any such jars.

[2021-03-29 22:28] #136 closed

[2021-03-29 22:29] tbarnes-us commented on #134
Assigned to Ryan for triage.

[2021-03-29 22:31] tbarnes-us commented on #104
Assigning to Monica for triage. Perhaps this work is already done?

[2021-03-29 22:36] tbarnes-us commented on #76
This Issue has gotten pretty old!  Assuming it should be closed.

FWIW I think the current WKO behavior now only requires a unique domain-uid within a namespace (which means the same operator can manage duplicate domain-uids if they are in different namespaces). But we still recommend making it 'world unique'. Also, note that having a unique domain-uid does not remove the universal WL requirement

[2021-03-29 22:36] #76 closed

[2021-03-29 22:37] tbarnes-us commented on #30
Assigning to Ryan for triage. This is an old request that I suspect isn't tracked anywhere else.

[2021-03-29 22:39] tbarnes-us commented on #32
Assigning this issue to Ryan for triage.  My assumption is that we can close it, but I'm not 100% sure.

[2021-03-29 22:41] tbarnes-us commented on #56
I'm assuming the issue is resolved by now, feel free to re-open the issue if I'm incorrect.

[2021-03-29 22:41] #56 closed

[2021-03-29 22:42] rjeberhard commented on #32
I believe we have this. Bryan, obviously please let us know if you still need something here.

[2021-03-29 22:42] #32 closed

[2021-03-29 23:07] tbarnes-us commented on #2258
@ashageetha Thank you for pointing out the issue. The fix has been reviewed and merged, and should show up in the next release (3.2).

[2021-03-29 23:07] #2258 closed

[2021-03-30 11:08] #2110 closed

[2021-03-30 14:11] tbarnes-us commented on #1644
I just noticed that @GerthH also mentioned regression tests, and I agree that those should be included too.  I'll add them to the JIRA.

[2021-03-30 15:04] rjeberhard commented on #2264
That chart is now updated.

[2021-03-30 15:04] #2264 closed

[2021-03-30 18:18] #790 closed

[2021-03-30 18:18] #30 closed

[2021-03-31 21:10] csegedicsaba commented on #2010
I use ClusterIP service, but spec.adminServer.**serverService**.annotations are not working on version 3.1.0.

[2021-03-31 21:41] anilarora commented on #1233
@tbarnes-us So, the use case we were thinking was that we would want to have a persistent volume be created per managed server to hold some data for the POD.  For example, we want to be able to create a volume from block storage that has a large size (64Gb) for holding temporary data created during data uploads.

For environments with more than 1 managed server, this means that we have to pre-crea

[2021-03-31 22:20] tbarnes-us commented on #1233
Re-opening and assigning to Monica & Ryan for triage.

This is also getting discussed on internal slack.

[2021-03-31 22:40] tbarnes-us commented on #1233
Ryan & Monica:  You may want to hold off on triaging this for a bit -- Anil kindly plans to add a couple of examples that compare the template approach vs. using work-arounds.

[2021-04-07 22:19] anilarora commented on #1233
So, let's take the example where we wanted to create a persistent volume that held "temp" data, as the boot volume may not have sufficient space to hold that data.  In our use case, this temp data needs to be unique to the serverPod, and in a multi-tenant environment, we would not want cross contamination between different domains as that could be a security issue (making host volume not an option

[2021-04-07 22:39] anilarora commented on #1233
The alternate approach to the above would require us to create each persistent volume claim ahead of time, requiring them to match a specific pattern.

[code]

This is harder to tie to the lifecycle and adds a bit more work to support something like dynamic clusters.

[2021-04-13 16:56] rjeberhard commented on #2010
I believed that I had tried this earlier and found that I couldn't reproduce the failure. I just tried it also didn't work for me. I'll have someone take another look.

[2021-04-27 17:54] rjeberhard commented on #2010
Fixed in 3.2.2.

[2021-04-27 17:54] #2010 closed

[2021-04-27 18:44] tbarnes-us commented on #1233
I've filed Oracle internal JIRA OWLS-89088 to track this idea.

[2021-04-30 13:51] scbarikGIT opened #2349 "Voyager version mismatch in the Install and configure Voyager guide"
Hi Team,
In the Install and configure Voyager document the Voyager version is different in 2 different places.
In "Add the AppsCode chart repository" the Voyager version is 12.0.0 .
But in the next point "Install the Voyager operator" the Voyager version is 10.0.0 .
It should be same.

Thanks!

[2021-05-01 19:11] tbarnes-us commented on #2349
Thanks for the heads up!

[2021-05-03 15:45] tbarnes-us commented on #2349
This looks like it has already been fixed in the main branch? See:

https://github.com/oracle/weblogic-kubernetes-operator/blob/main/kubernetes/samples/charts/voyager/README.md

If so, it should show up in the next release (and it might already be in the most recent release - haven't checked).

[2021-05-03 15:45] tbarnes-us commented on #2349
I'm closing the issue, please re-open if the problem hasn't been fixed.

[2021-05-03 15:45] #2349 closed

[2021-06-16 18:36] edburns opened #2415 "Update WLS AKS Domain on PV guidance for memory considerations"
Consider [Configuring Heap Size](https://oracle.github.io/weblogic-kubernetes-operator/faq/resource-settings/#configuring-heap-size). The guidance should be updated to include the `-Xmx...` and also `serverPodMemoryRequest` and `serverPodMemoryLimit` values so that the problem reported [on slack](https://oracle-weblogic.slack.com/archives/CE3M9DGSY/p1621952312030200) does not manifest after a week

[2021-06-16 18:37] edburns commented on #2415
Please assign this to @galiacheng .

[2021-06-16 18:38] edburns commented on #2415
Hello @mriccell please track this for any other manifestations of the problem in any other samples.  Cc: @rjeberhard .

[2021-06-23 21:45] mriesch commented on #70
Starting the WLS Admin Server with an empty Listen Address: solved for me this problem.

[2021-06-25 14:01] csegedicsaba opened #2427 "Introspector job fails in Adding Log to ServerTemplate..."
From version **3.2.3** introspector job fails.  (3.2.2 is working fine)
We are using **model-in-image** method and we are specifying **spec.logHome** in Domain resource.

####<Jun 25, 2021 1:51:31 PM> <INFO> <TopologyUpdater> <_add_model_elements> <WLSDPLY-09602> <Adding Log to ServerTemplate xyz-cluster-template>
Problem invoking WLST - Traceback (innermost last):
  File "/u01/wdt/weblogic-deploy

[2021-06-25 14:43] anpanigr commented on #2427
Is your logHome on PV ? Can you please share your model file.

[2021-06-25 21:09] csegedicsaba commented on #2427
Yes, logHome is on PV.
Here is a sample which fails with 3.2.3+:
https://github.com/csegedicsaba/wko-log-bug

[2021-06-29 14:36] brunozanon10 opened #2432 "DomainProcessingFailed domain/sample-domain1 .. DOMAIN_HOME directory not found '/u01/..."
Hello All!

We are doing a POC on the customer to put some applications in a container, and we are installing Kubernetes Operator, but at the stage of creating the domain it is giving an error:

command:
./create-domain.sh -i my-inputs.yaml -o /opt/oracle -u weblogic -p ******** -e

 Warning   DomainProcessingFailed     domain/sample-domain1   Failed to complete processing domain resource sample-d

[2021-06-29 15:19] tbarnes-us commented on #2432
Discussion about this is ongoing in slack.

[2021-06-29 15:26] #2432 closed

[2021-06-29 15:26] brunozanon10 commented on #2432
In conversation with Tom, I will continue the investigation on the slack "wls-operator-support".

[2021-07-10 06:08] azaylamba commented on #1447
I am getting "/usr/bin/env: ‘bash’: No such file or directory" when using Github desktop and trying to initial commit

[2021-07-12 15:44] tbarnes-us commented on #1447
This issue is closed.

For questions of this nature please feel free to use WKO's public #operator slack channel at oracle-weblogic.slack.com (sign-up here: https://weblogic-slack-inviter.herokuapp.com/). The slack channel is closely monitored, and tends to get a quicker response in comparison to filing an Issue. For general background about contributing to the WKO project, see https://oracle.gith

[2021-07-12 18:20] anpanigr commented on #2427
Can use the weblogic image from  container-registry.oracle.com/middleware/weblogic:12.2.1.4
as described in the doc  https://oracle.github.io/weblogic-kubernetes-operator/quickstart/get-images/

I see you are using weblogic image from store/oracle/weblogic:12.2.1.4-dev-200117

[2021-07-12 19:32] csegedicsaba commented on #2427
Same issue with container-registry.oracle.com/middleware/weblogic:12.2.1.4 image.

[2021-07-12 21:42] edburns opened #2453 "Extract non-Azure specific aspects of file locking discussion into FAQ"
See [PR 2445](#2445) for background.

This issue asks the implementer to
* take the advice given by @tbarnes-us in his `locking.txt` file and create an appropriate entry in the [FAQ](https://oracle.github.io/weblogic-kubernetes-operator/faq/).
* Remove the "inline" advice introduced in that PR and replace it with a brief summary and a hyperlink to the entry in the FAQ.

[2021-07-12 22:20] tbarnes-us commented on #2453
Internal Oracle tracking JIRA OWLS-90868

[2021-07-13 14:42] ddsharpe commented on #2427
I see an issue in WDT that was fixed that looks similar.  What version of WDT is being used?

[2021-07-15 15:14] belfo opened #2459 "ListenAddress don't taken into account"
Hello,

I updated the model-in-image example to set a ListenAddress for the admin server on 0.0.0.0 (to be able to access the console from outside using a port forward)
But the generated domain still have the :
<listen-address>sample-domain1-admin-server</listen-address>

Is this the expected behaviour?

Regards

[2021-07-15 15:49] rjeberhard commented on #2459
Yes, this is the expected behavior. Information about listen addresses and some other information (such as node manager configurations) are overwritten with the in-cluster values as domains are deployed.

I don't quite understand the need to set the ListenAddress to 0.0.0.0 in order to access the console from outside with a port forward. Let me see if I can dig up a sample of using port forwarding

[2021-07-16 07:27] belfo commented on #2459
Hello,

i get this error (on the port forward command)
E0715 15:59:30.499417 4070974 portforward.go:400] an error occurred forwarding 8080 -> 7001: error forwarding port 8001 to pod d0a9e46791541ebf798d93a9c4278fd15f7c4dbfc6bb506b57dba2c34ddc50fb, uid : exit status 1: 2021/07/15 13:59:30 socat[3493906] E connect(5, AF=2 **127.0.0.1**:7001, 16): Connection refused
And no connection arrive to the co

[2021-07-19 09:08] belfo commented on #2459
@rjeberhard Did you find any example?

[2021-07-26 15:04] ThiagoBfim opened #2481 "Error executing start-db-service.sh Update 4 (Quick Start)"
I'm doing the Quick Start, but I can't finish Update 4.

I'm getting two errors when I execute `start-db-service.sh` :

### The first error I solved:

`-bash: ./start-db-service.sh: /bin/bash^M: bad interpreter: No such file or directory`

The first error occurs because I'm on Windows. I solved this problem with this command:
`sed -i -e 's/\r$//' start-db-service.sh`

Maybe it's good to be in the

[2021-07-27 14:16] ThiagoBfim commented on #2481
I discovered.
The problem is, I don't have enough memory.
I fixed it by changing the configuration file "oracle.db.yaml" memory properties.

[2021-07-27 14:16] #2481 closed

[2021-10-06 15:48] tbarnes-us commented on #2459
The operator documentation now outlines how to get port forward access to the console, with dependencies on Istio or, alternatively, upgrading to 3.3.2.

See [ > User Guide > Manage WebLogic domains > Access the domain > Use port forwarding](https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/accessing-the-domain/port-forward/)

[2021-10-06 15:57] tbarnes-us commented on #2427
@csegedicsaba , I assume the issue has been resolved?

If it hasn't, please try slack or re-open this issue.

See [ > User Guide > Introduction > Get help](https://oracle.github.io/weblogic-kubernetes-operator/userguide/introduction/get-help/)

[2021-10-06 15:57] #2427 closed

[2021-10-09 12:26] manavtidhan opened #2568 "How to put envinronment.properties files in Domain Home(i.e /u01/domains/sampleDomain) ?"
Hi ,

I am not able to find a way how to put evnironement.properties file in Domain Home, there is No such way I found in Archive Structure defined below link

https://oracle.github.io/weblogic-deploy-tooling/concepts/archive/

I also tried to use configmap to mount the file in Domain Home , but I was getting permission denied , I tried to set up default mode and mode to 0777 still same error.

Pl

[2021-10-09 18:42] tbarnes-us commented on #2568
@ddsharpe @jshum2479 FYI

[2021-10-09 18:46] tbarnes-us commented on #2568
Also, if the file defines system properties for the WebLogic JVM, then such properties can be supplied [in the domain resource YAML's env clause](https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/domain-resource/#jvm-memory-and-java-option-environment-variables).

[2021-10-09 23:36] manavtidhan commented on #2568
Hi Tom , Thanks for responding quickly its not model property file . This file is read by application , you can call it as external properties file  . Its should be in /u01/domains/sampleDomain Directory like below

/u01/domains/sampleDomain/environment.properties

I didnot find any link where I can supply additional file so that it can be placed in Domain Home Directory , below are some of simila

[2021-10-27 23:04] edburns opened #2591 "MVP Placeholder documentation for WLS on AKS"
Per slack:

Put the AKS content 'At the top level between "Manage FMW Infrastructure domains" and "CI/CD Considerations".

Iterating at https://github.com/edburns/weblogic-kubernetes-operator/tree/edburns-msft-dd-1426715-wls-aks-docs .

[2021-11-22 21:39] gwbatte opened #2636 "create-domain-job.sh: line 4: $'\r': command not found"
HiHi,

Following > Samples > Azure Kubernetes Service > Domain home on a PV:
[]((https://oracle.github.io/weblogic-kubernetes-operator/samples/azure-kubernetes-service/domain-on-pv/))

Step: Asking Operator to create WebLogic Server domain within the Azure: AKS Cluster.

$ ./create-domain.sh -i ~/azure/weblogic-on-aks/domain1.yaml -o ~/azure_11_22_2021 -e -v
Input parameters being used
export vers

[2021-11-22 22:03] tbarnes-us commented on #2636
The WKO team is looking at this. In the mean-time, @galiacheng @edburns any suggestions for a work-around?

[2021-11-22 22:17] tbarnes-us commented on #2636
Is it possible the filer is not using WSL for Windows 10 (https://docs.microsoft.com/windows/wsl/install-win10)?

[2021-11-22 23:17] edburns commented on #2636
Internal issue: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1441298

[2021-11-23 06:19] galiacheng commented on #2636
Hello @gwbatte we have to make sure all the shell script in `kubernetes/samples/scripts` are [LF ending](https://stackoverflow.com/questions/1552749/difference-between-cr-lf-lf-and-cr-line-break-types). WSL checkout the source code as CRLF by default.

Please follow the steps to create WLS domain again.

#### Make sure scripts are LF ending
There are several options to change the ending format, yo

[2021-11-23 21:08] rjeberhard commented on #2636
Resolved with 3.3.5.

[2021-11-23 21:08] #2636 closed

[2021-11-26 15:15] gwbatte commented on #2636
Thank you very much. I appreciate the quick resolution.

[2021-11-30 15:59] shashankkumarIITB opened #2647 "Difference in default values of `domain.spec.adminServer.adminChannelPortForwardingEnabled`"
As per [Domain.md](https://github.com/oracle/weblogic-kubernetes-operator/blob/main/documentation/domains/Domain.md#admin-server), the default value for `adminChannelPortForwardingEnabled` is `true`.

However, running `kubectl explain domain.spec.adminServer.adminChannelPortForwardingEnabled` shows that the default value is `false`.

I think it is `false` by default.

[2021-11-30 17:36] ankedia commented on #2647
The default is `true` in Operator 4.0 release (`main` branch) and `false` in Operator 3.3.x release (release/3.3 branch). If you're using Operator version 3.3.x, please see [Domain.md](https://github.com/oracle/weblogic-kubernetes-operator/blob/release/3.3/documentation/domains/Domain.md) .

[2021-11-30 19:49] #2647 closed

[2021-12-08 12:26] csegedicsaba opened #2655 "startServer.sh high cpu usage"
After upgrading Openshift 4.6 to 4.8 (kubernetes 1.19 to 1.21) CPU usage increased.

After starting pods the cpu usage is increasing from 0.1 to 0.3 in ca. 5 days. After 5 days, the usage fall back to 0.1 and increases very slowly.

The extra cpu usage is not in the java process, it is in startServer.sh.
Using strace we found that waitForShutdownMarker() in operator\src\main\resources\scripts\util

[2021-12-15 20:26] robertpatrick commented on #1251
@tbarnes-us @mriccell @rjeberhard I see no reason to delay changing the function declaration syntax.  There is zero advantage of using this bash-specific syntax when even BASH sites say that the other syntax is preferred.

[2021-12-15 22:57] ankedia commented on #2655
@csegedicsaba - Will it be possible to try changing the script to increase the sleep value from `0.1` seconds to `0.5` or `1` in your test pod and see if it helps the issue? We can make it a tunable if that resolves the high cpu usage issue.

Do you configure the CPU requests and limits for your pod?  You can also try configuring the CPU affinity for the Pod using CPU management policy of kubelet.

[2021-12-17 00:37] tbarnes-us commented on #1251
@robertpatrick I've filed internal tracking JIRA OWLS-94874 to track the issue. Note that `grep` reveals several hundred occurrences.

[2021-12-18 18:13] robertpatrick commented on #2591
@edburns is this still relevant?

[2021-12-18 19:05] robertpatrick commented on #104
Tracked by internal Oracle JIRA OWLS-94850

[2021-12-21 10:22] csegedicsaba commented on #2655
Increasing the sleep value to 1 second  the cpu usage is not significant.

It would be great to have possibility to override the default sleep value to solve this strange issue.

[2021-12-21 21:54] ankedia commented on #2655
Thanks @csegedicsaba . I have created a JIRA to increase the default sleep value to 1 second and allow overriding of the default value using an environment variable defined in the domain specifications. We will let you know once it is released.

[2021-12-30 08:09] gregoan opened #2685 "NPE - oracle.kubernetes.operator.DomainProcessorImpl"
Hello,

As requested by Tom Barnes, I open this issue following NPE we are facing.

1) We created the auxiliary image "**demo-gregoan_lite_1.0.0**" (simple WL domain composed of only 1 WL cluster)
2) We used this auxiliary image and the WL domain is properly created (Lite)
3) We created the auxiliary image "**demo-gregoan_full_1.0.0**" (complex WL domain composed of 2 WL clusters and one independe

[2021-12-31 19:10] tbarnes-us commented on #2685
Assigning to Anil because he's already looking into the NPE.

[2022-01-05 22:02] edburns opened #2693 "Using WLS 14c with WLS k8s operator: prone to admin server pod eviction."
See https://github.com/oracle/weblogic-azure/pull/103 for complete details.

# Executive Summary

The WLS14c admin pod become evicted at age 2/3 days with error like Container weblogic-server was using 3300040Ki, which exceeds its request of 1610612736.

[2022-01-13 21:35] robertpatrick commented on #2693
@edburns After talking with the team that has been working with you on this, we feel that this is almost certainly a WLS 14.1.1 bug.  As such, @mriccell has created WLS Bug 33754157 for this issue.  She will work with the WLS Dev team to get a resolution for you.  At this point, I just don't see anything that the WebLogic Kubernetes Operator development team can do to our software to resolve the i

[2022-01-13 21:35] #2693 closed

[2022-01-13 21:59] robertpatrick commented on #2685
The fix for this issue will be available in the next release.

[2022-01-13 23:34] robertpatrick commented on #2453
@tbarnes-us is this still relevant?

[2022-01-13 23:37] robertpatrick commented on #2415
@tbarnes-us @ankedia @rosemarymarano It appears as though this issue was addressed by PR #2416 so why is this issue still open?

[2022-01-13 23:48] robertpatrick commented on #1109
It seems to me that the primary use case for this requirement is to deal with cross application dependencies.  As such, I would propose a simpler model that simply allows the user to tell us what depends on what (e.g., startup order) and that we treat these all as `requireEarlierStartupOrderComplete=true` (and eliminate the ability to configure this).  I cannot think of a use case that requires st

[2022-01-14 12:19] rosemarymarano commented on #2415
@robertpatrick I think you're correct. [OWLS-92880](https://jira.oraclecorp.com/jira/browse/OWLS-92880) WKO doc: Update tuning guidance for WLS Domain on Azure, should be closed as well.

[2022-01-14 14:04] #2415 closed

[2022-01-14 18:30] #1251 closed

[2022-01-14 18:37] tbarnes-us commented on #1109
Hmmm. Some idle thoughts:

A more general solution would be an order between domains "inter domain", instead of clusters within a domain "intra domain". This strikes me as a fine way to handle the requirement, as it handles the more general case and, with acceptable difficulty, the "intra cluster" case (the presumably few customers that really need the feature to work "intra-domain" could break th

[2022-01-14 18:37] robertpatrick commented on #1293
@markxnelson Elasticsearch supports multiple authentication mechanisms (e.g., Basic Auth, OIDC, PKI) so in order to consider this ER, we need to understand the authentication mechanism(s) required by the customer.

[2022-01-14 18:41] robertpatrick commented on #1109
@tbarnes-us I think that the cross-domain scenario is out of WKO territory, as you point out.  I believe that we should support this cross-cluster functionality within a single domain.

[2022-01-14 21:07] tbarnes-us commented on #2453
Yes.

[2022-01-18 09:14] sbattagi opened #2718 "Operator 3.3.5 chart version incorrectly mentioned as 4.0.0"
Hi,

From the operator 3.3.5 kubernetes charts, I see the chart version is mentioned as 4.0.0 (which looks incorrect) and also the image is set to 4.0.0 in the documentation. The 4.0.0 operator image doesn't exist so far (--set "image=ghcr.io/oracle/weblogic-kubernetes-operator:4.0.0")

Comparison 3.3.4 vs 3.3.5: https://github.com/oracle/weblogic-kubernetes-operator/compare/v3.3.4...v3.3.5

Howev

[2022-01-19 15:20] #2591 closed, assigned to edburns

[2022-01-31 20:18] rjeberhard commented on #2718
The chart has been corrected.

[2022-01-31 20:18] #2718 closed

[2022-02-02 03:07] #104 closed

[2022-02-18 18:38] rjeberhard commented on #2655
Resolved in 3.3.8.

[2022-02-18 18:38] #2655 closed

[2022-02-18 19:58] tbarnes-us commented on #2685
Thank you @gregoan for putting together such a clear reproducer.

[2022-02-22 07:56] volkermauel opened #2794 "Restart Evicted Pods"
Hey,

I'm currently using the operator in version 3.3.6 with the Domain-Home-In-Image mode.
I'm running into an issue, where a Pod might get evicted from a Node due to not enough ephemeral storage being available for logging.

The pods are assigned to qosclass guaranteed (so requests == limits for both, cpu and memory).
The issue here is that once pods are evicted by kubernetes, the operator does

[2022-02-22 13:22] aheritier opened #2795 "MinRAMPercentage is not InitialRAMPercentage"
In many documentations and settings you are using `MinRAMPercentage` while it should be `InitialRAMPercentage`

Ref:
* https://docs.oracle.com/javase/8/docs/technotes/tools/windows/java.html
* https://www.baeldung.com/java-jvm-parameters-rampercentage

[code]

[2022-02-22 16:55] ankedia commented on #2794
As per [this issue](https://github.com/kubernetes/kubernetes/issues/55051), the evicted pods deletion can be controlled through `--terminated-pod-gc-threshold` setting in kube-controller-manager. The recommendation is to update the kube-controller-manager config to set `--terminated-pod-gc-threshold 100` or similar small value.

The WebLogic Kubernetes Operator currently recreates a new pod only w

[2022-02-22 17:02] ankedia commented on #2795
Yes, we will update the documentaiton to clarify `-XX:MinRAMPercentage` and use -XX:InitialRAMPercentage instead of -XX:MinRAMPercentage . I will file an internal JIRA to track this.

[2022-02-22 18:32] ankedia commented on #2794
Created JIRA OWLS-96896 to track this.

[2022-02-22 18:46] tbarnes-us commented on #2794
@volkermauel Thank you for taking the time to file the Issue - the operator dev team will look into at least documenting the problem and its work-arounds if it's not practical for the operator to automatically handle it - much appreciated!

[2022-02-23 09:45] dai0384448 opened #2800 "weblogic-kubernetes-operator:3.3.8 create-domain error？？？"
ENV：
CentOS Linux release 7.7.1908 (Core)
helm Version:"v3.3.4",
Docker version 19.03.1, build 74b1e89
 kubectl ：v1.20.15

[issue]
command：./create-domain.sh -i my-inputs.yaml -o /testweb -u weblogic -p Weblogic123 -e
error log：
[信息     ] WebLogic Image Tool version 1.11.0
[信息     ] Image Tool build ID: 7da5a263-76df-482d-b604-025c260483e2
[信息     ] Temporary directory used for image build context

[2022-02-23 17:28] marinakog commented on #2800
could you please list your my-inputs.yaml?  How did you create wls:12.2.1.4.0 ?

[2022-02-24 00:48] dai0384448 commented on #2800
version: create-weblogic-sample-domain-inputs-v1
sslEnabled: false
adminPort: 7001
adminServerSSLPort: 7002
adminServerName: admin-server
domainUID: domain1
domainHome: /u01/oracle/user_projects/domains/domain1
serverStartPolicy: IF_NEEDED
clusterName: cluster-1
configuredManagedServerCount: 5
initialManagedServerReplicas: 2
managedServerNameBase: managed-server
managedServerPort: 8001
managedServ

[2022-02-24 18:56] marinakog commented on #2800
hi @dai0384448 , you have created image wls:12.2.1.4.0 with --chown=oracle:oracle but you used create-domain.sh. script where umagetool tries to update the image with --chown=oracle:root.  You can change the script create-domain.sh to use --chown=oracle:oracle or create image with --chown=oracle:root

[2022-02-25 10:13] dai0384448 commented on #2800
[command]
./imagetool.sh create --tag wls:12.2.1.4.0 --version 12.2.1.4.0 --jdkVersion 8u45 --chown=oracle:root
===================================================================
This issue has been resolved。  thank you so much。

[2022-02-25 10:13] #2800 closed

[2022-03-05 06:34] dai0384448 opened #2818 "test traefik LoadBalancer error?"
ENV：
CentOS Linux release 7.7.1908 (Core)
helm Version:"v3.3.4",
Docker version 19.03.1, build 74b1e89
kubectl ：v1.20.15

ISSUES:
Follow the document https://oracle.github.io/weblogic-kubernetes-operator/quickstart/create-domain/
The configuration fails according to the document. The error is as follows：

[root@master weblogic-kubernetes-operator]# curl -v -H 'host: sample-domain1.org' http://192.

[2022-03-05 06:40] dai0384448 commented on #2818
command： kubectl get svc --all-namespaces
 EXTERNAL-IP  <pending>  Is there an impact here?
![image](https://user-images.githubusercontent.com/47651287/156871825-b074665c-3c9e-479d-a2d6-715e244f4980.png)

[2022-03-07 14:11] th3n3rd opened #2819 "Introspector pod fails initialisation"
## Context
I am using the Model In Image deployment strategy, with auxiliary images, in order to deploy a sample application on k8s via the Oracle WebLogic Operator (v3.3.7).
The auxiliary image currently uses ubuntu bionic as a base image, which default shell is dash as in `/bin/sh -> dash`.
The latter does only support POSIX compliant instructions.

## Problem
When the introspector pod kicks in,

[2022-03-07 19:24] lennyphan commented on #2818
Shouldn't have any impact.  What helm command did you use to create the ingress?  Can you do a describe on the ingress?

e.g.
kubectl describe ingress sample-domain1-traefik -n sample-domain1-ns

[2022-03-09 01:06] dai0384448 commented on #2818
$ helm install traefik-operator traefik/traefik \
    --namespace traefik \
    --values kubernetes/samples/charts/traefik/values.yaml \
    --set "kubernetes.namespaces={traefik}"

$ helm upgrade traefik-operator traefik/traefik \
    --namespace traefik \
    --reuse-values \
    --set "kubernetes.namespaces={traefik,sample-domain1-ns}"

[2022-03-09 01:09] dai0384448 commented on #2818
I operate according to the official manual. Port 80 is mapped to port 30305. Where is it set?There is only external port in VALUES. Could you tell me where to set the internal port?Thank you very much!

[2022-03-09 17:30] lennyphan commented on #2818
It's configured as a nodeport in the traefik helm chart provided in kubernetes/samples/charts/traefik/values.yaml

[2022-03-11 03:05] dai0384448 commented on #2818
Where is the internal port 80 set?
![156871723-3dd05a76-ddad-446e-8fd8-027cd79e4f0d](https://user-images.githubusercontent.com/47651287/157794382-b5620c33-32ab-4d68-b04d-b15514cedf1e.png)

[2022-03-12 18:44] lennyphan commented on #2818
I think 80 is a default port for traefik.  I couldn't reproduce your issue.  can you do a 'kubectl describe' on the 'traefik-operator' service to see if we can tell what endpoints it maps resolves?

[2022-03-15 01:55] dai0384448 commented on #2818
[root@master ingresses]# kubectl describe pods traefik -n traefik
Name:         traefik-operator-56754f97d8-72hnr
Namespace:    traefik
Priority:     0
Node:         node1/192.168.1.226
Start Time:   Tue, 15 Mar 2022 00:01:39 +0800
Labels:       app.kubernetes.io/instance=traefik-operator
              app.kubernetes.io/managed-by=Helm
              app.kubernetes.io/name=traefik
              hel

[2022-03-15 02:06] dai0384448 commented on #2818
I configured the entry, but I can't see the SVC
![1647309872(1)](https://user-images.githubusercontent.com/47651287/158291482-585bcad9-7fe1-4c32-80e5-9456496100c1.png)

[2022-03-31 06:39] jayamorin opened #2888 "Operator failed to restart domains pod"
Hi,

I'm stuck with this issue why my domains pod is not restarted.

{
  "timestamp": "2022-03-27T23:53:18.352762004Z",
  "thread": 36,
  "fiber": "fiber-2578768",
  "namespace": "policy-domain",
  "domainUID": "policy-domain",
  "level": "SEVERE",
  "class": "oracle.kubernetes.operator.DomainProcessorImpl",
  "method": "logThrowable",
  "timeInMillis": 1648425198352,
  "message": "Exception throw

[2022-03-31 15:49] vanajamukkara commented on #2888
introspector job is timing out after 1200 seconds. Are there any errors in the operator log?

[2022-03-31 18:34] tbarnes-us commented on #2888
and do you have the contents job pod's log? Or a describe of the job pod? A describe of the domain? (See https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/model-in-image/debugging/ for a complete set of debugging steps.)

[2022-04-04 08:31] jdvacasf opened #2900 "Creating more than one cluster in domain on pv"
I have reviewed the examples and I have not seen how to create more than one cluster.
When creating a new fmw domain in pv there is no possibility to create more than one cluster. I have only seen how I manage to modify createFMWDomain.py with the values ​​of the new cluster.

[2022-04-04 15:18] anpanigr commented on #2900
The example files/directory/scripts  are provided to demonstrate the usage WebLogic Kubernetes Operator to stat a Basic single cluster WebLogic domain. For multi cluster WebLogic domain,  you need to manually modify the createFMWDomain.py and jrf-domain-template.yaml  ( in weblogic-kubernetes-operator/kubernetes/samples/scripts/common directory) to add the the new cluster before running the sample

[2022-04-06 22:38] robertpatrick commented on #2900
@jdvacasf Does this answer your question?

[2022-04-06 23:12] jshum2479 commented on #2818
When the LB EXTERNAL-IP column is <pending>,  that means your k8s does not have an LB opened up to the public, so you have to access the traefik service via the node port.   In this case, it should be your kubernetes cluster address and port combo.   80:30305 , 443:30443   (first is the target port of the service, second is the node port value)

`kubectl cluster-info`

I take it your  `192.168.1.2

[2022-04-07 07:57] jdvacasf commented on #2900
Yes, thanks.

[2022-04-07 07:57] #2900 closed

[2022-04-07 18:48] robertpatrick commented on #2819
This issue should be addressed and available in the upcoming 3.4.0 release.

[2022-04-07 18:48] #2819 closed

[2022-04-07 23:09] ankedia commented on #2795
The WKO documentation and sample files have been updated to use `InitialRAMPercentage` instead of `MinRAMPercentage`.

[2022-04-07 23:09] #2795 closed

[2022-04-21 20:41] #2794 closed

[2022-04-22 11:45] rjeberhard commented on #2794
This fix will be in today's 3.4.0 release.

[2022-04-27 17:59] robertpatrick commented on #2888
@jayamorin can you please answer the questions being posed?

[2022-04-27 18:01] robertpatrick commented on #2818
@dai0384448 is this still an issue for you?  If so, can you please review @jshum2479's questions/feedback and respond?

[2022-04-27 18:19] #134 closed

[2022-04-27 18:19] #789 closed

[2022-04-27 18:19] #1109 closed

[2022-04-27 18:20] #1110 closed

[2022-04-27 18:20] #1293 closed

[2022-05-03 03:10] rsureshbe81 opened #3026 "Slow response: throughput lower and pod's CPU and memory not utlized"
Hi,
we recently migrated our application to AKS (Azure kuberntes service) weblogic from VM(IAAS). Below are Cluster specification.  We did load testing and performance is not met existing benchmark, found that  slow response time and throughput is very low compare to weblogic running on VM, main concern is POD CPU and memory are under utilized less than 10% usage but application is very low. Pleas

[2022-05-03 16:07] sankarpn commented on #3026
Hi @rsureshbe81, can you please post your domain configuration details and try tuning the JVM parameters as mentioned in this FAQ? https://oracle.github.io/weblogic-kubernetes-operator/faq/resource-settings/
If you have done any performance profiling with tools such as JFR can you post those logs as well?

Also please post your questions to our "operator" support channel available at https://oracl

[2022-05-04 13:12] edburns commented on #3026
[MS internal tracking reference](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1535185)

[2022-05-04 18:26] mriccell commented on #3026
We observed a similar problem during the testing of this offering and documented a solution.  Please take a look at the domain on pv guide: https://oracle.github.io/weblogic-kubernetes-operator/samples/azure-kubernetes-service/domain-on-pv/, search for “limit”.
Let us know if this solves your problem.

Thanks
Monica

[2022-05-04 21:18] rsureshbe81 commented on #3026
We tried all option still not works. Can you please share Oracle Id, I will send meeting invite from company email. we can discuss. I can't share logs file and jfr in this forum.

[2022-05-05 17:43] mriccell commented on #3026
Can you first send an email to monica.riccelli@oracle.com, I would like for our Microsoft counterpart to be invited as well as other team participants.
Thanks

[2022-05-10 19:17] rsureshbe81 commented on #3026
Thanks Monica. I emailed all the details to your oracle email. We definitely need your core team assistance. Please reply to my office email, I will schedule a meeting.

[2022-05-25 17:55] Surabhi0709 opened #3102 "Weblogic operator fails to perform rolling restart of managed servers."
We are currently using weblogic-kubernetes-operator version :3.3.8
Our application is deployed to a  WLS cluster
Problem:
So the whenever a new auxiliary image with the new application binary is deployed the expected behavior is that the WebLogic Kubernetes Operator will do a rolling restart of the individual managed servers to pick up the new version of the application.
However in our case we hav

[2022-05-31 13:36] doxiao commented on #3102
@Surabhi0709 just a follow up to our discussions in the slack last week about this issue. Do you still see this issue now?

[2022-06-01 08:14] naveensgowda opened #3122 "Would like to be able to specify the UID for the container in helm chart v3.4.0"
Would like to be able to specify the UID for the container. We are using older version of Weblogic Operator (3.0.0) and now we are planning to use the latest one. We have **USER 1000** specified in the docker image in v3.0.0, whereas with latest images numeric user is not specifed and we have **USER oracle** in the docker image (in v3.4.0, v3.3.0).

We are using our own container management orches

[2022-06-01 15:01] ankedia commented on #3122
Hi @naveensgowda , I have created an Oracle internal JIRA OWLS-99772 to track this issue/requirement. We'll let you know once this option is added to the operator's helm chart.

[2022-06-01 21:57] edburns opened #3127 "WLS on AKS Domain on PV sample: multiple domains supported?"
I have a customer who wants to follow the steps in [WLS on AKS Domain on PV sample](https://oracle.github.io/weblogic-kubernetes-operator/samples/azure-kubernetes-service/domain-on-pv/) initially for the first domain, and then follow a subset of the steps for a second domain on the same AKS cluster, but with different PV for the second domain.

From the sample:

Customer:

​
    I had done the quo

[2022-06-01 22:14] edburns commented on #3127
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1549100

[2022-06-02 16:12] edburns commented on #3127
Found this in an [old document](https://docs.oracle.com/cd/E15523_01/web.1111/e14140/newdom.htm#WLDCW111).

![image](https://user-images.githubusercontent.com/75821/171675688-24b545d2-3223-4547-aa03-75b0e458a597.png)

I judge the best course of action is to report this as a usability issue. A better error message would have helped.

[2022-06-02 16:15] edburns opened #3133 "Domain names starting with numbers: output helpful error message"
I have a customer who tried to create a domain with this `domainUID`:

[code]

The action failed, but without a message indicating the reason being the `domainUID` value violated this [WLS invariant](https://docs.oracle.com/cd/E15523_01/web.1111/e14140/newdom.htm#WLDCW111):

![image](https://user-images.githubusercontent.com/75821/171676366-0a589d8a-7506-4ce3-aed6-dcbabab4fc4c.png)

Please see #31

[2022-06-02 16:16] edburns commented on #3127
Closing. See #3133.

[2022-06-02 16:16] #3127 closed

[2022-06-12 19:26] gwbatte opened #3161 "Issue deploying OIG on AKS"
**SOURCE:** [](https://docs.oracle.com/en/middleware/fusion-middleware/12.2.1.4/ikedg/installing-and-configuring-oracle-identity-governance.html#GUID-14196492-4391-4547-B395-5E2AE19A93B3
)

**ISSUE**
Setting up on AKS using Azure Storage Account / Fileshare "NFS" receive the following error

MountVolume.SetUp failed for volume "rcu-credentials-volume" : object "oigns"/"oig-rcu-credentials" not reg

[2022-06-12 19:41] gwbatte commented on #3161
Events:
  Type     Reason       Age                From               Message
  ----     ------       ----               ----               -------
  Normal   Scheduled    44m                default-scheduler  Successfully assigned oigns/governancedomain-create-fmw-infra-sample-domain-job-b5sxp to aks-<>-19717952-vmss00000m
  Normal   Pulling      44m                kubelet            Pulling imag

[2022-06-15 08:56] galiacheng commented on #3161
Hello @gwbatte which AKS version are you using?

[2022-06-16 17:27] #3122 closed

[2022-07-06 22:43] lay-le commented on #3161
This seems to be Kubernetes bug on CronJob (version 1.22, 1.23), it was fixed in 1.23.6. Please take a look at https://github.com/kubernetes/kubernetes/issues/105204 for more info.

[2022-08-04 12:59] arnabold opened #3303 "Feature Request: add the possibility to configure resources for a sidecar container"
This feature request is about the configuration of "resources" (limits and request) for a specific container in a multi-container pod. The specific use case concerns the usage of the monitoring-exporter as a sidecar. Usually a monitoring-exporter container consumes less cpu than a weblogic-server container.

[2022-08-15 21:24] alai8 commented on #3303
Thanks. I've filed internal Oracle JIRA OWLS-101705 to track the issue.

[2022-09-16 09:13] belfo opened #3423 "Feature Request: startup probes"
Would be nice to have (next to readinessProbe and livenessProbe probe) the startup probes.
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes

[2022-09-16 13:41] rjeberhard commented on #3423
Hi @belfo,

Thanks for reaching out. We had considered adding a startup probe but hadn't thought that it was necessary because our current liveness probe is designed to succeed while a WebLogic Server instance is starting.

While the readiness probe is an HTTP probe that attempts to connect to the standard WebLogic "ReadyApp" endpoint, the liveness probe is instead a [small script that is executed

[2022-09-16 14:28] belfo commented on #3423
In fact i had to put a very large liveness probe as it was killing the container before weblogic was starting, so it was restarting continuously (this is clearly caused by another issue in our cluster who is too slow)
The startup at least will avoid this as it won't kill the container.

[2022-09-16 14:57] rjeberhard commented on #3423
Do you happen to have any logs from the servers that were killed prior to your setting the large initialDelaySeconds?

[2022-09-16 15:07] belfo commented on #3423
I haven't kept  logs but what i have is the exit code:

Containers:
  weblogic-server:
    Container ID:  containerd://f2baeb6839bb88e66448d84dcc7baddf862801caa665f598542573ad61538d6a
    Image:         nexus.priv:9003/middleware/weblogic/wls:12.2.1.4.0.bcprov.vap.patch2
    Image ID:      nexus.itsmtaxud.priv:9003/middleware/weblogic/wls@sha256:f2af756c4df2358f27cb8f51c8469d83bea4594a6a5ec95be830

[2022-09-26 13:58] tbarnes-us commented on #1644
Also modify "create-domain.sh" etc calls to imagetool.sh commands and add option -b podman

[2022-09-26 14:03] tbarnes-us commented on #1644
RELATED PUBLIC SLACK THREAD. (Sept 2022): https://oracle-weblogic.slack.com/archives/CE3M9DGSY/p1663968575269959

[2022-09-29 07:11] SKerry1216 opened #3470 "the Administration Server and Managed Servers didn't start"
After I run the create-domain.sh to start the create on-pvc job,the job completed well.But the Administration Server and Managed Servers didn't start.
![QQ截图20220929150929](https://user-images.githubusercontent.com/59678918/192963659-bf76937f-de20-438c-9993-8d169d2bfb52.png)
here is the input file
![QQ截图20220929151126](https://user-images.githubusercontent.com/59678918/192964019-20788fcd-6b3b-4842

[2022-10-02 17:07] russgold commented on #3303
This is now in main

[2022-10-02 17:07] #3303 closed

[2022-10-05 16:02] edburns opened #3487 "Make version of k8s supported by WLS on AKS offer match what is actually in the code."
The docs, as published at https://aka.ms/wls-aks-well-tested-version say one thing.  The source code, as specified in https://github.com/oracle/weblogic-azure/blob/main/weblogic-azure-aks/src/main/resources/aks_well_tested_version.json say another.  This issue requests the assignee to make the docs reflect what is in the code.

Please assign this to @edburns.

[2022-10-05 19:10] #3487 closed

[2022-10-10 15:12] tbarnes-us commented on #3470
Sorry for the late response.

Please consult the [Domain Debugging ](https://oracle.github.io/weblogic-kubernetes-operator/userguide/managing-domains/model-in-image/debugging/) guide, this troubleshooting guide is in the Model in Image documentation but largely applies to all domain home source types. Also, if you're on OpenShift, check for its specific additional instructions in the doc.

And if

[2022-10-10 15:28] tbarnes-us commented on #2888
It's been months without a response, so closing.

[2022-10-10 15:30] #3026 closed

[2022-10-10 15:31] tbarnes-us commented on #3102
There's been no response for months. I'm assuming that this issue has been resolved.

[2022-10-10 15:31] #3102 closed

[2022-10-10 15:32] tbarnes-us commented on #3161
There's been no response for months, so I'm assuming this Issue was resolved.

[2022-10-10 15:32] #3161 closed

[2022-10-10 15:44] tbarnes-us commented on #3423
It is unusual to see '[livenessProbe.sh:77][SEVERE] WebLogic NodeManager process not found'. The NM is started very soon after the pod starts and before WebLogic Server itself is started. A log would be helpful to determine why the WL pod is taking so long to get to the NM start stage. Is this a JRF domain?

[2022-10-12 14:09] tbarnes-us commented on #3470
No. The 'domainPVMountPath' is the logical root directory of the PV within pod itself, which, by convention, is set to '/shared'. The '/scratch/k8s_dir' directory is the host path directory that the PV is using to store its files from '/shared'.  IIRC, the most common problem with domain on PV host paths is permissions. For sample purposes, 'chmod 777 /scratch/k8s_dir' (but I suspect the instructi

[2022-10-18 11:36] send2jayanth opened #3522 "weblogic operator is not starting the domains (PODS)"
Hello Team,

I am configuring weblogic on k8s using below link.

https://oracle.github.io/weblogic-kubernetes-operator/quickstart/

Domain has been created successfully  &   **kubectl get pods -n sample-domain1-ns** is not returning any pods. While checking ,  receiving below error in the operator logs.  Please guide me how to proceed further.

`{"timestamp":"2022-10-18T11:24:24.184910053Z","threa

[2022-10-18 11:47] rjeberhard commented on #3522
Are you testing against Kubernetes 1.25? If so, then this version of Kubernetes is not yet supported. It will be supported in the next release.

If not, then please respond with some more details about the Kubernetes environment that you are using.

[2022-10-19 07:12] send2jayanth commented on #3522
Thanks a lot Ryan for your prompt response .

Yes, I tried with K8S 1.25. Now I have downgraded to 1.23 & it works fine.

[2022-10-19 08:39] belfo commented on #3423
Hello @tbarnes-us
Indeed it's unusual, it was related to resource availability of the underlying K8s nodes.
Once the node got more resources (some logical limitation on the vcenter) all was good.

But the idea of having startup probes still make sense on my point of vue.
Worst case they are useless, best case they can at least prevent the pod to restart when not needed.

[2022-10-19 12:31] #3522 closed

[2022-10-19 15:19] tbarnes-us commented on #3423
A reproducer pod log would help evaluate the idea - e.g. whether the startup probe would help in the first place, and, if so, how the startup probe would need to be coded...

[2022-11-15 01:40] SKerry1216 opened #3661 "/shared/domains/sample-domain1/config/config.xml' not found"
I'm starting a domain on pv at my kubernetes cluster.Here's some infomation.
node1:192.168.79.132
node2:192.168.79.133
domainUID:sample-domain1
namespace: sample-domain1-ns
weblogicDomainStoragePath: /scratch/k8s_dir

and I have created and changed /scratch/k8s_dir owner to uid:1000,chmod to 777,for each node.
But when I start the sh scripet in kubernetes/samples/scripts/create-weblogic-domain/dom

[2022-11-18 15:11] belfo commented on #3423
I have no more the issue so hard to reproduce.
But the weblogic was not yet started (probably the same check as liveness could be enought?) with the advantage that it will not kill the pod until it's marked as started.
The limitation was around 20GB ram & GHz for all the node.... we have 8 nodes. So clearly not enough.

[2022-11-18 15:54] tbarnes-us commented on #3423
@rjeberhard @belfo

I recommend closing this Issue because the root problem (lack of allocated resources) has been fixed, and, in my opinion, a wide variety of failures and retries are expected when too few resources are allocated. It can be revisited if/when the problem is reproduced with sufficient data for a full diagnosis (pod logs, etc).

Thoughts?